/*==============================FONTS==============================*/
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/GilroyRegular.woff2') format('woff2'),
         url('../fonts/GilroyRegular.woff') format('woff'),
         url('../fonts/GilroyRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothamProRegular.eot');
    src: url('../fonts/GothamProRegular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GothamProRegular.woff') format('woff'),
         url('../fonts/GothamProRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}