/*==============================RESET==============================*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    height: auto;
}
input, button, textarea, select {
    font: inherit;
    color: inherit;
}
button {
    cursor: pointer;
    background: none;
    border: none;
}
a {
    color: inherit;
    text-decoration: none;
}
ul, ol {
    list-style: none;
    padding: 0;
}
table {
    border-collapse: collapse;
}