/*==============================GENERAL==============================*/
html {
    scroll-behavior: smooth;
}
body {
	font-family: "Inter";
    min-width: 320px;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    background: #181818;
    color: #e6e6e6;
    &.lock{
        overflow: hidden;
    }
    @media (max-width: 767px) {
        background-image: url(../img/bg-promo-mobile.jpg);
        background-repeat: no-repeat;
        background-position: 50% 0;
    }
}
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}
.center-wrapper {
    position: relative;
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 15px;
    @media (max-width: 1399px) { 
        padding: 0 70px;
    }
    @media (max-width: 959px) {
        padding: 0 40px;
    }
    @media (max-width: 797px) {
        padding: 0 30px;
    }
    @media (max-width: 479px) {
        padding: 0 20px;
    }
}
h1, h2, h3, h4, h5, h6 {
	margin-bottom: 20px;
    line-height: 1.2;
}
h1, .title_1{
    font-size: 52px;
    line-height: 1.1;
    @media (max-width: 1399px) { 
        font-size: 47px;
    }
    @media (max-width: 1279px) {
        font-size: 40px;
    }
    @media (max-width: 959px) {
        font-size: 32px;
    }
    @media (max-width: 767px) {
        font-size: 36px;
    }
    @media (max-width: 479px) {
        font-size: 32px;
    }
}
h2, .title_2{
    font-size: 36px;
    font-weight: 600;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    @media (max-width: 1279px) {
        font-size: 24px;
    }
}
h3, .title_3{
    font-weight: 600;
    letter-spacing: -0.03em;
    font-size: 20px;
}
p {
    margin-bottom: 20px;
}
a{
	outline: none;
	text-decoration: none;
	transition: 
        background-color .3s ease,
        color .3s ease,
        opacity .3s ease,
        border-color .3s ease;
}
img {
    height: auto;
}
:root {
    --color-accent: #943b27;
}