@media only screen and (max-width: 575px) { 
	.center-wrapper{
		max-width: 100%;
	}
    h2, .title_2{
        font-size: 30px;
    }
    .features__col{
        flex: 0 0 50%;
    }
    .fim_digit{
        font-size: 55px;
    }
    .fim_plus{
        font-size: 32px;
    }
    .promo__title{
        font-size: 34px;
        line-height: 1.3;   
    }
    .ps-item{
        padding-left: 10px;
        padding-right: 10px;
    }
    .ps-item__text{
        font-size: 18px;
    }
    .ps-item__block{
        padding: 15px 25px 10px;
    }
    .ps-item__img{
        height: 120px;
        img{
            max-height: 100%;
        }
    }
    .clients__row{
        display: block;
    }
    .clients__item{
        margin-bottom: 15px;
    }
    .clients__section{
        &:first-child{
            padding-bottom: 30px;
        }
    }
    .about-item__img{
        height: 150px;
    }
    .about-types-item.active, .about-types-item {
        position: relative;
        flex: 0 0 50%;
    }
    .about-types-item__img{
        height: 180px;
    }
    .possibilities__desc {
        font-size: 16px;
    }
    .possibilities-item__img{
        display: none;
    }
    .possibilities-item__content{
        min-height: auto;
        padding: 25px 20px 15px;
    }
    .faq-item__q {
        padding: 15px 20px 15px 30px;
        font-size: 16px;
    }
    .faq-item__a {
        margin-left: 40px;
        padding: 15px 20px 15px 30px;
        font-size: 16px;
    }
    .contacts__text{
        font-size: 19px;
    }
    .mainform__body{
        padding: 25px;
    }
    .mainform__title{
        font-size: 27px;
    }
    .clients__item{
        height: 60px;
        border: 2px solid #D5D6F6;
    }
}