@media only screen and (max-width: 767px) { 
	.center-wrapper{
		max-width: 540px;
	}
    .clients__item{
        margin-bottom: 35px;
    }
    .about__row{
        display: block;
    }
    .about-item{
        margin-bottom: 15px;
    }
    .about-types__inner{
        margin-bottom: 30px;
        height: auto;
    }
    .about-types__row{
        flex-wrap: wrap;
        transform: none;
        margin: 0;
    }
    .about-types-item.active{
        .about-types-item__img:after{
            opacity: 0.64;
        }
    }
    .about-types-item.active,
    .about-types-item{
        position: relative;
        flex: 0 0 33.333%
    }
    .about-types__captions-wrap{
        display: none;
    }
    .about-types-item__caption{
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 15px;
        font-size: 20px;
        z-index: 20;
    }
    .possibilities{
        margin-bottom: 50px;
    }
    .possibilities__desc{
        font-size: 18px;
        margin-bottom: 30px;
    }
    .possibilities-item__img {
        width: 140px;
        height: 300px;
        bottom: 50%;
        transform: translateY(50%);
        right: 5px;
    }
    .possibilities-item__content {
        margin: 0;
        min-height: 350px;
        height: auto;
        padding: 30px 160px 30px 30px;
    }
    .possibilities-item{
        padding-right: 0;
        height: auto;
    }
    .faq-item__q{
        width: 100%;
    }
    .faq{
        padding-bottom: 30px;
    }
    .faq__note{
        padding-left: 0;
    }
    .faq-item__a{
        margin-left: 70px;
    }
    .mainform__bottom{
        display: block;
    }
    .promo-slider .slick-arrow {
        top: 120px;
    }
    .contacts__text_2{
        font-size: 19px;
    }
    .mainform__bottom-leftside{
        margin-bottom: 30px;
    }
    .mainform__item{
        flex: 0 0 100%;
    }
    .footer__items{
        padding-bottom: 0;
    }
    .footer__center{
        padding: 30px 0 20px 0;
    }
    .footer__row{
        display: block;
        margin-bottom: 25px;
    }
    .promo-slider .slick-dots{
        bottom: 0;
    }
}