@media only screen and (max-width: 767px) { 
	.center-wrapper{
		max-width: 540px;
	}
    .main{
        padding-top: 30px;
    }
    .footer-menu ul{
        margin: 0;
    }
    .footer__row{
        flex-wrap: wrap;
    }
    .footer__col{
        flex: 0 0 50%;
        max-width: 50%;
        &:first-child{
            flex: 0 0 100%;
            max-width: 100%;
            padding-top: 20px;
            order: 1;
        }
    }
    .footer-contacts__item{
        line-height: 1.3;
    }
    .footer__bottom{
        display: block;
        text-align: center;
        padding-bottom: 30px;
    }
    .footer-logo{
        display: none;
    }
    .footer-logo_mobile{
        display: flex;
        margin-bottom: 40px;
    }
    .footer-info__item{
        &:last-child{
            margin-top: 15px;
            margin-bottom: 5px;
        }
    }
    .mainform__body{
        display: block;
    }
    .mainform__content{
        max-width: 100%;
    }
    .mainform__image{
        padding: 0;
        display: none;
    }
    .mainform__image_mobile{
        margin-bottom: 30px;
        padding: 0 70px;
        display: block;
    }
    .mainform__title{
        text-align: center;
    }
    .service-process__col{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .service-tariffs__row{
        display: block;
    }
    .service-tariffs__col{
        max-width: 100%;
        margin-bottom: 30px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    .photo-tariffs-item__row{
        display: block;
    }
    .photo-tariffs__row{
        display: block;
    }
    .photo-tariffs-item__leftside{
        max-width: 100%;
        margin-bottom: 10px;
    }
    .photo-tariffs__col{
        max-width: 100%;
    }
    .photo-tariffs-item__rightside{
        margin-right: 0;
        margin: 0 -30px;
    }
    .steps__row{
        display: block;
    }
    .steps__col{
        max-width: 100%;
    }
    .steps-item{
        align-items: stretch;
        min-height: auto;
        min-height: 85px;
    }
    .steps-item__num{
        min-height: 100%;
        height: auto;
    }
    .steps-item:after{
        display: none !important;
    }
    .steps-item__desc{
        display: flex;
        align-items: center;
        font-size: 20px;
    }
    .steps__col{
        margin-bottom: 20px;
    }
    .article-steps-item{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .article__section table th,
    .article__section table td{
        padding: 12px;
    }
    .article__section:last-child{
        padding-bottom: 20px;
    }
}