/*==============================GENERAL==============================*/
*,
:before,
:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.clr:after{
	content: '';
	display: block;
	clear: both;
}
html, body{
    position: relative;
    min-width: 320px;
    height: 100%;
}
body{ 
    font-family: 'Gilroy';
    line-height: 1;
    font-size: 16px;
    background: #080a0f;
    color: #fff;
    &:before{
    	content: '';
    	display: block;
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 1400px;
    	background-image: url(../images/bg-main-top.png);
    	background-position: 50% 0;
    	background-size: cover;
    }
} 
.wrapper{
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    z-index: 5;
}
.center-wrapper{
	position: relative;
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1170px;
}
h1, h2, h3, h4, h5, h6{
	margin-bottom: 25px;
	letter-spacing: 0.025em;	
	color: #fff;
} 
h1{
    font-family: 'BebasNeueBold';
	font-size: 48px;
	line-height: 60px;
}
h2{
    font-family: 'BebasNeueBold';
    font-size: 30px;
}
h3{
	font-family: 'BebasNeueBold';
	font-size: 27px;
}
h4{
	font-size: 20px;
	line-height: 27px;
	font-weight: 700;	
}
h5{	
	font-size: 14px;
	line-height: 20px;
	font-weight: 700;	
}
p{
	margin-bottom: 35px;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 0.04em;
	color: #fff;
}
a{
	text-decoration: none;
	color: #fff;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
blockquote{
	position: relative;
	padding: 30px 0;
	margin: 0;
	margin-bottom: 15px;
	&:before,
	&:after{
		content: '';
		display: block;
		position: absolute;
		left: 0;
		width: 270px;
		height: 1px;
		background: #fff;
	}
	&:before{
		top: 0;
	}
	&:after{
		bottom: 0;
	}
	p{
		margin: 0;
	}
}
img{
	vertical-align: top;
}
.pull-left{
	float: left;
}
.pull-right{
	float: right;
}
.table{
	display: table;
	width: 100%;
}
.cell{
	display: table-cell;
	vertical-align: top;
}
.cell_full{
	width: 100%;
}
.ibg{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	img{
		display: none;
	}
}
.img-container{
	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.custom-object-fit{
	background-size: cover;
	background-position: 50% 50%;
	img{
		opacity: 0;
	}
}
.social-btn{
	display: inline-block;
	vertical-align: top;
	width: 37px;
	height: 37px;
	background-color: #131721;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	&:hover{
		background-color: #1b212f;
	}
}
.vk{
	background-image: url(../images/icon-social-vk-white.svg);
	background-size: 16px 10px;
}
.fb{
	background-image: url(../images/icon-social-fb-white.svg);
	background-size: 10px 16px;
}
.inst{
	background-image: url(../images/icon-social-inst-white.svg);
	background-size: 17px 17px;
}
.ytube{
	background-image: url(../images/icon-social-ytube-white.svg);
	background-size: 17px 13px;
}
/*---------------------page styles------------------------*/
.content{
	ul{
		padding-bottom: 15px;
		li{
			position: relative;
			margin-bottom: 15px;
			padding-left: 20px;
			font-size: 14px;
			line-height: 20px;
			letter-spacing: 0.01em;
			color: #fff;
			&:before{
				content: '';
				display: block;
				position: absolute;
				top: 6px;
				left: 0;
				width: 8px;
				height: 8px;
				background-color: #33bdeb;
			}
		}
	}
	ol{
		padding-bottom: 15px;
		counter-reset: myCounter;
		li{
			position: relative;
			padding-left: 20px;
			margin-bottom: 15px;
			font-size: 14px;
			line-height: 20px;
			letter-spacing: 0.01em;
			color: #fff;
			&:before{
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				counter-increment: myCounter;
				content:counter(myCounter);
			}
		}
	}
	.breadcrumbs-list{
		padding: 0;
		li{
			padding-left: 0;
			&:before{
				display: none;
			}
		}
	}
}
.content-text{
	padding: 0 25px 0 50px;
}
.content-image{
	padding: 30px 0;
	img{
		max-width: 100%;
	}
}
.page-promo{
	margin-bottom: 50px;
	display: table;
	width: 100%;
	h1{
		margin: 0;
		position: relative;
		z-index: 10;
	}
}
.page-promo-content{
	position: relative;
	display: table-cell;
	vertical-align: bottom;
	height: 500px;
	padding: 30px 50px;
}
.page-promo__bg{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	&:after{
		content: '';
		display: block;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 370px;
		background-image: url(../images/page-promo-shadow.png);
		background-repeat: no-repeat;
		background-position: 50% 0;
	}
}
/*--------------form-styles-------------------*/
.checkbox{
	margin-bottom: 10px;
	input[type="checkbox"]{
		display: none;
	}
	label{
		position: relative;
		display: inline-block;
		font-size: 13px;
		line-height: 16px;
		padding-left: 30px;
		letter-spacing: 0.01em;
		cursor: pointer;
	}
	label:before{
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 16px;
		height: 16px;
		border: 1px solid #737373;
		z-index: 1;
	}
	label:after{
		content: '';
		display: none;
		position: absolute;
		top: 4px;
		left: 4px;
		width: 8px;
		height: 8px;
		background-color: #33bdeb;
		z-index: 2;
	}
	input[type="checkbox"]:checked + label:after {
		display: block;
	}
}
.radio{
	margin-bottom: 10px;
	input[type="radio"]{
		display: none;
	}
	label{
		position: relative;
		display: inline-block;
		font-size: 13px;
		line-height: 16px;
		padding-left: 30px;
		letter-spacing: 0.01em;
		cursor: pointer;
	}
	label:before{
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 16px;
		height: 16px;
		border: 1px solid #737373;
		border-radius: 50%;
		z-index: 1;
	}
	label:after{
		content: '';
		display: none;
		position: absolute;
		top: 4px;
		left: 4px;
		border-radius: 50%;
		width: 8px;
		height: 8px;
		background-color: #33bdeb;
		z-index: 2;
	}
	input[type="radio"]:checked + label:after {
		display: block;
	}
}
.select{
	position: relative;
	cursor: pointer;
}
.select-title{
	position: relative;
	width: 100%;
	height: 37px;
	padding: 0 30px 0 20px;
	background: #131721;
	white-space: nowrap;
	z-index: 1;
	-webkit-transition: background 0.2s ease;
	-moz-transition: background 0.2s ease;
	-ms-transition: background 0.2s ease;
	-o-transition: background 0.2s ease;
	transition: background 0.2s ease;
	&:hover{
		background: #1b212f;
		.select-title__arrow{
			background-image: url(../images/icon-down-arrow-active.png);
		}
	}
}
.select-title__arrow{
	position: absolute;
	top: 50%;
	right: 15px;
	margin-top: -3px;
	width: 11px;
	height: 6px;
	background-image: url(../images/icon-down-arrow.png);
	-webkit-transition: transform 0.2s ease;
	-moz-transition: transform 0.2s ease;
	-ms-transition: transform 0.2s ease;
	-o-transition: transform 0.2s ease;
	transition: transform 0.2s ease;
}
.select-title__value{
	color: #fff;
	line-height: 36px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: 12px;
	letter-spacing: 0.12em;
	font-weight: 700;
	text-transform: uppercase;
}
.select-options{
	display: none;
	position: absolute;
	top: 100%;
	min-width: 100%;
	padding: 15px 0;
	border-top: none;
	overflow: hidden;
	background-color: rgba(14, 17, 26, 0.95);
	z-index: 10;
}
.select-options-inside{
	height: 235px;
}
.select-options__value{
    padding: 12px 20px 12px 45px;
	font-size: 13px;
	color: #fff;
	letter-spacing: 0.02em;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	&:first-child{
		padding-top: 0;
	}
	&:last-child{
		padding-bottom: 0;
	}
	&:hover,
	&.active{
		color: #de58eb;
	}
}
.select.active .select-title{
	border-color: #000;
}
.select.active .select-title__arrow{
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
/*---------------modal-window--------------------*/
.box-modal{
	position: relative;
	padding: 40px 60px;
	width: 1020px;
	background-color: #030303;
	border: 1px solid #333;
}
.arcticmodal-close {
	position: absolute;
	top: 4px;
	right: 0;
	height: 16px;
	background-image: url(../images/icon-modal-close.png);
	cursor: pointer;
}
.modal-top{
	padding-bottom: 10px;
}
.modal-top-row{
	position: relative;
	margin-bottom: 10px;
	padding-right: 100px;
}
.modal__date{
	float: left;
	font-size: 16px;
	letter-spacing: 0.12em;
	text-transform: uppercase;
}
.modal__close{
	position: absolute;
	font-size: 16px;
	letter-spacing: 0.12em;
	text-transform: uppercase;
}
.modal__title{
	float: left;
    font-family: 'BebasNeueBold';
	font-size: 30px;
	text-transform: uppercase;
	line-height: 1.1;
	letter-spacing: 0.025em;
}
.modal__number{
	position: absolute;
	top: 9px;
	right: 0;
	font-size: 16px;
	letter-spacing: 0.025em;
}
.modal-content__prev{
	position: absolute;
	top: 50%;
	left: 20px;
	cursor: pointer;
	width: 14px;
	height: 25px;
	background-image: url(../images/icon-prev.png);
	opacity: 0.3;
	&:hover{
		opacity: 1;
	}
}
.modal-content__next{
	position: absolute;
	top: 50%;
	right: 20px;
	width: 14px;
	cursor: pointer;
	height: 25px;
	background-image: url(../images/icon-next.png);
	opacity: 0.3;
	&:hover{
		opacity: 1;
	}
}
.modal-content-body{
	margin-bottom: 40px;
}
.modal-bottom-left{
	float: left;
}
.modal-social__title{
	display: inline-block;
	vertical-align: middle;
	padding-right: 10px;
	font-size: 14px;
	line-height: 37px;
}
.modal-social-buttons{
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
	.social-btn{
		margin-right: 4px;
	}
}
.social-btn_full{
	width: auto;
	padding: 0 15px;
	line-height: 37px;
	font-size: 14px;
}
.modal-bottom-right{
	float: right;
}
.modal-like{
	margin-right: 20px;
	vertical-align: middle !important;
	width: 60px;
	height: 43px;
}
.modal-stats{
	display: inline-block;
	vertical-align: middle;
}
.modal-stat__item{
	display: inline-block;
	vertical-align: top;
}
.modal-stat__item{
	display: inline-block;
	vertical-align: top;
	margin-right: 15px;
	line-height: 18px;
	color: #fff;
	letter-spacing: 0.12em;
	font-size: 11px;
	font-weight: 700;
	padding-left: 18px;
	&:last-child{
		margin-right: 0;
	}
}
.icon-views{
	background-image: url(../images/icon-views-white.svg);
	background-size: 12px 7px;
	background-repeat: no-repeat;
	background-position: 0 50%;
}
.icon-favorite{
	background-image: url(../images/icon-star-white.svg);
	background-size: 10px 10px;
	background-repeat: no-repeat;
	background-position: 0 50%;
}
.icon-photos{
	background-image: url(../images/icon-photos-white.svg);
	background-size: 13px 9px;
	background-repeat: no-repeat;
	background-position: 0 50%;
}
.modal-content__image{
	img{
		max-width: 100%;
	}
}
.modal-content__poster{
	position: relative;
	height: 600px;
	iframe{
		width: 100%;
		height: 100%;
	}
	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.modal-content__play{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%); 
	-ms-transform: translate(-50%, -50%); 
	transform: translate(-50%, -50%); 
	width: 138px;
	height: 138px;
	background-image: url(../images/icon-play-modal.png);
	cursor: pointer;
	z-index: 10;
}
.modal-bottom-left{
	padding-top: 3px;
}