/*==============================PLUGINS==============================*/
/*---------------------arcticmodal------------------------*/
.arcticmodal-overlay,
.arcticmodal-container { 
	position: fixed; 
	left: 0; 
	top: 0; 
	right: 0; 
	bottom: 0; 
	z-index: 1000; 
}
.arcticmodal-container { 
	overflow: auto;
	margin: 0;
	padding: 0;
	border: 0;
	border-collapse: collapse;
}
*:first-child+html .arcticmodal-container { 
	height: 100% 
}
.arcticmodal-container_i { 
	height: 100%;
	margin: 0 auto;
}
.arcticmodal-container_i2 { 
	padding: 24px;
	margin: 0;
	border: 0;
	vertical-align: middle;
}
.arcticmodal-error { 
	padding: 20px;
	border-radius: 10px;
	background: #000;
	color: #fff;
}
.arcticmodal-loading { 
	width: 80px;
	height: 80px;
	border-radius: 10px;
}
/*---------------------bxslider------------------------*/
.bx-wrapper {
  position: relative;
  padding: 0;
  *zoom: 1;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
.bx-wrapper img {
  max-width: 100%;
  display: block;
}
.bxslider {
  margin: 0;
  padding: 0;
}
ul.bxslider {
  list-style: none;
}
.bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
}
/** THEME
===================================*/
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
}
/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}
/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #000;
}
.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  vertical-align: bottom;
  *zoom: 1;
  *display: inline;
}
.bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0;
}
/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-controls-direction a{
  position: absolute;
  outline: 0;
  text-indent: -9999px;
  z-index: 9999;
  width: 11px;
  top: 157px;
  top: 50%;
  margin-top: -14px;
  opacity: 0.5;
  height: 28px;
}
.bx-wrapper .bx-controls-direction a:hover{
  opacity: 1;
}

/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center;
}
.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active,
.bx-wrapper .bx-controls-auto .bx-start:focus {
  background-position: -86px 0;
}
.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active,
.bx-wrapper .bx-controls-auto .bx-stop:focus {
  background-position: -86px -33px;
}
/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}
/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}
.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}
/*---------------------jspPane----------------------*/
.jspContainer{
  overflow: hidden;
  position: relative;
}
.jspPane{
  position: absolute;
}
.jspVerticalBar{
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
}
.jspHorizontalBar{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
}
.jspCap{
  display: none;
}
.jspHorizontalBar .jspCap{
  float: left;
}
.jspTrack{
  position: relative;
  &:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    background: rgba(255,255,255, 0.2);
    height: 100%;
  }
}
.jspDrag{
  position: relative;
  left: 0;
  cursor: pointer;
  z-index: 1;
  background: #fff;
}
.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag{
  float: left;
  height: 100%;
}
.jspArrow{
  background: #50506d;
  text-indent: -20000px;
  display: block;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.jspArrow.jspDisabled{
  cursor: default;
  background: #e8e8e8;
}
.jspVerticalBar .jspArrow{
  height: 6px;
}
.jspHorizontalBar .jspArrow{
  width: 3px;
  float: left;
  height: 100%;
}
.jspVerticalBar .jspArrow:focus{
  outline: none;
}
.jspCorner{
  background: #eeeef4;
  float: left;
  height: 100%;
}
.jspVerticalBar{
  left: 20px;
}
/*-----------------slick-slider---------------------*/
.slick-slider{
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
		touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}
.slick-list{
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.slick-list:focus{
	outline: none;
}
.slick-list.dragging{
	cursor: pointer;
	cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list{
	-webkit-transform: translate3d(0, 0, 0);
	   -moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		 -o-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
}
.slick-track{
	position: relative;
	top: 0;
	left: 0;
	display: block;
}
.slick-track:before,
.slick-track:after{
	display: table;
	content: '';
}
.slick-track:after{
	clear: both;
}
.slick-loading .slick-track{
	visibility: hidden;
}
.slick-slide{
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
}
[dir='rtl'] .slick-slide{
	float: right;
}
.slick-slide img{
	display: block;
}
.slick-slide.slick-loading img{
	display: none;
}
.slick-slide.dragging img{
	pointer-events: none;
}
.slick-initialized .slick-slide{
	display: block;
}
.slick-loading .slick-slide{
	visibility: hidden;
}
.slick-vertical .slick-slide{
	display: block;
	height: auto;
	border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
	display: none;
}
/* Slider-theme */
//*---------------------slick custom------------------------*/
.slick-arrow{
  position: absolute;
  display: block;
  top: 50%;
  font-size: 0;
  background: transparent;
  z-index: 20;
}
.slick-dots{
    bottom: 20px;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 0;
    z-index: 20;
}
.slick-dots li{
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
}
.slick-dots li.slick-active button{
    background-color: #00BFA5;
    opacity: 1;
}
.slick-dots li button{
    width: 19px;
    height: 19px;
    background: #fff;
    background-color: #fff;
    border-radius: 100%;
}