/*==============================ADAPTIVE==============================*/
@media only screen and (max-width: 1260px) {
	.main{
		max-width: 970px;
	}
	.center_leftside{
		width: 580px;
	}
	.header-menu li a {
	    padding: 29px 10px;
	    font-size: 11px;
	}
	#magic-line:after{
		left: 10px;
	}
	.promo-main{
		width: 428px;
	}
	.promo-main__content{
		width: 100%;
		padding: 20px 0 20px 30px;
	}
	.gallery-best-item{
		height: 125px;
	}
	.content-leftside{
		width: 580px;
	}
	.event-column{
		width: 50%;
		&:nth-child(n+9){
			display: none;
		}
	}
	.footer-menu{
		padding: 0 25px;
	}
	.event-categories-nav ul li{
		padding-right: 10px;
	}
	.event-video-column{
		width: 50%;
	}
	.event-categories_full{
		padding: 20px 25px;
	}
	.announcement__image{
		float: none;
		margin: 0 0 25px 0;
	}
	.announcement-column{
		width: 50%;
	}
	.announcement-recommend-column{
		width: 25%;
		&:nth-child(n+5){
			display: none;
		}
	}
	.article-content{
		padding: 0 0 50px;
	}
	.article-content-column{
		img{
			width: 100%;
		}
	}
	.other-articles-row{
		margin-left: -5px;
		margin-right: -5px;
	}
	.other-articles-column{
		padding: 0 5px;
	}
	.place-column{
		width: 100%;
	}
	.place-description {
	  	padding: 0 0 20px 0; 
	}
	.place-pager__item span{
		height: 130px;
	}
	.place-slider__image{
		height: 300px;
	}
	.place-menu {
	    padding: 35px 25px 1px 25px;
	}
	.place-menu-item__image{
		height: 120px;
	}
	.place-menu-item__description{
		height: 120px;
	}
	.place-menu-item__description .cell{
		padding: 10px;
		font-size: 11px;
		line-height: 16px;
	}
	.place-review-item {
	    padding: 35px 0 20px 25px;
	}
	.place-review-item__text{
		padding-right: 40px;
	}
	.place-review__btn{
		margin-left: 10px;
		width: 160px;
	}
	.form-rate__btn{
		width: 48px;
	}
	.event-video-bestitem .event-video-item__poster{
		height: 340px;
	}
	.event-video-bestitem .event-video-item__title{
		font-size: 34px;
	}
	.place-item__image{
		height: 280px;
	}
	.place-item__rating{
		top: 310px;
	}
	.box-modal{
		width: 950px;
	}
}
@media only screen and (max-width: 1010px) {
	.main{
		max-width: 750px;
		padding: 0 15px;
	}
	.center_leftside{
		width: 100%;
	}
	.content-banner{
		height: auto;
	}
	.header-search{
		position: static;
	}
	.header-search-form{
		top: 71px;
		left: 0;
		width: 100%;
	}
	.header-menu{
		position: static;
		ul{
			display: none;
			position: absolute;
			left: 0;
			top: 71px;
			background: #000;
			width: 100%;
			z-index: 30;
			li{
				display: block;
				a{
					display: block;
					font-size: 14px;
					padding: 15px 0;
					text-align: center;
					&:after{
						display: none !important;
					}
				}
			}
		}
	}
	#magic-line{
		display: none !important;
	}
	.header-table > .cell{
		padding-right: 50px;
	}
	.header-menu__switcher{
		display: inline-block;
	}
	.promo-main{
		float: none;
		width: 100%;
		margin-bottom: 10px;
	}
	.promo-content{
		float: none;
		width: 100%;
	}
	.promo-video-item__image{
		height: 240px;
	}
	.gallery-best-item{
		height: 95px;
	}
	.event-item__image{
		height: 300px;
	}
	.content-leftside{
		width: 100%;
		margin-bottom: 50px;
		float: none;
	}
	.content-rightside{
		float: none;
		width: 100%;
	}
	.main-article-big{
		margin: 0 auto 10px;
		width: 450px;
	}
	.main-article-big__image{
		background-position: 50% 0;
	}
	.footer-menu{
		display: none;
	}
	.banner{
		height: auto !important;
	}
	.gallery-topweek-column{
		width: 25%;
	}
	.event-specialitem__image{
		height: 350px;
	}
	.event-categories{
		padding-right: 0;
	}
	.event-categories__btn{
		position: static;
	}
	.event-categories-nav{
		margin-bottom: 10px;
	}
	.event-product__author{
		min-height: auto;
	}
	.event-product{
		padding-top: 20px;
		.product-item__image{
			height: auto;
		}
	}
	.event-gallery{
		padding-bottom: 20px;
	}
	.event-section__date{
		margin-bottom: 15px;
	}
	.event-categories_full .event-categories-nav{
		margin-bottom: 0;
		padding: 0;
	}
	.event-categories_full .event-categories-nav ul li{
		padding: 0 8px;
	}
	.announcement-column{
		width: 33.333%;
	}
	.announcement-recommend-column{
		width: 33.333%;
		&:nth-child(n+4){
			display: none;
		}
	}
	.announcement{
		padding-right: 0;
	}
	.other-articles-column{
		width: 50%;
	}
	.article-content-column:last-child{
		padding-left: 0;
	}
	.article-content-column:first-child p{
		padding-right: 0;
	}
	.article-content-column:last-child p{
		padding-right: 0;
	}
	.place-column{
		width: 50%;
	}
	.place-slider__image{
		height: 350px;
	}
	.place-pager__item span{
		height: 150px;
	}
	.place-slider-section{
		margin-bottom: 10px;
	}
	.main-articles-list{
		margin-left: -5px;
		margin-right: -5px;
	}
	.main-article-column{
		float: left;
		padding: 0 5px;
		width: 50%;
		.banner{
			height: 118px !important;
			margin: 0;
		}
	}
	.main-article-item-table .cell:first-child {
	    padding: 10px 0 10px 20px;
	}
	.main-article-item__title{
		margin-bottom: 7px;
	}
	.main-article-item__place{
		font-size: 18px;
	}
	.notablet{
		display: none;
	}
	.article-item__image img,
	.place-item__image img,
	.event-item__image img,
	.event-specialitem__image img,
	.gallery-best-item img,
	.promo-video-item__image img,
	.announcement-item__image img,
	.gallery-topweek-item img,
	.event-video-item__poster img{
		-webkit-transform: scale(1);
	    -ms-transform: scale(1);
	    transform: scale(1);
	}
	.announcement-place-block{
		width: 380px;
		margin: 0 auto 20px;
	}
	.content-bigbanner{
		margin: 0 auto 10px;
		width: 450px;
		height: 450px !important;
	}
	.rightsite-row{
		margin-left: -5px;
		margin-right: -5px;
	}
	.rightsite-column{
		float: left;
		width: 50%;
		margin-bottom: 10px;
		padding: 0 5px;
		.content-bigbanner{
			width: 100%;
			height: auto !important;
		}
	}
	.event-video-item__poster{
		height: 230px;
	}
	.place-item__image{
		height: 190px;
	}
	.place-item__rating{
		top: 220px;
	}
	.place-logo__image{
		height: 100px;
	}
	.only-desktop{
		display: none;
	}
	.box-modal{
		width: 100%;
		padding: 40px;
	}
	.modal-content__prev{
		left: 11px;
	}
	.modal-content__next{
		right: 11px;
	}
	.modal-like{
		margin-right: 10px;
	}
	.arcticmodal-container_i2{
		padding: 20px 10px;
	}
	.modal-stat__item{
		margin-right: 5px;
	}
	.modal-content__play{
		width: 80px;
		height: 80px;
		background-size: cover;
	}
	.modal-content__poster{
		height: 450px;
	}
}
@media only screen and (max-width: 767px) {
	.breadcrumbs{
		display: none;
	}
	.main{
		max-width: 100%;
	}
	.promo-main__image{
		height: 400px;
	}
	.promo-video-item{
		margin: 0 auto;
		width: 260px;
	}
	.promo-video-item__image{
		height: 175px;
	}
	.event-item__image{
		height: 250px;
	}
	.event-specialitem__image{
		height: 296px;
	}
	.event-categories-nav{
		padding: 0;
	}
	.event-categories_full {
	    padding: 20px 25px 10px 25px;
	}
	.event-categories-nav ul{
		display: block;
		font-size: 0;
	}
	.event-categories-nav ul li{
		display: inline-block;
		vertical-align: top;
		margin-bottom: 15px;
		width: 33.333%;
	}
	.event-categories_full .event-categories-nav ul li{
		text-align: left;
		padding: 0 20px 0 0;
	}
	.announcement-column{
		width: 50%;
	}
	.announcement-recommend-column{
		width: 50%;
		&:nth-child(n+3){
			display: none;
		}
	}
	.main-article-column{
		float: none;
		width: 100%;
		.banner{
			height: auto !important;
		}
	}
	.rightsite-column{
		.place-item-content {
		    padding: 25px 30px 60px 20px;
		}
		.place-item__rating{
			right: 10px;
		}
	}
	.content__title{
		display: block;
		margin: 0;
		text-align: center;
	}
	.event-specialitem__category{
		font-size: 12px;
	}
	.event-day__name{
		display: block;
		text-align: center;
	}
	.event-video-item__poster{
		height: 200px;
	}
	.place-item__rating{
		right: 20px;
		width: 42px;
		height: 42px;
		line-height: 38px;
	}
	.place-filter-price-range .cell{
		padding: 0;
	}
	.place-filter-block{
		padding: 15px;
		.checkbox-column{
			padding-right: 5px;
		}
	}
	.modal-social{
		position: relative;
		top: -39px;
	}
	.modal-social__title{
		display: block;
		margin: 0 0 5px 0;
	}
	.box-modal{
		padding-bottom: 10px;
	}
}
@media only screen and (max-width: 639px) {
	.place-filter-block{
		padding: 15px 30px;
	}
	.header-table > .cell{
		padding-right: 15px;
	}
	.header-logo{
		display: inline-block;
		width: 130px;
		img{
			max-width: 100%;
			height: auto;
		}
	}
	.header-search__switcher{
		width: 65px;
	}
	.promo-main__image{
		height: 300px;
	}
	.promo-content-top-column{
		float: none;
		width: 100%;
		&:first-child{
			margin-bottom: 10px;
		}
	}
	.promo-video-item__views{
		width: 62px;
		padding-left: 17px;
	}
	.promo-video-item__title{
		padding-right: 10px;
		font-size: 11px;
	}
	.announcement-item-content{
		padding: 12px 15px 10px 20px;
	}
	.announcement-item__image{
		height: 215px;
	}
	.event-item__image{
		height: 200px;
	}
	.content__more{
		display: none;
	}
	.main-section__title{
		font-size: 29px;
		margin-right: 15px;
	}
	.content__more{
		font-size: 11px;
	}
	.gallery-best{
		margin-bottom: 10px;
	}
	.gallery-best-column{
		width: 50%;
		margin-bottom: 10px;
	}
	.gallery-best-item{
		margin: 0 auto;
		width: 190px;
		height: 154px;
	}
	.event-item-content {
	    padding: 15px 10px 10px 10px;
	}
	.event-item__category{
		font-size: 9px;
	}
	.event-item__title{
		font-size: 22px;
	}
	.footer-table .cell{
		padding-right: 10px;
	}
	.event-categories-nav ul li{
		width: 50%;
	}
	.gallery-topweek-column{
		width: 33.333%;
	}
	.event-video-item-content{
		padding-right: 15px;
	}
	.article-column{
		width: 100%;
	}
	.article-full-item-table .cell{
		display: block;
		width: 100%;
	}
	.article-item__more{
		position: static;
	}
	.article-item__text{
		margin-bottom: 15px;
	}
	.article-item-content{
		padding: 20px;
	}
	.article-full-item-table .article-item-content{
		padding-bottom: 20px;
	}
	.article-column{
		float: none;
	}
	.article-item{
		margin: 0 auto;
		width: 450px;
		height: auto;
	}
	.article-full-item{
		width: 450px;
		padding: 0;
		margin: 0 auto 10px;
	}
	.article-content-column{
		width: 100%;
		float: none;
		padding: 0 !important;
		margin-bottom: 50px;
		p:last-child{
			margin-bottom: 0;
		}
		&:last-child{
			margin-bottom: 0;
		}
	}
	.other-articles-column{
		width: 100%;
	}
	.page-promo-content{
		padding: 30px;
	}
	.place-column{
		width: 100%;
	}
	.place-slider__image{
		height: 250px;
	}
	.place-pager__item span{
		height: 100px;
	}
	.article-full-item-table .cell:first-child{
		padding-right: 0;
	}
	p{
		margin-bottom: 15px;
	}
	.place-menu-column{
		width: 50%;
	}
	.place-menu {
	    padding: 35px 15px 1px 15px;
	}
	.place-review-item{
		padding-left: 0;
	}
	.place-info {
	    padding: 35px 20px 15px 25px;
	}
	.form-column{
		width: 100%;
		float: none;
		margin-bottom: 15px;
	}
	.place-review__btn{
		width: 182px;
	}
	.rightsite-column{
		float: none;
		margin: 0 auto 10px;
		width: 460px;
	}
	.event-specialitem__image{
		height: 400px;
	}
	.gallery-topweek__title{
		text-align: center;
	}
	.gallery-topweek-column{
		width: 50%;
	}
	.gallery-topweek-item{
		margin: 0 auto;
		width: 185px;
		height: 148px;
	}
	.event-video-item__poster{
		height: 155px;
	}
	.place-item{
		width: 450px;
		margin: 0 auto;
	}
	.place-item__image{
		height: 220px;
	}
	.place-item__rating{
		top: 250px;
	}
	.place-item-content {
	    padding: 30px 20px 60px 20px;
	}
	.place-item-tags{
		left: 20px;
	}
	.place-item__category{
		padding-right: 55px;
	}
	.place-item__title{
		padding-right: 55px;
	}
	.modal-bottom-left{
		float: none;
	}
	.modal-bottom-right{
		float: none;
	}
	.modal-social{
		top: -20px;
	}
	.box-modal{
		padding: 30px 25px;
	}
	.modal-content-body{
		margin-bottom: 20px;
	}
	.modal-content__prev{
		left: 4px;
	}
	.modal-content__next{
		right: 4px;
	}
	.arcticmodal-close{
		right: 0;
		top: 0;
	}
	.modal__title{
		font-size: 23px;
	}
	.modal__number{
		top: 5px;
	}
	.modal-content__poster{
		height: 350px;
	}
}
@media only screen and (max-width: 559px) {
	.promo-video-column{
		width: 100%;
		float: none;
	}
}
@media only screen and (max-width: 479px) {
	.header-city{
		display: none;
	}
	.header-table .cell{
		&:first-child{
			width: 60%;
		}
	}
	.promo-main__image{
		height: 250px;
	}
	.promo-main__content {
	    padding: 15px 0 15px 20px;
	}
	.event-item{
		width: 260px;
		margin: 0 auto;
	}
	.event-item__image{
		height: 226px;
	}
	.main-section__title{
		display: block;
	}
	.content__title{
		display: block;
		margin: 0;
		text-align: center;
	}
	.gallery-best-column{
		width: 50%;
	}
	.event-column{
		float: none;
		width: 100%;
	}
	.event-item__category{
		font-size: 11px;
	}
	.event-item__title{
		height: auto;
		margin-bottom: 15px;
	}
	.event-item-content{
		height: auto;
		padding: 15px;
	}
	.main-article-item-table .cell:first-child {
	    padding: 5px 0 5px 15px;
	}
	.main-article-item__title{
		margin-bottom: 5px;
	}
	.main-article-item__place{
		font-size: 18px;
		line-height: 21px;
	}
	.main-article-big-content {
	    padding: 10px 0 10px 15px;
	}
	.main-article-big__title{
		font-size: 17px;
		line-height: 23px;
	}
	.main-section-bottom{
		padding-top: 5px;
	}
	.footer{
		text-align: center;
	}
	.footer-table .cell{
		display: block;
		padding: 0;
	}
	.footer-logo{
		display: inline-block;
		margin-bottom: 20px;
	}
	.top-banner{
		margin-bottom: 10px;
	}
	.event-specialitem__image{
		height: 360px;
	}
	.gallery-topweek-column{
		width: 50%;
	}
	.event-specialitem-content{
		padding-right: 15px;
	}
	.event-specialitem__category{
		font-size: 12px;
	}
	.event-specialitem__title{
		font-size: 28px;
	}
	.content{
		padding-bottom: 30px;
	}
	.event-calendar-row{
		padding: 0 20px;
	}
	.event-gallery-column{
		width: 50%;
	}
	.event-product{
		.product-item-content{
			padding-left: 20px;
		}
	}
	.event-video-bestitem .event-video-item__poster{
		height: 320px;
	}
	.event-video-bestitem .event-video-item__title{
		font-size: 29px;
	}
	.event-video-column{
		width: 100%;
	}
	.event-video-item__poster{
		height: 200px;
	}
	.event-video-item-content{
		height: auto;
		padding: 20px;
	}
	.event-video-bestitem .event-video-item-content{
		height: auto;
	}
	.event-video-item__title{
		margin-bottom: 15px;
	}
	.event-video-item__views{
		position: static;
	}
	.announcements-day__name{
		display: block;
		text-align: center;
	}
	.announcement-column{
		width: 100%;
	}
	.announcement-recommend-column{
		width: 100%;
		&:nth-child(n+2){
			display: none;
		}
	}
	.announcement-item{
		margin: 0 auto;
		width: 260px;
	}
	.announcement-item__image{
		height: 260px;
	}
	.announcement-item_recommend .announcement-item__image{
		height: 260px;
	}
	.event-categories_full {
	    padding: 20px 15px 10px 15px;
	}
	.event-categories-nav ul li a{
		border-bottom: 0;
	}
	.page-promo-content{
		height: 400px;
	}
	.page-promo h1{
		font-size: 37px;
		line-height: 1.2;
	}
	.place-pager__item span{
		height: 75px;
	}
	.place-slider__image{
		height: 200px;
	}
	.place-menu-item__image{
		height: 100px;
	}
	.main-section-bottom{
		display: none;
	}
	.main-article-big__title:after{
		bottom: 4px;
	}
	.main-article-item__place:after{
		bottom: 7px;
		width: 30px;
	}
	.main-article-item__title{
		padding-right: 15px;
	}
	.main-article-item__place{
		padding-right: 30px;
	}
	.top-inner-banner{
		margin-bottom: 20px;
	}
	.event-categories_full{
		padding: 10px 0;
	}
	.event-categories-nav ul li{
		padding-right: 15px;
	}
	.event-categories_full .event-categories-nav ul li{
		display: inline-block;
		vertical-align: top;
		width: 50%;
		padding-right: 15px;
	}
	.content-bigbanner {
	    margin: 0 auto 10px;
	    width: auto;
	    height: auto !important;
	}
	.main-article-big{
		width: 100%;
	}
	.main-article-big__image{
		height: 350px;
	}
	.rightsite-column{
		width: 100%;
	}
	.gallery-best-item{
		width: 167px;
		height: 145px;
	}
	.gallery-topweek-item{
		width: 167px;
		height: 135px;
	}
	.event-video-item{
		width: 260px;
		margin: 0 auto;
	}
	.event-video-item__poster{
		height: 175px;
	}
	.event-video-bestitem{
		width: 345px;
		margin: 0 auto; 
	}
	.event-video-bestitem .event-video-item__poster{
		height: 345px;
	}
	.place-item{
		width: 345px;
	}
	.place-item__image{
		height: 180px;
	}
	.place-item__rating{
		top: 210px;
	}
	.place-filter-block {
	    padding: 15px 20px;
	}
	.article-full-item{
		width: 345px;
	}
	.article-item{
		width: 345px;
	}
	.article-item__image{
		height: 250px;
	}
	.announcement-item-content{
		height: 145px;
	}
	.announcement-item__title{
		height: 70px;
	}
	.event-categories_full{
		border: 0;
		background: transparent;
	}
	.modal__date{
		font-size: 13px;
	}
	.modal__close{
		font-size: 13px;
	}
	.social-btn_full{
		display: block;
		text-align: center;
		margin-top: 4px;
	}
	.place-filter-block_select{
		padding: 15px 0 !important;
	}
	.place-filter-select-wrap .select-title__value {
    	padding: 0 40px 0 20px;
	}
	.place-filter-select-wrap .select-title__arrow{
		right: 15px;
	}
	.modal-content__play{
		width: 60px;
		height: 60px;
	}
	.modal-content__poster{
		height: 250px;
	}
}
@media only screen and (max-width: 374px) {
	.place-filter-block{
		padding: 15px;
	}
	.main-article-item__title{
		font-size: 10px;
		line-height: 14px;
	}
	.main-article-item__place{
		font-size: 15px;
		line-height: 19px;
	}
	.event-video-bestitem .event-video-item__poster{
		height: 270px;
	}
	.main-article-item__place:after{
		bottom: 6px;
	}
	.main-article-item-table:hover .main-article-item__place::after{
		background-position: 10px 0;
	}
	.announcement-item{
		width: 100%;
	}
	.gallery-best-item{
		width: 140px;
		height: 115px;
	}
	.event-specialitem__image{
		height: 300px;
	}
	.gallery-topweek-item{
		width: 158px;
	}
	.event-video-bestitem{
		width: 100%;
	}
	.place-item{
		width: 100%;
	}
	.place-item__rating{
		right: 10px;
	}
	.place-item__image{
		top: 160px;
	}
	.checkbox-column{
		width: 100%;
	}
	.place-filter-price-range .cell{
		padding: 0 15px;
	}
	.form-item__field{
		width: 203px;
	}
	.place-review__btn{
		width: 178px;
	}
	.article-item{
		width: 100%;
	}
	.article-full-item{
		width: 100%;
	}
	.article-column{
		padding: 0;
	}
}
@media only screen and (max-width: 359px) {
	.announcement-item__image{
		height: 300px;
	}
	.announcement-item_recommend .announcement-item__image{
		height: 300px;
	}
	.main-article-big__image{
		height: 300px;
	}
	.gallery-topweek-item{
		width: 100%;
		height: 120px;
	}
}