/*==============================RESET==============================*/
*,
:before,
:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clr:after {
  content: "";
  display: block;
  clear: both;
}

html, body, div,
dl, dt, dd, ol, ul, li,
h1, h2, h3, h4, h5, h6, p, hr,
img, a, em, span, strong,
form, label, input, button, select,
table, thead, tbody, tfoot, tr, th, td, textarea {
  border: 0;
  outline: none;
  background: none;
  vertical-align: baseline;
  font: inherit;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
select,
textarea,
button {
  color: #919191;
  outline: none;
}

a:hover,
a:focus,
a.active {
  text-decoration: none;
  outline: none;
}

a[href^=tel] {
  color: inherit;
}

button {
  cursor: pointer;
}

input::-webkit-input-placeholder {
  color: #919191;
}

input::-moz-placeholder {
  color: #919191;
}

input:-moz-placeholder {
  color: #919191;
}

input:-ms-input-placeholder {
  color: #919191;
}

input:focus::-webkit-input-placeholder {
  color: transparent !important;
}

input:focus::-moz-placeholder {
  color: transparent !important;
}

input:focus:-moz-placeholder {
  color: transparent !important;
}

input:focus:-ms-input-placeholder {
  color: transparent !important;
}

textarea::-webkit-input-placeholder {
  color: #919191;
}

textarea::-moz-placeholder {
  color: #919191;
}

textarea:-moz-placeholder {
  color: #919191;
}

textarea:-ms-input-placeholder {
  color: #919191;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent !important;
}

textarea:focus::-moz-placeholder {
  color: transparent !important;
}

textarea:focus:-moz-placeholder {
  color: transparent !important;
}

textarea:focus:-ms-input-placeholder {
  color: transparent !important;
}

@font-face {
  font-family: "MyriadPro";
  src: url("../fonts/MyriadProRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*==============================PLUGINS==============================*/
/*-----------------slick-slider plugin---------------------*/
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-arrow {
  position: absolute;
  display: block;
  top: 50%;
  margin-top: -30px;
  width: 26px;
  height: 59px;
  font-size: 0;
  background: transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 20;
}

.slick-prev {
  left: 0;
  background-image: url(../img/arrow-prev-big.png);
}

.slick-next {
  right: 0;
  background-image: url(../img/arrow-next-big.png);
}

.slick-dots {
  bottom: -25px;
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 0;
  z-index: 20;
}

.slick-dots li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 7px;
}

.slick-dots li button {
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
}

.slick-dots li.slick-active button {
  background: var(--color-accent);
}

/*==============================GENERAL==============================*/
:root {
  --font-main: "Google Sans", sans-serif;
  --color-accent: #FFA420;
}

html {
  scroll-behavior: smooth;
}

html, body {
  position: relative;
  font-family: var(--font-main);
  background: #4c386d;
  color: #fff;
  min-width: 320px;
}

body {
  line-height: 1;
}
body.lock {
  overflow: hidden;
}

.wrapper {
  position: relative;
  padding-top: 100px;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  z-index: 1;
}
.wrapper:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 1647px;
  height: 857px;
  background-image: url(../img/bg-top.png);
  z-index: -1;
}

.center-wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1030px;
}

.center-wrapper_full {
  max-width: 1900px;
}

h1, h2, h3, h4, h5, h6, .title_1, .title_2, .title_3, .title_4, .title_5, .title_6 {
  margin-bottom: 20px;
  line-height: 1.2;
  font-weight: 700;
}

h1, .title_1 {
  font-size: 30px;
}

h2, .title_2 {
  margin-bottom: 45px;
  font-size: 35px;
}

p {
  margin-bottom: 15px;
}

a {
  outline: none;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

ul, ol {
  list-style: none;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

img {
  height: auto;
  vertical-align: top;
}

table {
  width: 100%;
}

.text_center {
  text-align: center;
}

.accent_color {
  color: var(--color-accent);
}

/*==============================FORM ELEMENTS==============================*/
.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  height: 56px;
  font-size: 18px;
  font-weight: 700;
  padding: 0 40px;
  color: #000;
  background: #FFA420;
  border-radius: 14px;
  cursor: pointer;
  overflow: hidden;
}
.btn_main {
  min-width: 265px;
}
.btn_2 {
  position: relative;
  color: #fff;
  z-index: 1;
  background-image: linear-gradient(-71deg, rgb(134, 79, 159) 0%, rgb(84, 83, 163) 100%);
}
.btn_2:hover::after {
  opacity: 1;
}
.btn_2:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0;
  height: 100%;
  background-image: linear-gradient(-71deg, rgb(84, 83, 163) 0%, rgb(134, 79, 159) 100%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: -1;
}

.input {
  width: 100%;
  padding: 0 15px;
  height: 54px;
  font-size: 22px;
  border-radius: 10px;
  color: #000;
  border: 2px solid rgba(87, 71, 228, 0.2);
}

.textarea {
  width: 100%;
  height: 110px;
  min-height: 110px;
  padding: 15px;
  font-size: 22px;
  border-radius: 10px;
  resize: vertical;
  color: #000;
  border: 2px solid rgba(87, 71, 228, 0.2);
}

.checkbox input[type=checkbox] {
  display: none;
}

.checkbox__title {
  position: relative;
  display: block;
  padding-left: 40px;
  font-size: 15px;
  line-height: 28px;
  cursor: pointer;
}
.checkbox__title:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  background-color: #fff;
  border: 1px solid #834C8D;
  background-size: 80% 80%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 5px;
  background-position: 50% 50%;
  z-index: 1;
}

.checkbox input[type=checkbox]:checked + .checkbox__title:before {
  background-image: url(../img/icon-check.png);
}

/*==============================INDEX==============================*/
/*-------------------------header-------------------------*/
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #9175C9;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 100;
}
.header_scroll {
  background: #4c386d;
}
.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu__btn {
  display: none;
  width: 50px;
  height: 50px;
}
.header-menu__close {
  display: none;
  position: absolute;
  right: 40px;
  top: 25px;
  cursor: pointer;
}
.header-menu__close img {
  width: 30px;
  height: 30px;
}
.header-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-menu__list li {
  margin-left: 42px;
}
.header-menu__list li a {
  font-size: 18px;
  color: #fff;
}
.header-menu__list li a.active {
  color: #ffa420;
}
.header-menu__list li a.current {
  font-weight: 700;
  color: #ffa420;
}

/*-------------------------features-------------------------*/
.features {
  background-color: rgba(53, 37, 79, 0.4);
}
.features__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 -10px;
}
.features__col {
  padding: 0 10px;
}

.features-item {
  padding: 18px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.features-item__number {
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffa420;
  font-weight: 700;
}
.features-item__text {
  font-size: 17px;
  line-height: 1.1;
}
.features-item__text span {
  white-space: nowrap;
}

.fim_digit {
  font-size: 86px;
  letter-spacing: -0.12em;
}

.fim_right_2 {
  margin-top: -10px;
}

.fim_plus {
  font-size: 56px;
  padding-left: 5px;
  line-height: 0.6;
}

.fim_percent {
  font-size: 44px;
  padding-left: 5px;
}

.fim_left {
  font-size: 17px;
}

/*-------------------------promo-------------------------*/
.promo {
  padding: 25px 0 50px 0;
}
.promo__video {
  position: absolute;
  top: 70px;
  right: 13%;
  width: 670px;
  height: 670px;
  z-index: -1;
  opacity: 0.5;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.promo .globe-wrapper {
  width: 100%;
  height: 100%;
}
.promo__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.promo__title {
  margin-bottom: 45px;
  font-size: 47px;
  line-height: 68px;
  font-weight: 700;
}
.promo__leftside {
  padding-top: 40px;
  padding-right: 10px;
}
.promo__rightside {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 360px;
          flex: 0 0 360px;
}
.promo__tech {
  margin-bottom: 30px;
  font-size: 30px;
  text-align: center;
  font-weight: 700;
}

.promo-slider {
  position: relative;
  right: -20px;
  width: 360px;
}
.promo-slider .slick-arrow {
  top: 130px;
  margin-top: 0;
  width: 12px;
  height: 27px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.promo-slider .slick-arrow:hover {
  opacity: 0.7;
}
.promo-slider .slick-prev {
  left: -5px;
  background-image: url(../img/arrow-prev.png);
}
.promo-slider .slick-next {
  right: -5px;
  background-image: url(../img/arrow-next.png);
}

.ps-item {
  position: relative;
  padding: 0 15px 45px 20px;
}
.ps-item__block {
  height: 290px;
  padding: 20px 30px 10px;
  background-color: rgb(235, 218, 250);
  border: 2px solid #D6BFF4;
  border-radius: 14px;
}
.ps-item__logo {
  margin-bottom: 20px;
}
.ps-item__logo img {
  max-height: 30px;
  max-width: 100%;
}
.ps-item__text {
  font-size: 21px;
  line-height: 23px;
  font-weight: 700;
  color: #131313;
}
.ps-item__img {
  position: absolute;
  right: 0;
  bottom: 0;
}

/*-------------------------clients-------------------------*/
.clients {
  position: relative;
  margin-bottom: 35px;
  z-index: 10;
}
.clients__body {
  padding: 50px 40px 28px;
  border-radius: 44px;
  background-color: rgba(255, 255, 255, 0.122);
  border: 1px solid rgba(158, 141, 182, 0.5);
}
.clients__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.clients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 252px;
          flex: 0 0 252px;
  margin-bottom: 62px;
  padding: 3px 10px;
  height: 72px;
  background: #fff;
  border: 4px solid #D5D6F6;
  border-radius: 16px;
  min-width: 0;
}
.clients__item img {
  max-width: 100%;
  max-height: 100%;
}

/*-------------------------about-------------------------*/
.about {
  padding: 30px 0;
}
.about__row {
  margin-bottom: 40px;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
.about__desc {
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}
.about__desc span {
  font-weight: 700;
}

.about-item {
  padding: 4px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc((100% - 40px) / 3);
          flex: 0 0 calc((100% - 40px) / 3);
  min-width: 0;
  border-radius: 14px;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(158, 141, 182, 0.5);
}
.about-item__img {
  margin-bottom: 15px;
  height: 130px;
  border-radius: 12px;
  overflow: hidden;
}
.about-item__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-item__content {
  padding: 0 5px 8px 10px;
}
.about-item__caption {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  color: var(--color-accent);
}
.about-item__desc {
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.01em;
}
.about-item__desc_2 {
  margin-top: -15px;
}

.about-types {
  margin: 0 -50px;
  padding-top: 42px;
}
.about-types__inner {
  margin-bottom: 15px;
  height: 225px;
  overflow: hidden;
  border: 1px solid rgba(158, 141, 182, 0.5);
  border-radius: 24px;
}
.about-types__row {
  margin: 0 -60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: skew(-15deg);
      -ms-transform: skew(-15deg);
          transform: skew(-15deg);
}
.about-types__bottom {
  text-align: center;
}

.about-types__captions-row {
  position: relative;
  left: -50px;
  margin: 0 -60px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-types-item__caption_desk {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.666%;
          flex: 0 1 16.666%;
  min-width: 0;
  font-size: 18px;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0.15;
}
.about-types-item__caption_desk:first-child {
  padding-left: 100px;
}
.about-types-item__caption_desk.active {
  opacity: 1;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 36%;
          flex: 0 1 36%;
}

.about-types-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.666%;
          flex: 0 1 16.666%;
  min-width: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.about-types-item.active {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 36%;
          flex: 0 1 36%;
}
.about-types-item.active .about-types-item__img::after {
  opacity: 0;
}
.about-types-item.active .about-types-item__caption {
  opacity: 1;
}
.about-types-item__img {
  position: relative;
  height: 225px;
}
.about-types-item__img:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #4c386d;
  opacity: 0.64;
}
.about-types-item__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-types-item__caption {
  display: none;
  font-size: 18px;
  padding-top: 15px;
  text-align: center;
}

/*-------------------------possibilities-------------------------*/
.possibilities {
  padding: 40px 0 0 0;
}
.possibilities__title {
  position: absolute;
  left: 0;
  top: 1px;
  width: 100%;
}
.possibilities__desc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 100px 350px 0 60px;
  font-size: 21px;
  font-weight: 700;
  letter-spacing: 0.01em;
  line-height: 1.14;
  color: var(--color-accent);
}

.possibilities-sliderwrap {
  position: relative;
  padding-top: 30px;
}

.possibilities-slider .slick-arrow {
  opacity: 0.5;
  top: 45%;
  margin-top: 0;
}
.possibilities-slider .slick-arrow:hover {
  opacity: 1;
}
.possibilities-slider .slick-disabled {
  display: none !important;
}
.possibilities-slider .slick-prev {
  left: -50px;
}

.possibilities-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  height: 758px;
  padding-right: 100px;
  font-size: 21px;
  letter-spacing: 0.02em;
  line-height: 1.14;
}
.possibilities-item__img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 345px;
  height: 758px;
  z-index: 30;
}
.possibilities-item__img img {
  max-width: 100%;
  max-height: 100%;
}
.possibilities-item__content {
  margin-bottom: 82px;
  padding: 45px 280px 40px 60px;
  height: 426px;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(158, 141, 182, 0.5);
  border-radius: 24px;
}
.possibilities-item p {
  margin-bottom: 25px;
}
.possibilities-item strong {
  color: var(--color-accent);
}
.possibilities-item ul li {
  position: relative;
  padding-left: 35px;
}
.possibilities-item ul li:before {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--color-accent);
}

/*-------------------------faq-------------------------*/
.faq {
  padding: 10px 0 50px 0;
}
.faq__note {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  padding-left: 70px;
}
.faq__list {
  position: relative;
  margin-bottom: 55px;
  padding-top: 10px;
  padding-left: 25px;
}
.faq .faq__icon {
  position: absolute;
}
.faq .faq__icon_1 {
  left: -125px;
  top: 42px;
}
.faq .faq__icon_2 {
  top: -45px;
  right: -35px;
}
.faq .faq__icon_3 {
  left: -190px;
  bottom: 40px;
}
.faq .faq__icon_4 {
  right: -90px;
  bottom: -140px;
}

.faq-item {
  font-weight: 700;
  margin-bottom: 40px;
  color: #000;
}
.faq-item.active .faq-item__q:after {
  display: block;
}
.faq-item__q {
  position: relative;
  display: inline-block;
  padding: 25px 50px;
  font-size: 19px;
  line-height: 1.2;
  cursor: pointer;
  letter-spacing: -0.001em;
  background-color: rgb(212, 150, 240);
  border-radius: 14px;
}
.faq-item__q:before {
  content: "";
  display: block;
  position: absolute;
  top: -15px;
  left: -33px;
  width: 56px;
  height: 96px;
  background-image: url(../img/q-icon.png);
}
.faq-item__q:after {
  content: "";
  display: none;
  position: absolute;
  left: 211px;
  right: 0;
  bottom: 0;
  height: 19px;
  border-radius: 14px 0 14px 0;
}
.faq-item__a {
  position: relative;
  display: none;
  top: -20px;
  margin-left: 210px;
  padding: 25px 40px 20px;
  font-size: 19px;
  line-height: 1.3;
  letter-spacing: -0.001em;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid #D1B2F1;
  border-radius: 14px;
}

/*-------------------------contacts-------------------------*/
.contacts {
  padding: 65px 0 0;
}
.contacts__body {
  padding: 40px 0 15px 0;
  background: var(--color-accent);
  color: #000;
}
.contacts__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts__leftside {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.contacts__rightside {
  padding-bottom: 25px;
}
.contacts__text {
  margin-bottom: 18px;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.385;
}
.contacts__text a {
  color: #5747e4;
}
.contacts__text_2 {
  font-size: 22px;
}
.contacts__time {
  padding-top: 25px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
}
.contacts__btn {
  font-size: 21px;
}

/*-------------------------mainform-------------------------*/
.mainform {
  padding: 48px 0;
  background-color: rgb(149, 128, 190);
}
.mainform__body {
  padding: 40px 55px;
  background: #fff;
  color: #000;
  border-radius: 14px;
}
.mainform__subtitle {
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 700;
}
.mainform__title {
  margin-bottom: 30px;
  font-size: 30px;
  color: #73347e;
}
.mainform__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px 10px;
}
.mainform__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc((100% - 10px) / 2);
          flex: 0 0 calc((100% - 10px) / 2);
  min-width: 0;
}
.mainform__item_full {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
.mainform__bottom {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mainform__btn {
  font-size: 24px;
  font-weight: 700;
}
.mainform__checkbox {
  display: block;
}
.mainform__checkbox:first-child {
  margin-bottom: 15px;
}

/*-------------------------footer-------------------------*/
.footer {
  padding: 45px 0 15px;
  background-image: -webkit-gradient(linear, right top, left top, from(rgb(120, 74, 139)), to(rgb(63, 39, 89)));
  background-image: linear-gradient(-90deg, rgb(120, 74, 139) 0%, rgb(63, 39, 89) 100%);
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 265px;
          flex: 0 0 265px;
}
.footer__center {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.footer__caption {
  margin-bottom: 20px;
  font-size: 19px;
  font-weight: 700;
  line-height: 1.2;
}
.footer__bottom {
  text-align: center;
}
.footer__policy {
  font-size: 14px;
  line-height: 1.3;
  color: #fff;
}
.footer__policy:hover {
  color: var(--color-accent);
}
.footer__copy {
  padding-top: 10px;
  font-size: 14px;
  line-height: 1.3;
  opacity: 0.3;
}
.footer__items {
  padding-bottom: 20px;
}

.footer-item {
  margin-bottom: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 22px;
}
.footer-item__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 42px;
          flex: 0 0 42px;
}
.footer-item a {
  color: #fff;
}
.footer-item a:hover {
  color: var(--color-accent);
}

.footer-location__frame {
  width: 290px;
  height: 152px;
  border-radius: 14px;
  overflow: hidden;
}
.footer-location__frame img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*==============================ADAPTIVE==============================*/
@media only screen and (max-width: 1899px) {
  .fim_digit {
    font-size: 65px;
  }
  .fim_plus {
    font-size: 40px;
  }
  .fim_percent {
    font-size: 37px;
  }
  .features-item__text {
    font-size: 15px;
  }
  .promo__video {
    right: 3%;
    width: 500px;
    height: 500px;
  }
}
@media only screen and (max-width: 1599px) {
  .fim_digit {
    font-size: 50px;
  }
  .fim_plus {
    font-size: 32px;
  }
  .fim_percent {
    font-size: 30px;
  }
  .features-item__text {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1399px) {
  .features__col {
    padding: 0 7px;
  }
  .fim_digit {
    font-size: 45px;
  }
  .fim_plus {
    font-size: 30px;
  }
  .fim_percent {
    font-size: 28px;
  }
  .features-item__number {
    margin-right: 12px;
  }
}
@media only screen and (max-width: 1279px) {
  .center-wrapper {
    max-width: 960px;
  }
  .features__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .features__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
    min-width: 0;
  }
  .fim_digit {
    font-size: 60px;
  }
  .features-item__text {
    font-size: 16px;
  }
  .fim_plus {
    font-size: 35px;
  }
  .promo__title {
    font-size: 40px;
    line-height: 1.4;
  }
  .possibilities-slider .slick-prev {
    left: -40px;
  }
  .about-types {
    margin: 0;
  }
}
@media only screen and (max-width: 991px) {
  .center-wrapper {
    max-width: 720px;
  }
  .wrapper {
    padding-top: 80px;
  }
  .header {
    padding: 15px 0;
    background: #4c386d;
  }
  .header-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background: #4c386d;
    overflow-y: auto;
    z-index: 60;
  }
  .header-menu.open {
    right: 0;
  }
  .header-menu__close {
    display: block;
  }
  .header-menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 100%;
  }
  .header-menu__list li {
    margin: 20px 0;
  }
  .header-menu__list li a {
    font-size: 25px;
  }
  .header__logo img {
    height: 50px;
  }
  .header-menu__btn {
    display: block;
  }
  .header-menu__btn img {
    width: 100%;
  }
  .features {
    padding: 25px 0 10px 0;
  }
  .features-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .features-item__number {
    margin: 0 0 5px;
  }
  .features__col {
    padding-bottom: 15px;
  }
  .features-item__text {
    text-align: center;
  }
  .promo__body {
    display: block;
  }
  .promo__leftside {
    margin-bottom: 40px;
    padding: 20px 0 0;
    text-align: center;
  }
  .promo-slider {
    right: 0;
    width: 100%;
    margin: 0 auto;
  }
  .ps-item {
    padding-right: 20px;
  }
  .ps-item__text br {
    display: none;
  }
  .ps-item__block {
    height: 250px;
  }
  .clients__body {
    padding: 30px 25px 15px;
  }
  .clients__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 200px;
            flex: 0 0 200px;
  }
  .possibilities-item__img {
    width: 272px;
    height: 600px;
  }
  .possibilities-item__content {
    padding: 40px 180px 40px 40px;
  }
  .possibilities__title {
    position: static;
    margin-bottom: 30px;
  }
  .possibilities__desc {
    position: static;
    padding: 0;
  }
  .possibilities-sliderwrap {
    padding-top: 0;
  }
  .possibilities-item {
    height: 610px;
    font-size: 17px;
  }
  .possibilities-slider .slick-prev {
    left: -30px;
  }
  .possibilities-slider .slick-next {
    right: -10px;
  }
  .possibilities-slider .slick-arrow {
    width: 20px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .faq-item {
    margin-bottom: 25px;
  }
  .faq-item__q {
    padding: 20px 40px;
    font-size: 17px;
  }
  .faq-item__q:before {
    top: -8px;
    left: -23px;
    width: 40px;
    height: 68px;
    background-size: contain;
  }
  .faq-item__a {
    top: -12px;
    margin-left: 120px;
  }
  .faq-item__a {
    padding: 20px 30px;
    font-size: 17px;
  }
  .contacts {
    padding-top: 40px;
  }
  .contacts__row {
    display: block;
  }
  .contacts__leftside {
    margin-bottom: 30px;
  }
  .mainform__body {
    padding: 35px;
  }
  .input {
    font-size: 20px;
  }
  .textarea {
    font-size: 20px;
  }
  .footer__left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 165px;
            flex: 0 0 165px;
    min-width: 0;
  }
  .footer-location__frame {
    width: 250px;
  }
  .footer__center {
    padding-right: 20px;
  }
  .promo__video {
    right: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .center-wrapper {
    max-width: 540px;
  }
  .clients__item {
    margin-bottom: 35px;
  }
  .about__row {
    display: block;
  }
  .about-item {
    margin-bottom: 15px;
  }
  .about-types__inner {
    margin-bottom: 30px;
    height: auto;
  }
  .about-types__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    margin: 0;
  }
  .about-types-item.active .about-types-item__img:after {
    opacity: 0.64;
  }
  .about-types-item.active,
  .about-types-item {
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
  }
  .about-types__captions-wrap {
    display: none;
  }
  .about-types-item__caption {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    font-size: 20px;
    z-index: 20;
  }
  .possibilities {
    margin-bottom: 50px;
  }
  .possibilities__desc {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .possibilities-item__img {
    width: 140px;
    height: 300px;
    bottom: 50%;
    -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
            transform: translateY(50%);
    right: 5px;
  }
  .possibilities-item__content {
    margin: 0;
    min-height: 350px;
    height: auto;
    padding: 30px 160px 30px 30px;
  }
  .possibilities-item {
    padding-right: 0;
    height: auto;
  }
  .faq-item__q {
    width: 100%;
  }
  .faq {
    padding-bottom: 30px;
  }
  .faq__note {
    padding-left: 0;
  }
  .faq-item__a {
    margin-left: 70px;
  }
  .mainform__bottom {
    display: block;
  }
  .promo-slider .slick-arrow {
    top: 120px;
  }
  .contacts__text_2 {
    font-size: 19px;
  }
  .mainform__bottom-leftside {
    margin-bottom: 30px;
  }
  .mainform__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .footer__items {
    padding-bottom: 0;
  }
  .footer__center {
    padding: 30px 0 20px 0;
  }
  .footer__row {
    display: block;
    margin-bottom: 25px;
  }
  .promo-slider .slick-dots {
    bottom: 0;
  }
  .features {
    background: transparent;
  }
}
@media only screen and (max-width: 575px) {
  .center-wrapper {
    max-width: 100%;
  }
  h2, .title_2 {
    font-size: 30px;
  }
  .features__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .fim_digit {
    font-size: 55px;
  }
  .fim_plus {
    font-size: 32px;
  }
  .promo__title {
    font-size: 34px;
    line-height: 1.3;
  }
  .ps-item {
    padding-left: 10px;
    padding-right: 10px;
  }
  .ps-item__text {
    font-size: 18px;
  }
  .ps-item__block {
    padding: 15px 25px 10px;
  }
  .ps-item__img {
    height: 120px;
  }
  .ps-item__img img {
    max-height: 100%;
  }
  .clients__row {
    display: block;
  }
  .clients__item {
    margin-bottom: 15px;
  }
  .clients__section:first-child {
    padding-bottom: 30px;
  }
  .about-item__img {
    height: 150px;
  }
  .about-types-item.active, .about-types-item {
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .about-types-item__img {
    height: 180px;
  }
  .possibilities__desc {
    font-size: 16px;
  }
  .possibilities-item__img {
    display: none;
  }
  .possibilities-item__content {
    min-height: auto;
    padding: 25px 20px 15px;
  }
  .faq-item__q {
    padding: 15px 20px 15px 30px;
    font-size: 16px;
  }
  .faq-item__a {
    margin-left: 40px;
    padding: 15px 20px 15px 30px;
    font-size: 16px;
  }
  .contacts__text {
    font-size: 19px;
  }
  .mainform__body {
    padding: 25px;
  }
  .mainform__title {
    font-size: 27px;
  }
  .clients__item {
    height: 60px;
    border: 2px solid #D5D6F6;
  }
}