@charset "UTF-8";
/*-------------------------common styles-------------------------*/
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.file {
  color: #595D72;
  background: #F4F6FB;
  padding: 16px 16px 16px 54px;
  border-radius: 12px;
  position: relative;
  width: 100%;
  margin-bottom: 12px;
}

.file:last-child {
  margin-bottom: 0;
}

.file:before,
.file:after {
  position: absolute;
  display: block;
  content: "";
  width: 24px;
  height: 24px;
}

.file:before {
  top: 12px;
  left: 16px;
  background: url("../i/doc.svg") 50% 50% no-repeat;
}

.file:after {
  top: 12px;
  right: 16px;
  background: url("../i/file-d.svg") 50% 50% no-repeat;
}

.contact .i3 {
  padding: 16px 0 26px 64px;
}

@media (min-width: 1280px) {
  .mh360 {
    min-height: 360px;
  }
}
.c3 {
  background: #F4F6FB;
}

.c3 .contact .name div {
  font-size: 14px;
  font-weight: 400;
  color: #595D72;
}

.c3 .contact {
  margin-bottom: 32px;
}

.c3 .advice {
  margin-top: 0;
}

.include .in {
  padding: 32px;
  border-radius: 12px;
  background: #F4F6FB;
}

.gi {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 32px;
}

.gi img {
  width: 100%;
  -webkit-transition: -webkit-transform 1.6s;
  transition: -webkit-transform 1.6s;
  transition: transform 1.6s;
  transition: transform 1.6s, -webkit-transform 1.6s;
}

.gi:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.gi span {
  position: absolute;
  bottom: 16px;
  left: 16px;
  line-height: 36px;
  padding: 0 20px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 40px;
  color: #fff;
}

.include h3 {
  font-size: 36px;
}

.grid-serv img {
  margin-right: 12px;
}

.grid-serv span {
  display: inline-block;
}

.grid-serv {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5px 1fr 5px 1fr 5px 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px 5px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 32px;
}

.serv-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .grid-serv {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .grid-serv {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 992px) {
  .col-lg-81 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 62.84%;
  }
  .col-lg-41 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 36.5%;
  }
}
/* изменил в boot.css
@media  (max-width:992px) {
  .ip {display:block;}
  .id {display:none;}
  .back-d {background:none !important;}
}
@media  (max-width:767px) {
  .back-p {background:none !important;}
  .ip {display:none;}
  .im {display:block;}
}
*/
.advice span {
  padding-right: 40px;
}

.advice .btn {
  text-wrap: nowrap;
}

.advice div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c3 .col-lg-6 {
  margin-bottom: var(--bs-gutter-x);
}

.c3 .contact {
  margin-bottom: 0;
  height: auto;
}

/*-------------------------common styles-------------------------*/
body {
  background: #F4F6FB;
}
body.home {
  background: #fff;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 56px;
  padding: 0 24px;
  background: #4D5C92;
  border-radius: 50px;
  font-weight: 500;
  color: #fff;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: -0.01em;
}
.btn_small {
  height: 40px;
  font-size: 14px;
  padding: 0 16px;
}
.btn_border {
  background: #fff;
  color: #4D5C92;
  border: 1px solid #4D5C92;
}
.btn_border:hover {
  background: #4D5C92;
  color: #fff;
}
.btn_border:hover path {
  fill: #fff;
}
.btn_border_2 {
  background: #fff;
  color: #49454f;
  border: 1px solid #cac4d0;
}
.btn_border_2:hover {
  background: #cac4d0;
  color: #fff;
}
.btn_border_2:hover path {
  fill: #fff;
}
.btn_white {
  background: #fff;
  color: #4D5C92;
}
.btn_white-border {
  color: #fff;
  border: 1px solid #fff;
}
.btn_white-border:hover {
  background: #fff;
  color: #4D5C92;
}
.btn svg {
  margin-right: 8px;
}
.btn path {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (min-width: 1400px) {
  .col-xxl-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 33.3333333333%;
  }
}
@media (max-width: 479px) {
  .btn {
    width: 100%;
    height: 40px;
    font-size: 14px;
  }
}
.section__title {
  margin-bottom: 64px;
}

.block {
  position: relative;
  height: 100%;
  padding: 32px;
  background: #fff;
  border-radius: 16px;
}
.block__title {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.block__text {
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.01em;
}
.block__text:last-child {
  margin-bottom: 0;
}
.block__text p {
  margin-bottom: 16px;
  font-size: inherit;
  color: #595D72;
}
.block__text p:last-child {
  margin-bottom: 0;
}
.block__text ul, .block__text ol {
  font-size: inherit;
  color: #595D72;
}
.block__text ul li, .block__text ol li {
  margin-bottom: 16px;
}
.block__text ol > li {
  list-style-type: decimal;
  list-style-position: inside;
}
.block__text ul {
  list-style: none;
}
.block__text ul li {
  position: relative;
}
.block__text ul li:before {
  content: "-";
  display: inline-block;
  margin-right: 2px;
}
.block__text a {
  display: inline;
  color: #4D5C92;
  border-bottom: 1px solid #4D5C92;
}
.block__text a:hover {
  border-color: transparent;
}

.row_mb {
  margin-bottom: var(--bs-gutter-x);
}

.page-promo {
  position: relative;
}
.page-promo__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.page-promo__bg:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../i/page-promo-mask.png);
  background-size: cover;
  background-position: 50% 50%;
}
.page-promo__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.page-promo__title {
  margin: 0;
  color: #fff;
}
.page-promo__title strong {
  font-weight: 600;
  color: #8FA3E8;
}
.page-promo__desc {
  margin-top: 32px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 0.02em;
}

.btn_download {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  text-align: center;
  padding: 0 16px;
  font-weight: 500;
  font-size: 14px;
  color: #4D5C92;
  line-height: 1.42;
  border: 1px solid #4D5C92;
  letter-spacing: 0.01em;
  border-radius: 50px;
}
.btn_download:hover {
  background: #4D5C92;
  color: #fff;
}
.btn_download:hover path {
  fill: #fff;
}
.btn_download svg {
  margin-right: 8px;
}
.btn_download path {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.link {
  position: relative;
  display: inline-block;
  padding-right: 20px;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.01em;
  color: #4D5C92;
}
.link:hover:after {
  -webkit-transform: translate(-2px, -50%);
          transform: translate(-2px, -50%);
}
.link:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  background-image: url(../i/icon-arrow-right.svg);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 20px;
  height: 20px;
}

@media (max-width: 1279px) {
  h1, h2 {
    font-size: 42px;
  }
}
@media (max-width: 991px) {
  h1, h2 {
    font-size: 36px;
  }
  .section {
    padding: 32px 0;
  }
  .section__title {
    margin-bottom: 32px;
  }
  .page-promo {
    padding: 56px 0;
  }
  .page-promo__title {
    font-size: 36px;
  }
  .page-promo__desc {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.03em;
  }
}
@media (max-width: 767px) {
  h1, h2 {
    font-size: 28px;
    line-height: 1.28;
  }
  .section {
    padding: 16px 0;
  }
  .section__title {
    margin-bottom: 16px;
  }
  .row_mb {
    margin-bottom: 16px;
  }
  .block {
    padding: 16px;
  }
  .block__title {
    font-size: 14px;
  }
  .block__text {
    font-size: 11px;
  }
  .page-promo {
    padding: 40px 0;
  }
  .page-promo__title {
    font-size: 28px;
    font-weight: 500;
  }
  .page-promo__title br {
    display: none;
  }
  .page-promo__desc {
    margin-top: 16px;
  }
}
/*-------------------------index-------------------------*/
@media (max-width: 1279px) {
  .help,
  .team,
  .reviews {
    margin-right: -35px;
    width: auto;
  }
  .copy {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .copy a {
    margin: 0 0 15px 30px;
  }
}
@media (max-width: 991px) {
  .team .person .name {
    font-size: 21px;
  }
  .c5 .col-lg-6 {
    margin-bottom: var(--bs-gutter-x);
  }
  .c5 .col-lg-6:last-child {
    margin-bottom: 0;
  }
  .copy a {
    margin: 16px 20px 0 0;
  }
  .footer .tr {
    text-align: left;
  }
}
@media (max-width: 767px) {
  h1, h2 {
    margin-bottom: 32px;
  }
  .advice {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .advice span {
    margin-bottom: 20px;
    padding: 0;
  }
  .include .in {
    padding: 16px;
  }
  .contact,
  .c3 .contact {
    padding: 16px;
  }
  #ac2 .accordion-item {
    margin-bottom: 10px;
  }
  .accordion-header .accordion-button {
    font-size: 16px;
  }
  .accordion-button {
    padding: 8px 0;
  }
  .intro .buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 767px) {
  .back-p,
  .back-m {
    background-image: none !important;
  }
  .intro__body {
    border-radius: 16px;
    overflow: hidden;
  }
  .intro__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .intro__content {
    padding: 16px;
    background: #F4F6FB;
  }
  .intro .in {
    padding: 16px 0;
    padding-right: var(--bs-gutter-x, 1.24rem);
    padding-left: var(--bs-gutter-x, 1.24rem);
  }
  .intro h1 {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.33;
    color: #1A1B21;
  }
  .stat {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .stat .st1 {
    margin-bottom: 16px;
    padding: 0 !important;
    border: 0;
  }
  .stat .nums {
    font-size: 24px;
    color: #1A1B21;
  }
  .stat span {
    color: #595D72;
  }
  .intro ul li {
    color: #595D72;
  }
  .intro .t-btn {
    line-height: 40px;
    font-size: 14px;
    text-align: center;
  }
  .intro ul {
    padding-top: 0;
  }
  .btn2 {
    color: #4D5C92;
    border: 1px solid #4D5C92;
  }
  .btn2:hover {
    background: #4D5C92;
    color: #fff;
  }
  .btn2:hover path {
    fill: #fff;
  }
  .contact .i2 {
    padding-bottom: 16px;
  }
  .contact .i img {
    width: 48px;
    height: 48px;
  }
  .contact .i {
    padding-left: 64px;
  }
  .contact .name div {
    margin-top: 2px;
  }
  .descr {
    font-size: 12px;
  }
  .c4 .item .in {
    padding: 16px;
  }
  .reviews .person .name div {
    font-size: 12px;
  }
  .rate img {
    width: 16px;
  }
  .rate {
    top: 22px;
    right: 16px;
  }
  .descr {
    margin-top: 0;
  }
  .team .person img {
    width: 64px;
    height: 64px;
  }
  .team .person {
    padding-left: 80px;
    padding-top: 10px;
  }
  .team .person .name {
    font-size: 16px;
  }
  .team .person .name div {
    font-size: 11px;
  }
  .reviews .in,
  .team .in {
    min-height: auto;
    padding-bottom: 32px !important;
  }
  h3, h4, h5, h6 {
    font-size: 24px;
  }
  .include h3 {
    margin-bottom: 16px;
    font-size: 24px;
  }
  .c4 p {
    font-size: 12px;
  }
  .advice {
    padding: 16px;
  }
  .advice div {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .grid-serv {
    gap: 16px;
  }
  .grid-serv span {
    font-size: 14px;
  }
  .accordion-body p {
    font-size: 12px;
  }
  #ac2 .accordion-item {
    padding-left: 0;
    padding-right: 0;
  }
  #ac2 {
    padding-top: 0;
  }
  .footer {
    padding: 32px 0;
  }
}
@media (max-width: 479px) {
  .t-btn {
    width: 100%;
    line-height: 40px;
    text-align: center;
  }
}
.owl-theme .owl-dots {
  display: none !important;
}

/*-------------------------report-------------------------*/
.report-list {
  padding-bottom: 4px;
}

.report-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
  padding: 12px 16px 12px 56px;
  border-radius: 12px;
  background: #F4F6FB;
}
.report-item:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 16px;
  width: 24px;
  height: 24px;
  background: url(../i/doc.svg) 50% 50% no-repeat;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.report-item__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-right: 20px;
}
.report-item__title {
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.01em;
  color: #1A1B21;
}
.report-item__size {
  margin-top: 2px;
  font-family: var(--font-family);
  font-size: 11px;
  line-height: 1.45;
  letter-spacing: 0.05em;
  color: #595D72;
}

@media (max-width: 767px) {
  .report-item__title {
    font-size: 12px;
    line-height: 1.33em;
    letter-spacing: 0.02em;
  }
}
/*-------------------------contacts-------------------------*/
.contacts-qr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.contacts-qr__title {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.33;
}
.contacts-qr__img {
  margin-bottom: 32px;
}
.contacts-qr__img img {
  max-width: 100%;
}
.contacts-qr__note-caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.contacts-qr__note-text {
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.01em;
  color: #595D72;
}

.contacts .block {
  height: 100%;
}
.contacts__title {
  margin-bottom: 56px;
}
.contacts__section {
  margin-bottom: 32px;
}
.contacts__section:last-of-type {
  margin-bottom: 0;
}
.contacts__download {
  position: absolute;
  top: 36px;
  right: 36px;
}

.contacts-details__item {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.01em;
  color: #4D5C92;
}
.contacts-details__item span {
  color: #595D72;
}

.contacts-address {
  margin-bottom: 32px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.42;
  letter-spacing: 0.02em;
}
.contacts-address:last-child {
  margin-bottom: 0;
}
.contacts-address span {
  color: #595D72;
}

@media (max-width: 1279px) {
  .contacts__title {
    margin-bottom: 30px;
  }
  .contacts__title span {
    display: block;
  }
}
@media (max-width: 991px) {
  .contacts__title {
    margin-bottom: 56px;
  }
  .contacts__title span {
    display: inline;
  }
}
@media (max-width: 767px) {
  .contacts__section {
    margin-bottom: 16px;
  }
  .contacts__title {
    margin-bottom: 16px;
  }
  .contacts__download {
    margin-top: 16px;
    position: static;
    width: 100%;
  }
  .contacts .col-lg-6 {
    margin-bottom: 16px;
  }
  .contacts .col-lg-6:last-child {
    margin-bottom: 0;
  }
  .contacts-details__item {
    font-size: 11px;
  }
  .contacts-address {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.03em;
  }
  .contacts-qr__title {
    margin-bottom: 16px;
  }
  .contacts-qr__img {
    margin-bottom: 16px;
  }
}
/*-------------------------documents-------------------------*/
.file {
  padding-right: 54px;
}

@media (max-width: 767px) {
  .contact .name {
    font-size: 14px;
    line-height: 1.42;
    letter-spacing: 0;
  }
  .file {
    font-size: 12px;
    line-height: 1.33333;
    letter-spacing: 0.04em;
  }
}
/*-------------------------board-------------------------*/
.board-item__text {
  color: #595D72;
}
.board-item__text p {
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.01em;
}
.board-item__text p strong {
  font-weight: normal;
  color: #4D5C92;
}
.board-item__post {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.board-item__post:last-child {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .board .col-lg-6 {
    margin-bottom: 16px;
  }
  .board .col-lg-6:last-child {
    margin-bottom: 0;
  }
}
/*-------------------------policy-------------------------*/
.policy h2 {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.33;
  color: #4D5C92;
}
.policy p strong {
  font-weight: normal;
  color: #1A1B21;
}

@media (max-width: 767px) {
  .policy h2 {
    font-size: 16px;
  }
}
/*-------------------------social-------------------------*/
.social__col {
  margin-bottom: var(--bs-gutter-x);
}

.social-item__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.social-item__logo {
  margin-right: 16px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 64px;
          flex: 0 0 64px;
  width: 64px;
  height: 64px;
  min-width: 0;
  background: #4D5C92;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.social-item__address {
  margin-top: 4px;
  color: #8FA3E8;
}
.social-item__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.social-item__type {
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.01em;
  color: #595D72;
}

.social-contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
}
.social-contact-item:last-child {
  margin-bottom: 0;
}
.social-contact-item__logo {
  margin-right: 16px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48px;
          flex: 0 0 48px;
  width: 48px;
  height: 48px;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #F4F6FB;
}
.social-contact-item__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 3px;
}
.social-contact-item__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.02em;
}
.social-contact-item__value {
  margin-top: 8px;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #595D72;
}
.social-contact-item__value a {
  color: #595D72;
}
.social-contact-item__value a:hover {
  color: #4D5C92;
}
.social-contact-item__name {
  margin-top: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.02em;
  color: #4D5C92;
}
.social-contact-item__req-item {
  margin-top: 16px;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.01em;
  color: #4D5C92;
}
.social-contact-item__req-item span {
  color: #595D72;
}

@media (max-width: 991px) {
  .social__row2 .col-lg-6 {
    margin-bottom: var(--bs-gutter-x);
  }
  .social__row2 .col-lg-6:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  .social__row2 .col-lg-6,
  .social__col {
    margin-bottom: 16px;
  }
  .social-item__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48px;
            flex: 0 0 48px;
    width: 48px;
    height: 48px;
  }
  .social-item__logo img {
    width: 24px;
    height: 24px;
  }
  .social-item__name {
    font-size: 12px;
    line-height: 1.33;
  }
  .social-item__address {
    font-size: 12px;
    line-height: 1.33;
  }
  .social-item__type {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
  }
  .social-item__link {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
  }
  .social-contact-item__title {
    font-size: 12px;
  }
  .social-contact-item__value {
    font-size: 11px;
  }
  .social-contact-item__name {
    font-size: 12px;
  }
  .social-contact-item__req-item {
    margin-top: 12px;
    font-size: 11px;
  }
  .social-contact-item {
    margin-bottom: 16px;
  }
}
/*-------------------------works-------------------------*/
.works-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.works-filters__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1.5rem;
  gap: 8px;
  padding: 8px;
  background: #fff;
  border-radius: 12px;
}
.works-filters__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 8px 12px;
  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
  line-height: 1.33;
  color: #595D72;
  letter-spacing: 0.03em;
  border-radius: 8px;
}
.works-filters__btn:hover {
  color: #4D5C92;
}
.works-filters__btn.active {
  background: #4D5C92;
  color: #fff;
}

.works__col {
  margin-bottom: var(--bs-gutter-x);
}

.works-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 192px;
}
.works-item__date {
  position: relative;
  margin-bottom: 16px;
  font-size: 12px;
  padding-left: 24px;
  line-height: 1.33;
  letter-spacing: 0.04em;
}
.works-item__date:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 16px;
  height: 16px;
  background-image: url(../i/icon-calendar.svg);
  background-repeat: no-repeat;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.works-item__title {
  font-size: 14px;
  margin-bottom: 28px;
  line-height: 1.42;
  letter-spacing: 0.01em;
}
.works-item__link {
  margin-top: auto;
}

.paginator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  padding-top: 10px;
}
.paginator li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32px;
          flex: 0 0 32px;
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.03em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #4D5C92;
  border-radius: 8px;
  min-width: 0;
}
.paginator li.active {
  background: #4D5C92;
  color: #fff;
}
.paginator li.active a {
  background: #4D5C92;
  color: #fff;
}
.paginator li a {
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #4D5C92;
  border-radius: 8px;
}

@media (max-width: 767px) {
  .works-filters {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: -1.24rem;
    margin-right: -1.24rem;
    padding: 0 1.24rem;
    overflow-x: auto;
  }
  .works-filters__list {
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
  }
  .works-item {
    min-height: auto;
  }
  .works-item__title {
    margin-bottom: 32px;
    font-size: 12px;
  }
}
@media (max-width: 374px) {
  .paginator {
    gap: 6px;
  }
  .paginator li a,
  .paginator li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 28px;
            flex: 0 0 28px;
    width: 28px;
    height: 28px;
  }
}
/*-------------------------placement-------------------------*/
.placement {
  background: #fff;
}

.placement-promo {
  margin-bottom: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F4F6FB;
  border-radius: 12px;
  overflow: hidden;
}
.placement-promo__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 328px;
          flex: 0 0 328px;
  width: 328px;
  min-width: 0;
}
.placement-promo__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.placement-promo__img-mob {
  display: none;
}
.placement-promo__content {
  padding: 32px;
}
.placement-promo__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.placement-promo__item {
  margin: 0 16px 16px 0;
  padding: 4px 8px;
  border-radius: 4px;
  background: #DCE1FF;
  font-size: 11px;
  line-height: 1.45;
  letter-spacing: 0.05em;
}
.placement-promo__item.active {
  background: #4D5C92;
  color: #fff;
}
.placement-promo__title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 32px;
  letter-spacing: -0.01em;
  line-height: 1.25;
}
.placement-promo__desc {
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 1.42857;
  letter-spacing: 0.01em;
  color: #595D72;
}
.placement-promo__features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 15px;
}
.placement-promo__feature {
  position: relative;
  margin: 0 16px 16px 0;
  padding: 8px 16px 8px 40px;
  background: #DCE1FF;
  border-radius: 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #4D5C92;
  letter-spacing: 0.03em;
}
.placement-promo__feature:before {
  content: "";
  display: block;
  position: absolute;
  left: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-image: url(../i/icon-check.svg);
}
.placement-promo__more {
  letter-spacing: -0.03em;
}

.charity {
  padding: 32px;
  background: #F4F6FB;
  border-radius: 16px;
}
.charity h3 {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.33;
  color: #4D5C92;
}
.charity h3 span {
  color: #1A1B21;
}
.charity .block__text ul li {
  padding-left: 20px;
}
.charity .block__text ul li:before {
  content: "";
  position: absolute;
  left: 8px;
  top: 7px;
  background: #595D72;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.placement-callback {
  background: #F4F6FB;
}
.placement-callback__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  border-radius: 16px;
  background: #fff;
  overflow: hidden;
}
.placement-callback__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  min-width: 0;
}
.placement-callback__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.placement-callback__img-mob {
  display: none;
}
.placement-callback__content {
  padding: 64px;
}
.placement-callback__title {
  margin-bottom: 32px;
}
.placement-callback__text {
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.01em;
  color: #595D72;
}
.placement-callback__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.placement-callback__btn {
  margin-right: 32px;
}
.placement-callback__btn:last-child {
  margin-right: 0;
}

@media (max-width: 1279px) {
  .placement-callback__content {
    padding: 32px;
  }
  .placement-callback__btn {
    margin-right: 16px;
  }
}
@media (max-width: 991px) {
  .placement-promo {
    display: block;
  }
  .placement-promo__img {
    width: 100%;
    height: 248px;
  }
  .placement-promo__img-desk {
    display: none;
  }
  .placement-promo__img-mob {
    display: block;
  }
  .placement-promo__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .placement-callback__body {
    display: block;
  }
  .placement-callback__img {
    height: 248px;
  }
  .placement-callback__img-desk {
    display: none;
  }
  .placement-callback__img-mob {
    display: block;
  }
}
@media (max-width: 767px) {
  .placement-promo__content {
    padding: 16px;
  }
  .placement-promo__items {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: auto;
    margin-right: -16px;
    padding-right: 16px;
  }
  .placement-promo__item {
    white-space: nowrap;
  }
  .placement-promo__title {
    font-size: 24px;
  }
  .placement-promo__desc {
    font-size: 11px;
    line-height: 1.454;
    letter-spacing: 0.05em;
  }
  .placement-promo__features {
    padding-bottom: 0;
  }
  .charity {
    padding: 16px;
  }
  .placement-callback__content {
    padding: 16px;
  }
  .placement-callback__title {
    margin-bottom: 16px;
    font-size: 28px;
  }
}
@media (max-width: 479px) {
  .placement-callback__text {
    margin-bottom: 16px;
    font-size: 11px;
    line-height: 1.45;
  }
  .placement-callback__btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 16px;
  }
}
@media (max-width: 359px) {
  .charity h3 {
    font-size: 20px;
  }
}
/*-------------------------about-------------------------*/
.about-stats {
  background: #fff;
}
.about-stats__col {
  margin-bottom: var(--bs-gutter-x);
}

.about-stats-item {
  height: 100%;
  padding: 32px;
  text-align: center;
  background: #F4F6FB;
  border-radius: 16px;
}
.about-stats-item__num {
  font-family: "Golos Text";
  margin-bottom: 8px;
  font-size: 57px;
  line-height: 1.12;
  font-weight: 600;
  color: #4D5C92;
}
.about-stats-item__title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.02em;
}
.about-stats-item__text {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #595D72;
}

.about-legal-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 32px;
  height: 100%;
  border-radius: 12px;
  background: #F4F6FB;
}
.about-legal-item__icon {
  margin-right: 16px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48px;
          flex: 0 0 48px;
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 12px;
  background: #DCE1FF;
  min-width: 0;
}
.about-legal-item__title {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.about-legal-item__desc {
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.01em;
  color: #595D72;
}

.about-report .report-item {
  background: #fff;
}
.about-report__col-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding-bottom: 25px;
}
.about-report__desc {
  margin-bottom: 32px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #595D72;
}
.about-report__features {
  margin-top: auto;
}
.about-report__feature {
  position: relative;
  margin-bottom: 22px;
  font-size: 12px;
  line-height: 1.33;
  padding-left: 32px;
  font-weight: 500;
  letter-spacing: 0.03em;
}
.about-report__feature:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 24px;
  height: 24px;
  background-image: url(../i/icon-circle-check.svg);
}

.about-help {
  background: #fff;
}
.about-help__col {
  margin-bottom: var(--bs-gutter-x);
}

.about-help-item {
  padding: 32px;
  border-radius: 16px;
  background: #F4F6FB;
  height: 100%;
}
.about-help-item.active {
  background: #4D5C92;
}
.about-help-item.active .about-help-item__icon {
  background: #F4F6FB;
}
.about-help-item.active .about-help-item__title,
.about-help-item.active .about-help-item__desc {
  color: #fff;
}
.about-help-item.active .about-help-item__more {
  color: #fff;
}
.about-help-item.active .about-help-item__more:after {
  background-image: url(../i/icon-arrow-right-white.svg);
}
.about-help-item__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}
.about-help-item__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 16px;
  border-radius: 12px;
  padding: 8px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48px;
          flex: 0 0 48px;
  width: 48px;
  height: 48px;
  background: #DCE1FF;
}
.about-help-item__title {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.about-help-item__desc {
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.01em;
  color: #595D72;
}

.about-callback {
  background: #F4F6FB;
}
.about-callback__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  border-radius: 16px;
  background: #fff;
  overflow: hidden;
}
.about-callback__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  min-width: 0;
}
.about-callback__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-callback__img-mob {
  display: none;
}
.about-callback__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 64px;
  background: #4D5C92;
}
.about-callback__title {
  margin-bottom: 32px;
  color: #fff;
}
.about-callback__desc {
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.01em;
  color: #fff;
}
.about-callback__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about-callback__btn {
  margin-right: 32px;
}
.about-callback__btn:last-child {
  margin-right: 0;
}

@media (max-width: 1279px) {
  .about-stats-item__num {
    font-size: 50px;
  }
  .about-stats-item {
    padding: 24px;
  }
  .about-callback__content {
    padding: 32px;
  }
  .about-callback__title {
    font-size: 40px;
  }
}
@media (max-width: 991px) {
  .about-legal__col {
    margin-bottom: var(--bs-gutter-x);
  }
  .about-callback__body {
    display: block;
  }
  .about-callback__img {
    height: 268px;
  }
  .about-callback__img-desk {
    display: none;
  }
  .about-callback__img-mob {
    display: block;
  }
  .about-callback__title {
    font-size: 36px;
  }
}
@media (max-width: 767px) {
  .about-stats-item__num {
    font-size: 36px;
  }
  .about-stats-item__title {
    font-size: 12px;
  }
  .about-stats-item__text {
    font-size: 11px;
  }
  .about-stats-item {
    padding: 32px;
  }
  .about-legal-item {
    padding: 16px;
  }
  .about-legal-item__title {
    font-size: 14px;
  }
  .about-legal-item__desc {
    font-size: 11px;
  }
  .about-report__desc {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.03em;
  }
  .about-help-item {
    padding: 16px;
  }
  .about-help-item__title {
    margin-bottom: 16px;
    height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
    line-height: 1.42;
    letter-spacing: 0.02em;
  }
  .about-help-item__desc {
    margin-left: -64px;
    font-size: 11px;
    line-height: 1.45;
    letter-spacing: 0.05em;
  }
  .about-help-item__more {
    font-size: 12px;
  }
  .about-callback__content {
    padding: 16px;
  }
  .about-callback__title {
    margin-bottom: 16px;
    font-size: 28px;
  }
  .about-callback__desc {
    font-size: 11px;
    line-height: 1.45;
    letter-spacing: 0.05em;
  }
  .about-callback__btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .about-callback__btn {
    margin: 0;
  }
}
@media (max-width: 479px) {
  .about-callback__img-mob {
    display: none;
  }
  .about-callback__img-desk {
    display: block;
  }
}
/*-------------------------programm-------------------------*/
.programm-promo {
  position: relative;
  background: #F4F6FB;
}
.programm-promo__title span {
  color: #4D5C92;
}
.programm-promo__title_mob {
  display: none;
}
.programm-promo__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.programm-promo__media {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 600px;
          flex: 0 0 600px;
  width: 600px;
  min-width: 0;
  margin-top: 65px;
}
.programm-promo__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-right: 72px;
}
.programm-promo__img {
  height: 400px;
  border-radius: 16px;
  overflow: hidden;
}
.programm-promo__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.programm-promo__text {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: #595D72;
}
.programm-promo__features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
}
.programm-promo__feature {
  border-radius: 12px;
  padding: 12px 16px;
  background: #fff;
}
.programm-promo__feature {
  position: relative;
  padding-right: 70px;
  min-width: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 16px);
          flex: 0 0 calc(50% - 16px);
}
.programm-promo__feature:after {
  content: "";
  display: block;
  position: absolute;
  right: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 32px;
  height: 32px;
  background-image: url(../i/icon-programm-feature.svg);
  background-repeat: no-repeat;
}
.programm-promo__feature_full {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex: 0 0 calc(100% - 16px);
      flex: 0 0 calc(100% - 16px);
}
.programm-promo__feature-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.02em;
  color: #4D5C92;
}
.programm-promo__feature-text {
  font-size: 11px;
  line-height: 1.45455;
  letter-spacing: 0.05em;
  color: #595D72;
}
.programm-promo__callback {
  margin-top: 32px;
}
.programm-promo__info {
  position: absolute;
  left: -24px;
  bottom: -24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  border-radius: 12px;
  padding: 16px;
  width: 258px;
}
.programm-promo__info-icon {
  margin-right: 16px;
  width: 48px;
  height: 48px;
  border-radius: 12px;
  background: #F4F6FB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.programm-promo__info-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.02em;
}
.programm-promo__info-text {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #595D72;
}

@media (max-width: 1439px) {
  .programm-promo__title {
    font-size: 45px;
  }
  .programm-promo__media {
    margin-top: 15px;
  }
}
@media (max-width: 1279px) {
  .programm-promo__body {
    display: block;
  }
  .programm-promo__title_desk {
    display: none;
  }
  .programm-promo__title_mob {
    display: block;
  }
  .programm-promo__media {
    margin: 0 auto 70px;
  }
  .programm-promo__content {
    padding-right: 0;
  }
}
@media (max-width: 991px) {
  .programm-promo__title {
    font-size: 36px;
  }
}
@media (max-width: 767px) {
  .programm-promo__media {
    margin: 0 16px 32px;
    width: auto;
  }
  .programm-promo__info {
    left: -16px;
    bottom: -16px;
  }
  section {
    padding: 32px 0;
  }
}
@media (max-width: 639px) {
  .programm-promo__img {
    height: 210px;
  }
  .programm-promo__info {
    padding: 10px;
  }
  .programm-promo__info-title {
    font-size: 12px;
  }
  .programm-promo__info-text {
    font-size: 11px;
  }
  .programm-promo__feature {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 16px);
            flex: 0 0 calc(100% - 16px);
  }
  .programm-promo__title {
    font-size: 24px;
  }
}
.participants__title {
  margin-bottom: 16px;
}
.participants__desc {
  margin-bottom: 64px;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.01em;
}
.participants__col {
  margin-bottom: var(--bs-gutter-x);
}

.participants-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  background: #F4F6FB;
  border-radius: 12px;
  overflow: hidden;
}
.participants-item__img {
  width: 175px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 175px;
          flex: 0 0 175px;
  min-width: 0;
  height: 100%;
}
.participants-item__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.participants-item__content {
  padding: 32px;
}
.participants-item__title {
  position: relative;
  padding-top: 20px;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.participants-item__title:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 3px;
  background: #4D5C92;
  border-radius: 3px;
}
.participants-item__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.01em;
  color: #595D72;
}

.advice_2 {
  position: relative;
  margin-top: 0px;
  padding-left: 72px;
  background: #F4F6FB;
}
.advice_2 img {
  position: absolute;
  left: 32px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 767px) {
  .participants__row {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: auto;
    margin-right: -1.24rem;
    padding-right: 1.24rem;
  }
  .participants__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 308px;
            flex: 0 0 308px;
    min-width: 0;
    width: 308px;
  }
  .participants-item {
    display: block;
  }
  .participants-item__img {
    width: 100%;
    height: 175px;
  }
  .participants-item__content {
    padding: 16px;
  }
  .participants-item__title {
    padding-top: 16px;
  }
  .participants-item__text {
    font-size: 11px;
  }
  .advice_2 {
    display: block;
    padding: 16px;
  }
  .advice_2 span {
    padding-right: 0;
    margin-bottom: 16px;
  }
  .advice_2 {
    padding-left: 56px;
  }
  .advice_2 img {
    position: absolute;
    left: 16px;
    top: 16px;
    -webkit-transform: none;
            transform: none;
  }
}
.info {
  background: #F4F6FB;
}

.term__title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.term__desc {
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #595D72;
}

.term-features-item {
  margin-bottom: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.term-features-item__icon {
  border-radius: 12px;
  padding: 8px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 64px;
          flex: 0 0 64px;
  width: 64px;
  height: 64px;
  margin-right: 16px;
  background: #F4F6FB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.term-features-item__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 3px;
}
.term-features-item__title {
  margin-bottom: 4px;
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.03em;
}
.term-features-item__text {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #595D72;
}

.docs__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  min-height: 40px;
}
.docs__caption {
  padding-right: 10px;
  line-height: 1.2;
}
.docs__download {
  position: absolute;
  top: 32px;
  right: 32px;
}

.docs-item {
  margin-bottom: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.docs-item:last-child {
  margin-bottom: 0;
}
.docs-item__num {
  margin-right: 16px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48px;
          flex: 0 0 48px;
  width: 48px;
  height: 48px;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #4D5C92;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
}
.docs-item__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.docs-item__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.docs-item__desc {
  font-size: 12px;
  line-height: 1.33;
  color: #595D72;
  letter-spacing: 0.04em;
}

@media (max-width: 1279px) {
  .docs-item {
    margin-bottom: 24px;
  }
  .docs-item__title {
    line-height: 1.3;
  }
  .docs__caption {
    max-width: 250px;
  }
  .docs__download {
    padding: 0 10px;
    font-size: 13px;
  }
  .docs__download svg {
    margin-right: 5px;
  }
}
@media (max-width: 991px) {
  .info__col {
    margin-bottom: var(--bs-gutter-x);
  }
  .info__col:last-child {
    margin-bottom: 0;
  }
  .docs__download {
    position: static;
    margin-top: 20px;
  }
  .docs__caption {
    max-width: none;
  }
}
@media (max-width: 767px) {
  .term-features-item__title {
    font-size: 14px;
  }
  .term-features-item__text {
    font-size: 11px;
  }
  .term__desc {
    margin-bottom: 16px;
  }
  .docs-item__title {
    font-size: 14px;
  }
  .docs-item__desc {
    font-size: 11px;
  }
}
@media (max-width: 479px) {
  .term-features-item {
    margin-bottom: 20px;
  }
}
.steps__col {
  margin-bottom: var(--bs-gutter-x);
}
.steps__order {
  text-align: center;
}

.steps-item {
  padding: 32px;
  height: 100%;
  background: #F4F6FB;
  border-radius: 16px;
}
.steps-item__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 18px;
}
.steps-item__num {
  margin-left: auto;
  font-weight: 600;
  font-size: 45px;
  line-height: 1.15;
  color: #DEE1F9;
}
.steps-item__icon {
  margin-right: 16px;
  border-radius: 12px;
  padding: 8px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48px;
          flex: 0 0 48px;
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #DCE1FF;
}
.steps-item__time {
  padding: 4px 8px;
  font-size: 11px;
  line-height: 1.45;
  letter-spacing: 0.05em;
  border-radius: 4px;
  background: #DCE1FF;
}
.steps-item__title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.steps-item__text {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
}

@media (max-width: 767px) {
  .steps-item {
    padding: 16px;
  }
  .steps-item__title {
    font-size: 14px;
  }
  .steps-item__text {
    font-size: 11px;
  }
  .steps__col {
    margin-bottom: 16px;
  }
}
.faq-accordeon {
  margin-bottom: 36px;
  padding: 0 32px;
  background: #F4F6FB;
  border-radius: 12px;
}

.faq-accordeon-item {
  border-bottom: 1px solid #DCE1FF;
}
.faq-accordeon-item.active .faq-accordeon-item__title span:after {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.faq-accordeon-item:last-child {
  border: 0;
}
.faq-accordeon-item__title {
  position: relative;
  padding: 20px 50px 20px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.03em;
}
.faq-accordeon-item__title span {
  display: block;
  position: absolute;
  top: 16px;
  right: 0;
  border-radius: 4px;
  width: 32px;
  height: 32px;
  background: #fff;
  overflow: hidden;
}
.faq-accordeon-item__title span:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  background-image: url(../i/icon-accordeon.svg);
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-position: 50% 50%;
}
.faq-accordeon-item__content {
  display: none;
}
.faq-accordeon-item__text {
  padding-bottom: 16px;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.01em;
  color: #595D72;
}

.faq-callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.faq-callback__title {
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.01em;
  color: #595D72;
}
.faq-callback__btn {
  height: 40px;
  font-size: 14px;
}

@media (max-width: 767px) {
  .faq-accordeon {
    margin-bottom: 16px;
    padding: 0 16px;
  }
  .faq-accordeon-item__title {
    padding: 16px 50px 16px 0;
    font-size: 14px;
    line-height: 1.42;
    letter-spacing: 0.02em;
  }
  .faq-accordeon-item__text {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
  }
  .faq-callback {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 12px;
  }
  .faq-callback__btn {
    width: auto;
  }
}
.house {
  background: #F4F6FB;
}

.house-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  margin-bottom: 64px;
  border-radius: 12px;
  overflow: hidden;
}
.house-item:last-child {
  margin: 0;
}
.house-item__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 328px;
          flex: 0 0 328px;
  width: 328px;
  min-height: 328px;
  min-width: 0;
}
.house-item__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.house-item__content {
  padding: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.house-item__title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
}
.house-item__desc {
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.01em;
  color: #595D72;
}
.house-item__features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-right: 50px;
}
.house-item__features li {
  position: relative;
  margin: 0 40px 20px 0;
  padding-left: 40px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: #595D72;
}
.house-item__features li:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 16px;
  width: 16px;
  height: 16px;
  background-image: url(../i/icon-feature.svg);
}
.house-item__more {
  margin-top: auto;
}

@media (max-width: 991px) {
  .house__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
  .house-item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: auto;
    margin: 0;
    min-width: 0;
  }
  .house-item__img {
    width: 100%;
    height: 334px;
  }
  .house-item__content {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding: 16px;
  }
  .house-item__title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 28px;
    line-height: 1.28;
  }
  .house-item__features {
    padding-right: 0;
  }
  .house-item__features li {
    margin-right: 0;
  }
  .house-item__more {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .house-item__title {
    font-size: 24px;
  }
  .house-item__desc {
    font-size: 12px;
  }
  .house-item__features li {
    font-size: 11px;
  }
  .house__list {
    overflow-x: auto;
    gap: 1.24rem;
    margin-right: -1.24rem;
    padding-right: 1.24rem;
  }
  .house-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 310px;
            flex: 0 0 310px;
    width: 310px;
  }
}
@media (max-width: 359px) {
  .house__list {
    gap: 0.8rem;
  }
  .house-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 280px;
            flex: 0 0 280px;
    width: 280px;
  }
}