@use "utils/vars";
@use "utils/mixins";

@use "base/reset";
@use "base/fonts";
@use "base/general";

@use "components/forms";
@use "components/modals";

@use "layout/header";
@use "layout/footer";

@use "pages/index";