/*==============================ABOUT==============================*/
.page{
	background-image: url(../images/bg-shape.svg);
	background-position: 50% 0;
	.wrapper{
		background-image: url(../images/bg-stars.svg);
		background-position: 30% 0;
		background-repeat: no-repeat;
	}
}
.content{
	position: relative;
	margin: 60px auto 40px;
	max-width: 1364px;
	padding: 2px;
	background: linear-gradient(to bottom, #90BAF3, transparent);
	box-shadow: 0px 42px 71px rgba(0, 0, 0, 0.15);
	border-radius: 30px;
	&:before{
		content: '';
		display: block;
		position: absolute;
		top: -30px;
		left: 50%;
		width: 747px;
		height: 193px;
		transform: translateX(-50%);
		background-image: url(../images/content-top-shape.svg);
		z-index: -1;
	}
}
.content-inner{
	padding: 70px 0 100px 0;
	border-radius: 30px;
	background: #fff;
}
.content__title{
	font-size: 38px;
	line-height: 1.3;
}
.content__subtitle{
	margin-bottom: 55px;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	color: rgba(13, 3, 3, 0.66);
}
.about-info{
	display: flex;
	margin-bottom: 50px;
}
.about-info-video{
	flex: 0 0 462px;
	max-width: 462px;
}
.about-info-video-item{
	display: block;
	text-align: center;
}
.about-info-video-item__poster{
	display: block;
	margin-bottom: 23px;
	border-radius: 15px;
	overflow: hidden;
	&:hover{
		img{
			transform: scale(1.1);
		}
	}
	img{
		width: 100%;
		transition: all 0.3s ease;
	}
}
.about-info-video-item__caption{
	display: inline-flex;
	align-items: center;
	font-weight: 800;
	font-size: 13px;
	letter-spacing: 0.22em;
	text-transform: uppercase;
	color: #2F80ED;
	transition: all 0.3s ease;
	&:hover{
		opacity: 0.8;
	}
	img{
		margin-right: 10px;
	}
}
.about-info-content{
	flex-grow: 1;
	padding-left: 60px;
}
.about__caption{
	margin-bottom: 20px;
	font-size: 28px;
	font-weight: 700;
	line-height: 1.3;
}
.about-system{
	display: flex;
	margin-bottom: 50px;
}
.about-system-content{
	padding-right: 45px;
}
.about-system-image{
	flex: 0 0 560px;
	max-width: 560px;
	img{
		max-width: 100%;
		border-radius: 15px;
	}
}
.about-benefits__title{
	margin-bottom: 35px;
	font-size: 28px;
	font-weight: 700;
	text-align: center;
	line-height: 1.3;
}
.about-benefits-row{
	display: flex;
	background: #F9F2F2;
	border-radius: 15px;
}
.about-benefits-item{
	position: relative;
	flex: 0 0 25%;
	max-width: 25%;
	padding: 40px 40px 60px;
	text-align: center;
	border-radius: 15px;
	&:last-child{
		&:after{
			display: none;
		}
	}
	&:after{
		content: '';
		display: block;
		position: absolute;
		right: 0;
		top: 45px;
		bottom: 45px;
		width: 1px;
		height: auto;
		background: rgba(0,0,0, 0.08);
	}
	&.active{
		background: #372665;
		&:after{
			background: #372665;
		}
		.about-benefits-item__caption{
			color: #fff;
		}
		.about-benefits-item__desc{
			color: rgba(255,255,255, 0.62);
		}
	}
}
.about-benefits-item__icon{
	height: 60px;
}
.about-benefits-item__caption{
	margin-bottom: 15px;
	font-size: 22px;
	line-height: 30px;
	font-weight: 700;
	color: #000;
}
.about-benefits-item__desc{
	font-size: 15px;
	line-height: 20px;
	color: rgba(0,0,0, 0.62);
}
/*==============================NEWS==============================*/
.news-row{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -17px;
	padding-top: 50px;
}
.news-col{
	flex: 0 0 33.333%;
	max-width: 33.333%;
	margin-bottom: 17px;
	padding: 0 17px;
}
.news-item{
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 6px 25px 35px;
	background: #F9F2F2;
	border-radius: 20px;
}
.news-item__image{
	display: block;
	margin: 0 -19px 15px;
	height: 230px;
	border-radius: 20px 20px 0 0;
	overflow: hidden;
	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.news-item__title{
	margin-bottom: 15px;
	font-size: 20px;
	line-height: 27px;
	font-weight: 700;
	color: #0F0303;
	a{
		color: #0F0303;
		&:hover{
			color: #2F80ED;
		}
	}
}
.news-item__date{
	margin-bottom: 15px;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 0.09em;
	text-transform: uppercase;
	color: #828282;
}
.news-item__text{
	margin-bottom: 30px;
	font-size: 16px;
	line-height: 22px;
	color: rgba(15, 3, 3, 0.76);
}
.news-item__link{
	margin-top: auto;
	padding-left: 20px;
	align-self: flex-start;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 0.09em;
	text-transform: uppercase;
	background-image: url(../images/icon-link-arrow.svg);
	background-position: 0 50%;
	background-repeat: no-repeat;
	color: #2F80ED;
	&:hover{
		opacity: 0.7;
	}
}
/*==============================PARTNER==============================*/
.partner-table{
	margin-bottom: 90px;
	padding-top: 45px;
	table{
		tr{
			&:last-child{
				td{
					border-bottom: 0;
				}
			}
		}
		th{
			position: relative;
			vertical-align: bottom;
			padding-bottom: 20px;
			text-align: center;
			font-size: 20px;
			background: #382668;
			color: #fff;
			height: 80px;
			&:first-child{
				padding-left: 40px;
				text-align: left;
				border-radius: 15px 0 0 15px;
			}
			&:last-child{
				border-radius: 0 15px 15px 0;
			}
		}
		td{
			vertical-align: middle;
			text-align: center;
			padding: 20px;
			height: 100px;
			width: 180px;
			font-size: 18px;
			line-height: 24px;
			font-weight: 700;
			color: #0F0303;
			border-bottom: 1px solid rgba(0, 0, 0, 0.25);
			border-left: 1px solid rgba(0, 0, 0, 0.25);
			transition: all 0.3s ease;
			&:hover{
				font-size: 18px;
				font-weight: 700;
				color: #382668;
				background: rgba(47, 128, 237, 0.18);
			}
			&:first-child{
				padding-left: 40px;
				width: auto;
				font-weight: normal;
				text-align: left;
				border-left: 0;
			}
		}
	}
}
.partner-table__divider{
	td{
		height: 20px !important;
		padding: 0 !important;
		border: 0 !important;
		&:hover{
			background: transparent !important;
		}
	}
}
.partner-table__trophy{
	position: absolute;
	left: 0;
	bottom: 50px;
	width: 100%;
}
.partner-steps-row{
	display: flex;
	margin-bottom: 55px;
	padding: 0 20px;
}
.partner-steps-item{
	flex: 0 0 33.333%;
	max-width: 33.333%;
	padding: 0 50px;
	text-align: center;
}
.partner-steps-item__image{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto 30px;
	width: 180px;
	height: 180px;
	background: #2F80ED;
	border: 11px solid #F9F2F2;
	border-radius: 50%;
	span{
		position: absolute;
		right: 10px;
		bottom: 5px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 31px;
		height: 31px;
		font-size: 18px;
		font-weight: 700;
		color: #000;
		background: #F2C94C;
		border-radius: 50%;
	}
}
.partner-steps-item__caption{
	margin-bottom: 15px;
	font-size: 22px;
	font-weight: 700;
	color: #090303;
}
.partner-steps-item__desc{
	font-size: 16px;
	line-height: 22px;
	color: #090303;
	opacity: 0.62;
}
.partner-steps-button{
	text-align: center;
	.btn{
		justify-content: space-between;
		padding: 0 10px 0 35px;
	}
}
.qr-code{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 48px;
	background: #2571D7;
	border-radius: 5px;
	transition: all 0.3s ease;
	&:hover{
		opacity: 0.8;
	}
}
/*==============================CONTACTS==============================*/
.contacts{
	display: flex;
}
.contacts-form{
	margin-right: 85px;
	flex: 0 0 560px;
	max-width: 560px;
	padding: 8px;
	background: #F9F2F2;
	border-radius: 15px;
}
.contacts-form__caption{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	height: 113px;
	background: #372666;
	border-radius: 15px 15px 0 0;
	img{
		margin-right: 10px;
	}
}
.contacts-form-content{
	padding: 37px 52px 29px;
}
.contacts-form-item{
	margin-bottom: 10px;
}
.contacts-form-button{
	text-align: center;
	padding-top: 15px;
}
.contacts-input{
	width: 100%;
	height: 48px;
	padding: 0 15px 0 50px;
	color: #372666;
	background: rgba(196, 196, 196, 0.11);
	border: 1px solid #C4C4C4;
	background-repeat: no-repeat;
	background-position: 15px 12px;
	border-radius: 3px;
	transition: all 0.3s ease;
	&::-webkit-input-placeholder {
	    color: rgba(0,0,0, 0.5);
	}
	&::-moz-placeholder {
	    color: rgba(0,0,0, 0.5);
	}
	&:-moz-placeholder {
	    color: rgba(0,0,0, 0.5);
	}
	&:-ms-input-placeholder {
	    color: rgba(0,0,0, 0.5);
	}
	&:focus{
		background-color: #fff;
		border: 1px solid rgba(87, 73, 127, 0.5);
	}
}
.contacts-input_name{
	background-image: url(../images/icon-input-name.svg);
	&:focus{
		background-image: url(../images/icon-input-name-hover.svg);
	}
}
.contacts-input_email{
	background-image: url(../images/icon-input-email.svg);
	&:focus{
		background-image: url(../images/icon-input-email-hover.svg);
	}
}
.contacts-input_topic{
	background-image: url(../images/icon-input-topic.svg);
	&:focus{
		background-image: url(../images/icon-input-topic-hover.svg);
	}
}
.contacts-textarea{
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	height: 165px;
	min-height: 165px;
	padding: 15px 15px 15px 50px;
	color: #372666;
	background-color: rgba(196, 196, 196, 0.11);
	background-image: url(../images/icon-input-message.svg);
	background-repeat: no-repeat;
	background-position: 15px 15px;
	border: 1px solid #C4C4C4;
	border-radius: 3px;
	transition: all 0.3s ease;
	&::-webkit-input-placeholder {
	    color: rgba(0,0,0, 0.5);
	}
	&::-moz-placeholder {
	    color: rgba(0,0,0, 0.5);
	}
	&:-moz-placeholder {
	    color: rgba(0,0,0, 0.5);
	}
	&:-ms-input-placeholder {
	    color: rgba(0,0,0, 0.5);
	}
	&:focus{
		background-color: #fff;
		border: 1px solid rgba(87, 73, 127, 0.5);
		background-image: url(../images/icon-input-message-hover.svg);
	}
}
.contacts-content{
	position: relative;
	flex-grow: 1;
	padding-top: 165px;
}
.contacts-content__image{
	position: absolute;
	top: -15px;
	left: 15px;
}
.contacts-content__title{
	margin-bottom: 25px;
	line-height: 34px;
	font-size: 20px;
	font-weight: 700;
	color: #0D0303;
}
.contacts-content__text{
	margin-bottom: 15px;
	line-height: 27px;
}
.contacts-content-emails__item{
	margin-bottom: 10px;
	font-size: 18px;
	line-height: 24px;
	a{
		font-weight: 700;
		color: #2F80ED;
		&:hover{
			opacity: 0.7;
		}
	}
}