/*==============================FONTS==============================*/
@font-face {
    font-family: 'UniNeue';
    src: url('../fonts/UniNeueRegular.eot');
    src: url('../fonts/UniNeueRegular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/UniNeueRegular.woff') format('woff'),
         url('../fonts/UniNeueRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UniNeue';
    src: url('../fonts/UniNeueRegular-Italic.eot');
    src: url('../fonts/UniNeueRegular-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/UniNeueRegular-Italic.woff') format('woff'),
         url('../fonts/UniNeueRegular-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'UniNeue';
    src: url('../fonts/UniNeueBold.eot');
    src: url('../fonts/UniNeueBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/UniNeueBold.woff') format('woff'),
         url('../fonts/UniNeueBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'UniNeue';
    src: url('../fonts/UniNeueHeavy.eot');
    src: url('../fonts/UniNeueHeavy.eot?#iefix') format('embedded-opentype'),
         url('../fonts/UniNeueHeavy.woff') format('woff'),
         url('../fonts/UniNeueHeavy.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'UniNeueBook';
    src: url('../fonts/UniNeueBook.eot');
    src: url('../fonts/UniNeueBook.eot?#iefix') format('embedded-opentype'),
         url('../fonts/UniNeueBook.woff') format('woff'),
         url('../fonts/UniNeueBook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MullerMedium';
    src: url('../fonts/MullerMedium.eot');
    src: url('../fonts/MullerMedium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MullerMedium.woff') format('woff'),
         url('../fonts/MullerMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Rubik';
    src: url('../fonts/rubik-regular.eot');
    src: url('../fonts/rubik-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rubik-regular.woff') format('woff'),
         url('../fonts/rubik-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Rubik';
    src: url('../fonts/rubik-medium.eot');
    src: url('../fonts/rubik-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rubik-medium.woff') format('woff'),
         url('../fonts/rubik-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}