/*==============================FORM ELEMENTS==============================*/
.btn{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0 25px;
	width: 306px;
	height: 68px;
	font-size: 18px;
	font-weight: 700;
	color: #fff;
	text-align: center;
	background: #2F80ED;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.3s ease;
	&:hover{
		background: #408CF3;
	}
}
.btn_print{
	min-width: 254px;
	padding: 0 10px 0 25px;
	justify-content: space-between;
	width: auto;
	span{
		margin-left: 20px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 48px;
		height: 48px;
		background: #2571D7;
		transition: all 0.3s ease;
		border-radius: 5px;
	}
}









.checkbox{
	input[type="checkbox"]{
		display: none;
	}
	label{
		position: relative;
		font-size: 16px;
		line-height: 21px;
		padding-left: 30px;
		cursor: pointer;
		&:before{
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 21px;
			height: 21px;
			background: url(../images/icon-checkbox.png);
			z-index: 1;
		}
	}
	input[type="checkbox"]:checked + label:before {
		background: url(../images/icon-checkbox-checked.png);
	}
}
.radio{
	input[type="radio"]{
		display: none;
	}
	label{
		position: relative;
		font-size: 16px;
		line-height: 21px;
		padding-left: 30px;
		cursor: pointer;
		&:before{
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 21px;
			height: 21px;
			background: url(../images/icon-radio.png);
			z-index: 1;
		}
	}
	input[type="radio"]:checked + label:before {
		background: url(../images/icon-radio-checked.png);
	}
}













.select{
	position: relative;
	cursor: pointer;
	&.active{
		.select-title{
			border-radius: 5px 5px 0 0;
			&:after{
				transform: rotate(-180deg);
			}
		}
	}
}
.select-title{
	position: relative;
	width: 100%;
	height: 38px;
	background: #fff;
	border: 1px solid rgba(47, 128, 237, 0.59);
	border-radius: 5px;
	z-index: 1;
	&:after{
		content: '';
		display: block;
		position: absolute;
		top: calc(50% - 3px);
		right: 10px;
		width: 9px;
		height: 6px;
		background-image: url(../images/icon-arrow-select.svg);
		background-repeat: no-repeat;
		background-position: 50% 50%;
		transition: all 0.3s ease;
	}
}
.select-title__value{
	display: block;
	padding: 0 25px 0 15px;
	font-size: 17px;
	font-weight: 700;
	line-height: 36px;
	color: #2F80ED;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.select-options{
	display: none;
	position: absolute;
	top: 100%;
	min-width: 100%;
	border: 1px solid rgba(47, 128, 237, 0.59);
	border-top: none;
	border-radius: 0 0 5px 5px;
	background: #fff;
	overflow: hidden;
	z-index: 10;
}
.select-options__value{
	padding: 8px 15px;
	font-size: 16px;
	color: #2F80ED;
	&:hover{
		color: #fff;
		background-color: #2F80ED;
	}
}
.select_orange{
	&.active{
		.select-title{
			border-color: #F2C94C;
		}
	}
	.select-title{
		border: 2px solid #F2C94C;
		&:after{
			background-image: url(../images/icon-arrow-select-black.svg);
		}
	}
	.select-title__value{
		line-height: 34px;
		color: #0D0303;
	}
	.select-options{
		border: 2px solid #F2C94C;
		border-top: 0;
	}
	.select-options__value{
		color: #0D0303;
		&:hover{
			background: #F2C94C;
			color: #fff;
		}
	}
}
/*--------------------icons--------------------*/
.ic{
	display: inline-block;
	flex-shrink: 0;
	background-size: contain;
	background-repeat: no-repeat;
}
.ic-print{
	width: 30px;
	height: 30px;
	background-image: url(../images/icon-print.svg);
}



.ic-menu-home{
	width: 22px;
	height: 22px;
	background-image: url(../images/icon-menu-home.svg);
}
.ic-menu-about{
	width: 22px;
	height: 22px;
	background-image: url(../images/icon-menu-about.svg);
}
.ic-menu-news{
	width: 22px;
	height: 22px;
	background-image: url(../images/icon-menu-news.svg);
}
.ic-menu-partner{
	width: 22px;
	height: 22px;
	background-image: url(../images/icon-menu-partner.svg);
}
.ic-menu-contacts{
	width: 22px;
	height: 22px;
	background-image: url(../images/icon-menu-contacts.svg);
}