/*==============================INDEX==============================*/
.swiper-wrapper{
    width: 100%;
}
.swiper-pagination-bullet{
    margin: 0 3px !important;
    background: #26241F;
    opacity: 0.4;
}
.swiper-pagination-bullet-active{
    opacity: 1;
}
.swiper-button-prev ,
.swiper-button-next {
    outline: none;
    height: 22px;
    path{
        fill: #26241F;
    }
}
.section{
    position: relative;
    padding: 80px 0;
    font-family: 'HelveticaNeue', sans-serif;
    color: #26241f;
    @media (max-width: 575px){
        padding: 40px 0;
    }
    &__top{
        position: relative;
        padding: 0 15px;
    }
    &__caption{
        top: 0;
        left: 15px;
        position: absolute;
        padding-left: 17px;
        letter-spacing: -0.01em;
        font-weight: 300;
        &:before{
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 5px;
            width: 7px;
            height: 7px;
            background: #26241F;
            border-radius: 50%;
        }
        @media (max-width: 1399px) {
            position: relative;
            top: 0;
            left: 0;
            margin-bottom: 10px;
        }
    }
    &__title{
        margin-bottom: 10px;
        font-size: 38px;
        line-height: 1.1;
        font-weight: 500;
        letter-spacing: -0.01em;
        font-weight: 500;
        text-align: center;
        @media (max-width: 1279px) {
            font-size: 28px;
        }
        @media (max-width: 575px) {
            font-size: 22px;
            text-align: left;
            br{
                display: none;
            }
        }
    }
    &__subtitle{
        width: 50%;
        margin-left: auto;
        font-size: 18px;
        line-height: 1.1;
        letter-spacing: -0.02em;
        @media (max-width: 1279px) {
            font-size: 16px;
            width: 100%;
            text-align: center;
        }
        @media (max-width: 575px) {
            text-align: left;
            .section__subtitle-inner{
                max-width: 100%;
            }
        }
        p{
            margin-bottom: 10px;
        }
    }
    &__subtitle-inner{
        max-width: 380px;
        @media (max-width: 1279px){
            max-width: 360px;
            display: inline-block;
        }
    }
    &__more{
        text-align: center;
        @media (max-width: 575px){
            padding: 0 15px;
        }
    }
}
.mainprojects-carousel{
    min-height: 580px;
    @media (max-width: 1279px) {
        min-height: 430px;
    }
    @media (max-width: 575px) {
        min-height: auto;
    }
    .swiper-button-prev{
        top: 180px;
        left: 50%;
        margin-left: -520px;
    }
    .swiper-button-next{
        top: 180px;
        right: 50%;
        margin-right: -520px;
    }
    .swiper-slide {
        flex-shrink: 0;
        margin: 0 14px;
        width: 940px;
        overflow: visible;
        display: flex;
        align-items: center;
    }
    .swiper-slide-active {
        padding-right: 0;
        .mainprojects-item{
            width: 100%;
            &:nth-child(2){
                display: none;
            }
        }
        .mainprojects-item__img{
            height: 500px;
            filter: grayscale(0);
        }
        .mainprojects-item__title{
            opacity: 1;
        }
        .mainprojects-item__author{
            opacity: 0.4;
        }
    }
    .swiper-slide-prev{
        padding-right: 28px;
        flex-direction: row-reverse;
        justify-content: flex-start;
        .mainprojects-item{
            &:last-child{
                margin-right: 28px;
            }
        }
    }
    .swiper-slide-next{
        padding-left: 28px;
        .mainprojects-item{
            &:last-child{
                margin-left: 28px;
            }
        }
    }
    @media (max-width: 1799px) {
        .swiper-button-prev {
            margin-left: -440px;
        }
        .swiper-button-next {
            margin-right: -440px;
        }
        .swiper-slide{
            width: 780px;
        }
    }
    @media (max-width: 1279px) {
        .swiper-button-prev {
            top: 110px;
            margin-left: -350px;
        }
        .swiper-button-next {
            top: 110px;
            margin-right: -350px;
        }
        .swiper-slide{
            width: 600px;
        }
        .swiper-slide-active .mainprojects-item__img{
            height: 350px;
        }
    }
    @media (max-width: 992px) {
        .swiper-button-prev {
            margin-left: -270px;
        }
        .swiper-button-next {
            margin-right: -270px;
        }
        .swiper-slide{
            width: 450px;
        }
        .swiper-slide-prev{
            padding-right: 15px;
        }
        .swiper-slide-next{
            padding-left: 15px;
        }
    }
    @media (max-width: 575px) {
        padding-bottom: 35px;
        .swiper-pagination{
            bottom: 10px;
        }
        .swiper-button-prev {
            margin-left: 0;
            left: 0;
        }
        .swiper-button-next {
            right: 0;
            margin-right: 0;
        }
        .swiper-slide{
            margin: 0;
            padding: 0 45px;
            width: 100%;
        }
        .swiper-slide-active .mainprojects-item__img{
            height: 180px;
        }
    }
}
.mainprojects-item{
    width: 340px;
    font-size: 18px;
    transition: width 0.3s ease;
    will-change: transform;
    @media (max-width: 1279px) {
        width: 192px;
    }
    @media (max-width: 575px) {
        width: 100%;
        margin: 0 !important;
        &:nth-child(2){
            display: none;
        }
    }
    @media (max-width: 575px){
        font-size: 16px;
    }
    &__img{
        margin-bottom: 5px;
        height: 340px;
        filter: grayscale(100%);
        transition: height 0.3s ease;
        will-change: transform;
        @media (max-width: 1279px) {
            height: 192px;
        }
        @media (max-width: 575px) {
            height: 180px;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__title{
        margin-bottom: 5px;
        line-height: 1.1;
        letter-spacing: -0.02em;
        opacity: 0;
        transition: 0.3s ease;
    }
    &__author{
        line-height: 1.1;
        letter-spacing: -0.02em;
        opacity: 0;
        transition: 0.3s ease;
    }
}
.mainteam-carousel{
    min-height: 500px;
    overflow: visible;
    @media (max-width: 575px) {
        min-height: auto;
    }
    .swiper-button-prev{
        top: 180px;
        left: 50%;
        margin-left: -280px;
    }
    .swiper-button-next{
        top: 180px;
        right: 50%;
        margin-right: -280px;
    }
    .swiper-slide {
        width: 650px;
        margin: 0 8px;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .swiper-slide-active {
        padding-right: 0;
        .mainteam-item-row{
            width: auto;
        }
        .mainteam-item{
            margin: 0 auto;
            width: 462px;
            padding: 10px;
            border: 1px solid #26241F;
            &:nth-child(2){
                display: none;
            }
        }
        .mainteam-item__img{
            height: 415px;
            filter: grayscale(0);
        }
        .mainteam-item__name{
            opacity: 1;
        }
        .mainteam-item__projects{
            opacity: 0.4;
        }
    }
    .swiper-slide-prev{
        .mainteam-item-row{
            flex-direction: row-reverse;
            justify-content: flex-start;
            margin-left: 65px;
        }
        .mainteam-item:last-child{
            margin-right: 15px;
        }
    }
    .swiper-slide-next{
        .mainteam-item-row{
            margin-right: 65px;
        }
        .mainteam-item:last-child{
            margin-left: 15px;
        }
    }
    @media (max-width: 1799px) {
        .swiper-button-prev{
            margin-left: -240px;
        }
        .swiper-button-next{
            margin-right: -240px;
        }
        .swiper-slide{
            width: 580px;
        }
        .swiper-slide-active{
            .mainteam-item{
                width: 382px;
            }
        }
        .swiper-slide-prev{
            .mainteam-item-row{
                margin-left: 0;
            }
        }
        .swiper-slide-next{
            .mainteam-item-row{
                margin-right: 0;
            }
        }
    }
    @media (max-width: 1279px) {
        .swiper-button-prev{
            margin-left: -225px;
            top: 110px;
        }
        .swiper-button-next{
            margin-right: -225px;
            top: 110px;
        }
        .swiper-slide{
            width: 420px;
        }
        .swiper-slide-active .mainteam-item{
            width: 360px;
        }
    }
    @media (max-width: 575px) {
        margin-bottom: 15px;
        .swiper-button-prev {
            top: 50%;
            left: 0;
            margin-left: 0;
        }
        .swiper-button-next {
            top: 50%;
            right: 0;
            margin-right: 0;
        }
        .swiper-slide{
            width: 100%;
            margin: 0;
            padding: 0 45px;
        }
        .swiper-slide-active .mainteam-item__img{
            height: 320px;
        }
        .swiper-slide-active .mainteam-item{
            width: 100%;
        }
        .swiper-slide-active .mainteam-item-row{
            width: 100%;
        }
    }
}
.mainteam-item-row{
    width: 695px;
    display: flex;
    @media (max-width: 575px) {
        width: 100%;
    }
}
.mainteam-item{
    width: 340px;
    font-size: 18px;
    transition: width 0.3s ease;
    will-change: transform;
    @media (max-width: 1279px) {
        width: 192px;
    }
    @media (max-width: 575px) {
        font-size: 16px;
        padding: 10px;
        border: 1px solid #26241F;
        &:nth-child(2){
            display: none;
        }
    }
    &__img{
        position: relative;
        margin-bottom: 5px;
        height: 340px;
        filter: grayscale(100%);
        transition: height 0.3s ease;
        will-change: transform;
        @media (max-width: 1279px) {
            height: 192px;
        }
        @media (max-width: 575px) {
            height: 320px;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__name{
        margin-bottom: 5px;
        line-height: 1.1;
        letter-spacing: -0.02em;
        opacity: 0;
        transition: 0.3s ease;
    }
    &__projects{
        line-height: 1.1;
        letter-spacing: -0.02em;
        opacity: 0;
        transition: 0.3s ease;
    }
}