/*==============================INDEX==============================*/
@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeueCyr-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@media only screen and (max-width: 767px) { 

}
.swiper-pagination-bullet{
    margin: 0 3px !important;
    background: #26241F;
    opacity: 0.4;
}
.swiper-pagination-bullet-active{
    opacity: 1;
}
.swiper-button-prev ,
.swiper-button-next {
    outline: none;
    height: 22px;
    path{
        fill: #26241F;
    }
}
.section{
    position: relative;
    padding: 80px 0;
    font-family: 'HelveticaNeue', sans-serif;
    color: #26241f;
    &__caption{
        top: 78px;
        left: 10px;
        position: absolute;
        padding-left: 17px;
        letter-spacing: -0.01em;
        font-weight: 300;
        &:before{
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 7px;
            width: 7px;
            height: 7px;
            background: #26241F;
            border-radius: 50%;
        }
    }
    &__title{
        margin-bottom: 10px;
        font-size: 38px;
        line-height: 1.1;
        font-weight: 500;
        letter-spacing: -0.01em;
        font-weight: 500;
        text-align: center;
    }
    &__subtitle{
        width: 50%;
        margin-left: auto;
        font-size: 18px;
        line-height: 1.1;
        letter-spacing: -0.02em;
        p{
            margin-bottom: 10px;
        }
    }
    &__subtitle-inner{
        max-width: 380px;
    }
    &__more{
        text-align: center;
    }
}
.mainprojects-carousel{
    overflow: visible;
    min-height: 580px;
    .swiper-button-prev{
        top: 180px;
        left: 50%;
        margin-left: -510px;
    }
    .swiper-button-next{
        top: 180px;
        right: 50%;
        margin-right: -510px;
    }
    .swiper-slide {
        margin: 0 14px;
        flex-shrink: 0;
        width: 50%;
        overflow: visible;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        transition: 0.3s ease;
    }
    .swiper-slide-active {
        .mainprojects-item__img{
            height: 500px;
            filter: grayscale(0);
        }
        .mainprojects-item__title{
            opacity: 1;
        }
        .mainprojects-item__author{
            opacity: 0.4;
        }
    }
    .swiper-slide-next{
        justify-content: flex-start;
    }
}
.mainprojects-item{
    width: 100%;
    &__img{
        margin-bottom: 5px;
        height: 340px;
        transition: 0.3s ease;
        filter: grayscale(100%);
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__title{
        margin-bottom: 5px;
        font-size: 18px;
        line-height: 1.1;
        letter-spacing: -0.02em;
        opacity: 0;
        transition: 0.3s ease;
    }
    &__author{
        font-size: 18px;
        line-height: 1.1;
        letter-spacing: -0.02em;
        opacity: 0;
        transition: 0.3s ease;
    }
}
.mainteam-carousel{
    min-height: 500px;
    overflow: visible;
    .swiper-button-prev{
        top: 180px;
        left: 50%;
        margin-left: -195px;
    }
    .swiper-button-next{
        top: 180px;
        right: 50%;
        margin-right: -195px;
    }
    .swiper-slide {
        width: 340px;
        margin: 0 8px;
        flex-shrink: 0;
        overflow: visible;
        transition: 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .swiper-slide-active {
        .mainteam-item{
            padding: 10px;
            border: 1px solid #26241F;
        }
        .mainteam-item__img{
            height: 415px;
            filter: grayscale(0);
        }
        .mainteam-item__name{
            opacity: 1;
        }
        .mainteam-item__projects{
            opacity: 0.4;
        }
    }
}
.mainteam-item{
    transition: all 0.3s ease;
    &__img{
        margin-bottom: 5px;
        height: 340px;
        transition: 0.3s ease;
        filter: grayscale(100%);
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__name{
        margin-bottom: 5px;
        font-size: 18px;
        line-height: 1.1;
        letter-spacing: -0.02em;
        opacity: 0;
        transition: 0.3s ease;
    }
    &__projects{
        font-size: 18px;
        line-height: 1.1;
        letter-spacing: -0.02em;
        opacity: 0;
        transition: 0.3s ease;
    }
}







.splide{
    height: 600px;
    .splide__slide{
    border: 1px solid #000;
    //margin: 0 14px;
    .mainprojects-item{
        width: 340px;
    }
}
.splide__slide.is-active {
    //width: 940px;
    .mainprojects-item{
    }
    .mainprojects-item__img {
        height: 500px;
        filter: grayscale(0);
    }
    .mainprojects-item__title {
        opacity: 1;
    }
    .mainprojects-item__author {
        opacity: 0.4;
    }
}

}


