/*==============================FONTS==============================*/
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSansRegular.eot');
    src: url('../fonts/OpenSansRegular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSansRegular.woff') format('woff'),
         url('../fonts/OpenSansRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSansSemiBold.eot');
    src: url('../fonts/OpenSansSemiBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSansSemiBold.woff') format('woff'),
         url('../fonts/OpenSansSemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSansBold.eot');
    src: url('../fonts/OpenSansBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSansBold.woff') format('woff'),
         url('../fonts/OpenSansBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSansItalic.eot');
    src: url('../fonts/OpenSansItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSansItalic.woff') format('woff'),
         url('../fonts/OpenSansItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}