.status {
  position: relative;
  border-bottom: 1px solid rgba(12, 16, 20, 0.2);
}
.status.js-tabs-open .status__arrow svg {
  transform: rotate3d(1, 0, 0, 180deg);
}
.status__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.03em;
}
@media (min-width: 1024px) {
  .status__title {
    font-size: 32px;
  }
}
.status__name {
  margin-bottom: 6px;
  font-size: 12px;
  line-height: 117%;
  color: rgba(12, 16, 20, 0.6);
}
.status__button {
  padding-bottom: 12px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  line-height: 111%;
}
.status__arrow svg {
  transition: transform 0.3s;
}
.status__list {
  padding: 12px;
  list-style: none;
}
.status__list li {
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  line-height: 111%;
  color: var(--color-silver-grey);
}
.status__list li:not(:last-child) {
  margin-bottom: 16px;
}
.status__shell {
  position: absolute;
  top: 100%;
  left: -12px;
  width: calc(100% + 24px);
  height: 0;
  overflow: hidden;
  transition: height 0.3s;
  background-color: var(--color-white);
}