/*==============================FORM ELEMENTS==============================*/
.btn{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: all 0.3s ease;
    height: 56px;
    font-size: 18px;
    font-weight: 700;
    padding: 0 40px;
    color: #000;
    background: #FFA420;
    border-radius: 14px;
	cursor: pointer;
    overflow: hidden;
    &_main{
        min-width: 265px;
    }
    &_2{
        position: relative;
        color: #fff;
        z-index: 1;
        background-image: linear-gradient( -71deg, rgb(134,79,159) 0%, rgb(84,83,163) 100%);
        &:hover{
            &::after{
                opacity: 1;
            }
        }
        &:after{
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            opacity: 0;
            height: 100%;
            background-image: linear-gradient( -71deg, rgb(84,83,163) 0%, rgb(134,79,159) 100%);
            transition: all 0.3s ease;
            z-index: -1;
        }
    }
}
.input{
    width: 100%;
    padding: 0 15px;
    height: 54px;
    font-size: 22px;
    border-radius: 10px;
    color: #000;
    border: 2px solid rgba(87, 71, 228, 0.2);
}
.textarea{
    width: 100%;
    height: 110px;
    min-height: 110px;
    padding: 15px;
    font-size: 22px;
    border-radius: 10px;
    resize: vertical;
    color: #000;
    border: 2px solid rgba(87, 71, 228, 0.2);
}
.checkbox{
    input[type="checkbox"] {
        display: none;
    }
}
.checkbox__title {
	position: relative;
	display: block;
	padding-left: 40px;
	font-size: 15px;
	line-height: 28px;
	cursor: pointer;
	&:before{
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 28px;
		height: 28px;
		background-color: #fff;
		border: 1px solid #834C8D;
        background-size: 80% 80%;
        background-position: 50% 50%;
		background-repeat: no-repeat;
        border-radius: 5px;
		background-position: 50% 50%;
		z-index: 1;
	}
}
.checkbox input[type="checkbox"]:checked + .checkbox__title:before {
	background-image: url(../img/icon-check.png);
}