/*==============================GENERAL==============================*/
:root {
  --font-main: "Google Sans", sans-serif;
  --color-accent: #FFA420;
}
html{
    scroll-behavior: smooth;
}
html, body{
    position: relative;
    font-family: var(--font-main);
    background: #4c386d;
    color: #fff;
    min-width: 320px;
}
body{ 
    line-height: 1;
    &.lock{
        overflow: hidden;
    }
} 
.wrapper{
    position: relative;
    padding-top: 100px;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    z-index: 1;
    &:before{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 1647px;
        height: 857px;
        background-image: url(../img/bg-top.png);
        z-index: -1;
    }
}
.center-wrapper{
	position: relative;
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1030px;
}
.center-wrapper_full{
    max-width: 1900px;
}
h1, h2, h3, h4, h5, h6, .title_1, .title_2, .title_3, .title_4, .title_5, .title_6{
	margin-bottom: 20px;
	line-height: 1.2;
    font-weight: 700;
}
h1, .title_1{
    font-size: 30px;
}
h2, .title_2{
    margin-bottom: 45px;
    font-size: 35px;
}
p{
	margin-bottom: 15px;
}
a{
	outline: none;
	text-decoration: none;
	transition: all 0.3s ease;
}
ul, ol{
	list-style: none;
}
strong{
    font-weight: 700;
}
em{
    font-style: italic;
}
img{
	height: auto;
	vertical-align: top;
}
table{
	width: 100%;
}
.text_center{
    text-align: center;
}
.accent_color{
    color: var(--color-accent);
}