.blue-section {
    background: #121111;
    padding: 90px 0;
}

.blue-section .container:last-child {
    margin-bottom: 0;
}

.blue-section .container__head {
    color: #fff;
}

.blue-section .container__head .btn._link-arrow {
    color: #fff;
}

.blue-section .container__head .btn._link-arrow:hover {
    color: #c60440;
}

.blue-section .card-article {
    background: #F3EEEB;
}

.btn._selected {
    color: #121111;
    background: #F3EEEB;
    border-color: #F3EEEB;
    transition: background-color .25s ease, border-color .25s ease
}

.btn._selected:hover {
    color: #FFF;
    background: #FF474A;
    border-color: #FF474A;
}

/* кликабельный сладйдер на главной */
@media (max-width: 767px) {
    .hero-slider__title {
        font-size: 34px;
        width: calc(100vw - 40px);
        overflow-wrap: break-word;
    }
}

/* фикс цвета с uppercase и stroke => stroke */
.card-solution__wrap-img svg [stroke="#C20440"] {
    stroke: currentColor
}

.card-solution__wrap-img svg [fill="#C20440"] {
    fill: currentColor
}

@media (max-width:1023px) {

    #js-menu-about {
        top: 64px;
    }

    #js-menu-about .menu__lists {
        padding-top: 0;
    }
}

@media (max-width: 568px) {

    ._visually-h1,
    h1 {
        font-size: 40px;
        line-height: 50px;
    }

    ._visually-h4,
    h4 {
        font-size: 22px;
        line-height: 32px;
    }
}



.container__head {
    margin-bottom: 45px;
}

.container__intro {
    max-width: 680px;
    margin-bottom: 75px;
}


.section {
    margin-top: 75px;
    margin-bottom: 75px;
}

.section:last-child {
    margin-bottom: 0;
}

.section:first-child {
    margin-top: 0;
}

.section-intro {
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
    letter-spacing: -0.04em;
    margin-bottom: 45px;
}


.section._inner {
    margin-top: 0;
    margin-bottom: 0;

    padding-top: 75px;
    padding-bottom: 75px;
}

.section._full {
    margin-left: -1000px;
    margin-right: -1000px;
    padding-left: 1000px;
    padding-right: 1000px;
}

.section._inner._gray {
    margin-top: 75px;
    margin-bottom: 75px;
}

.section._gray {
    background: #F3F5F7;
}

.section._gray .card-article {
    background: #fff;
}




.section._above {
    position: relative;
    z-index: 99;
}

.section._above::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    height: 80px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

.section._above::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    height: 80px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.section .container:last-child {
    margin-bottom: 0;
}

.advantages {
    display: flex;
    flex-wrap: wrap;
    margin: -14px;
}

.advantages__item {
    width: 50%;
    padding: 14px;
}

.advantage-card {
    display: flex;
    padding: 30px;
    border: 1px solid #C5CBD1;
    border-radius: 5px;
    height: 100%;
}

.advantage-card__icon img {
    display: block;
    width: 48px;
    min-width: 48px;
}

.advantage-card__info {
    padding-left: 30px;
}

.advantage-card-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.03em;
    color: #232B34;
    margin-bottom: 18px;
}

.advantage-card-descr {
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.03em;
    color: #232B34;
}


@media (max-width: 767px) {
    .advantages {
        margin: -10px;
    }

    .advantages__item {
        width: 100%;
        padding: 10px;
    }

    .advantage-card {
        display: block;
    }

    .advantage-card__info {
        padding-left: 0;
        margin-top: 20px;
    }
}



.programs-types {
    display: flex;
    flex-wrap: wrap;
    margin: -14px;
}

.programs-types__item {
    width: 25%;
    padding: 14px;
}

.types-card {
    display: block;
    padding: 30px;
    border: 1px solid #C5CBD1;
    border-radius: 5px;
    height: 100%;
}

.types-card-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.03em;
    color: #C20440;
    margin-bottom: 18px;
}

.types-card-descr {
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.03em;
    color: #232B34;
    padding-right: 10px;
}


@media (max-width: 992px) {
    .programs-types__item {
        width: 50%;
    }
}

@media (max-width: 767px) {
    .programs-types {
        margin: -5px;
    }

    .programs-types__item {
        padding: 5px;
    }

    .types-card {
        padding: 10px 10px 15px;
    }

    .types-card-descr {
        font-size: 14px;
        line-height: 18px;
    }

    .types-card-title {
        font-size: 17px;
        margin-bottom: 5px;
    }
}


.page__content .container._lg .card-contact {
    padding: 5rem;
    min-height: 0;
}

.card-contact__more {
    margin-top: 40px;
}

.card-contact__more .more-link {
    color: #fff;
}

.card-contact__more .more-link::after {
    filter: brightness(0) invert(1);
}

.card-contact__more a:hover {
    opacity: 1;
}




.more-link {
    display: inline-flex;
    align-items: center;
    opacity: 0.5;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.03em;
    transition: 0.3s;
    color: #073666;
    opacity: 0.6;
}

.more-link::after {
    content: '';
    position: relative;
    width: 16px;
    height: 16px;
    background: url(../i/more-arrow.svg) center no-repeat;
    margin-left: 5px;
}

.more-link:hover {
    opacity: 1;
}




.card-article__sale {
    position: absolute;
    top: 18px;
    right: 18px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.03em;
    color: #000000;
}

.card-article__sale::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 44px;
    height: 44px;
    background: #FFC107;
    border-radius: 5px;
    transform: rotate(45deg);
    z-index: -1;
}


.card-article._cours {
    display: block;
    height: auto;
    padding-bottom: 80px;
}

.card-article._cours .card-article__info {
    min-height: 250px;
    margin-bottom: 30px;
}

.card-article._cours .card-article__bottom-line {
    border-top: 1px solid rgba(0, 0, 0, 0.07);
}

.card-article._cours .card-article__bottom-line {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}


.card-article__tags {
    display: flex;
    flex-wrap: wrap;
    padding: 0 3rem 2rem;
    margin-bottom: -5px;
}

.card-article__tags .tag {
    margin-right: 5px;
    margin-bottom: 5px;
}

.tag {
    display: inline-block;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: 0.05em;
    color: #405265;
    text-transform: uppercase;
    border: 1px solid #405265;
    border-radius: 15px;
    padding: 5px 10px;
}

.card-article__time {
    display: block;
    padding: 0 3rem 3rem;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.03em;
    color: #405265;
}


.feedback-form {
    display: flex;
    background: #F3F5F7;
    border-radius: 5px;
    padding: 50px 36px;
    margin-bottom: 28px;
}

.feedback-form__col {
    width: 50%;
    padding: 14px;
}

.feedback-form-title {
    font-weight: 700;
    font-size: 35px;
    line-height: 35px;
    letter-spacing: -0.04em;
    color: #232B34;
    margin-bottom: 20px;
    max-width: 360px;
}

.feedback-form-intro {
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.03em;
    color: #232B34;
    max-width: 360px;
}

.feedback-form-field {
    margin-bottom: 12px;
}

.feedback-form-field:last-child {
    margin-bottom: 0;
}

.feedback-form input[type="text"],
.feedback-form input[type="password"],
.feedback-form input[type="email"],
.feedback-form input[type="tel"],
.feedback-form input[type="string"] {
    height: 52px;
    border: 1px solid #C5CBD1;
    background: transparent;
    border-radius: 3px;
    width: 100%;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.03em;
    padding: 0 20px;
}

.feedback-form .btn {
    min-width: 0;
    padding: 0 40px;
}


@media (max-width: 767px) {
    .feedback-form {
        display: block;
        padding: 20px;
        border-radius: 0;
        margin-bottom: 0;
    }

    .feedback-form__col {
        width: 100%;
        padding: 10px;
    }
}



.label-field {
    position: relative;
}

.input-block.label-field {
    overflow: visible;
    height: auto;
}

.label-field label {
    display: block;
    position: absolute;
    top: 18px;
    left: 20px;
    color: rgba(51, 51, 51, .7);
    font-size: 16px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    line-height: 16px;
    cursor: default;
}

.label-field label span {
    color: #C60440;
    margin-left: 5px;
}

.label-field.error textarea,
.label-field.error input {
    border-color: #C60440;
}

.label-field textarea,
.label-field input {
    color: transparent;
    position: relative;
    z-index: 1;
}

.label-field input.active,
.label-field input:focus {
    color: #252721;
    padding-top: 5px;
}

.label-field textarea.active,
.label-field textarea:focus {
    color: #252721;
}


.label-field .active+label,
.label-field input:focus+label {
    font-size: 12px;
    top: -7px;
    background: #F3F5F7;
    left: 15px;
    padding: 0 5px;
    z-index: 2;
}

.label-field.error .field-error {
    display: block;
}

.label-field.error label {
    color: #E03B39;
}

.field-error {
    display: none;
    font-size: 12px;
    line-height: 18px;
    color: #E03B39;
    padding-top: 6px;
}

.label-field input::placeholder {
    opacity: 0;
    color: transparent;
}

.page__header._inline._gradient {
    min-height: 280px;
    padding: 80px 0;
    color: #fff;
    background: linear-gradient(87.94deg, #D9D9D9 -0.5%, #18426E -0.49%, #7997B3 100%);
}

.page__header._inline._gradient .page__header-text {
    max-width: calc(50% - 9.4rem);
    padding-right: 15rem;
}

.page__header._inline._gradient .page__header-text,
.page__header._inline._gradient .page__header-text p {
    color: #fff;
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    letter-spacing: -0.03em;
}



@media (max-width: 992px) {
    .page__header._inline._gradient .page__header-content {
        display: block;
    }

    .page__header._inline._gradient .page__header-text {
        max-width: 100%;
        padding-right: 0;
        margin-top: 30px;
    }

    .page__header._inline._gradient .page__header-text,
    .page__header._inline._gradient .page__header-text p {
        font-size: 20px;
        line-height: 1.3;
        letter-spacing: 0;
    }
}



.courses {
    position: relative;
}

.courses__filter {
    position: absolute;
    right: 100%;
    height: 100%;
    width: 325px;
    margin-right: 28px;
}

.courses__list-item {
    margin-bottom: 28px;
}

.courses__list-item:last-child {
    margin-bottom: 0;
}


.courses-filter {
    background: #FFFFFF;
    border-radius: 5px;
    width: 325px;
    position: absolute;
    left: 0;
}

.courses-filter.bottom {
    bottom: 0;
}

.courses-filter.fix {
    position: fixed;
    top: 100px;
}


.courses-filter__group-title {
    display: flex;
    align-items: center;
    height: 62px;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    color: #232B34;
    border-bottom: 1px solid #ededed;
    padding: 0 20px;
}

.courses-filter__group-item {
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.03em;
    color: #3F5265;
    border-bottom: 1px solid #ededed;
}

.courses-filter__action {
    display: flex;
    align-items: center;
    height: 62px;
    padding: 0 20px;
}

.courses-filter-reset {
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.03em;
    text-decoration-line: underline;
    color: #7998B4;
}

.courses-filter-reset:hover {
    text-decoration: none;
}


.filter-checkbox {
    cursor: pointer;
}

.filter-checkbox input {
    display: none;
}

.filter-checkbox span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    line-height: 22px;
    padding: 0 20px;
}

.filter-checkbox span::after {
    content: '';
    display: block;
    width: 22px;
    min-width: 22px;
    height: 22px;
    border: 1px solid #D9D9D9;
    margin-left: 8px;
    background: #fff;
    border-radius: 4px;
}

.filter-checkbox input:checked+span::after {
    background: url(../i/checked.svg) #255bb1 center no-repeat;
    border-color: #255bb1;
}



.course-card {
    display: block;
    border-radius: 5px;
    background: #fff;
}

.course-card__row {
    display: flex;
    padding: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.course-card__row:last-child {
    border-bottom: none;
}

.course-card__row-col._left {
    width: 325px;
    padding-right: 20px
}

.course-card__row-col._right {
    width: calc(100% - 325px);
    max-width: 560px;
}

.course-card-label {
    font-size: 10px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #232B34;
    opacity: 0.5;
    margin-bottom: 30px;
}

.course-card-start {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    margin-bottom: 10px;
    background: #405265;
    border-radius: 40px;
}

.course-card-info {
    font-size: 21px;
    line-height: 30px;
    letter-spacing: -0.03em;
    color: #405265;
}

.course-card-tags {
    margin-bottom: 25px;
}

.course-card-tags .tag {
    margin: 0 5px 5px 0;
}


.course-card-title {
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
    letter-spacing: -0.04em;
    color: #232B34;
    margin-bottom: 20px;
}

.course-card-descr {
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.03em;
    color: #232B34;
    opacity: 0.5;
}

.course-card-lecturer {
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.03em;
    color: #073666;
    opacity: 0.6;
    transition: 0.3s;
}


.course-card:hover .more-link {
    opacity: 1;
}

.course-card:hover .course-card-lecturer {
    opacity: 1;
    color: #C20440;
}

.filter-toggle {
    display: none;
    border: none;
    width: 24px;
    height: 24px;
    padding: 0;
    position: relative;
    top: 4px;
    background: url(../i/icon-filter.svg) center no-repeat;
}


@media (max-width: 1200px) {
    .courses__filter {
        width: 225px;
    }

    .courses-filter {
        width: 225px;
    }
}


@media (max-width: 992px) {

    .filter-toggle {
        display: block;
    }

    .courses__filter {
        display: none;
        position: static;
        width: auto;
        margin-right: 0;
        margin-bottom: 28px;
    }

    .courses-filter {
        position: static;
        width: auto;
    }

    .course-card__row-col._left {
        width: 255px;
    }

    .course-card__row-col._right {
        width: calc(100% - 255px);
    }
}

@media (max-width: 767px) {
    .courses__filter {
        margin-bottom: 20px;
    }

    .courses__list-item {
        margin-bottom: 20px;
    }


    .course-card__row {
        flex-wrap: wrap;
    }

    .course-card__row-col._left {
        order: 2;
        width: 100%;
    }

    .course-card__row-col._right {
        order: 1;
        width: 100%;
    }

    .course-card-descr {
        margin-bottom: 30px;
    }

    .course-card-label {
        margin-bottom: 10px;
    }

    .course-card-more {
        display: none;
    }
}



/* BITRIX 24 FEEDBACK FORM */

.feedback-form .b24-form {
    width: 100%;
}

.feedback-form .b24-form-wrapper {
    background: transparent;
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.feedback-form .b24-form-header {
    border-bottom: none;
    text-align: left;
}

.feedback-form .b24-form-header-title {
    font-weight: 700;
    font-size: 35px;
    line-height: 35px;
    letter-spacing: -0.04em;
    color: #232B34;
    margin-bottom: 20px;
    max-width: 360px;
}

.feedback-form .b24-form-header-description {
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.03em;
    color: #232B34;
    max-width: 360px;
}


.feedback-form .b24-form-padding-side {
    width: 50%;
    padding: 14px;
}

.feedback-form .b24-form-wrapper.b24-form-border-bottom {
    border: none;
}

.feedback-form .b24-form-btn-block {
    padding-bottom: 0;
}

.feedback-form .b24-form-field {
    margin-bottom: 12px !important;
}

.feedback-form .b24-form-btn {
    min-height: 60px;
    max-height: 60px;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: -.2px;
    color: #fff;
    font-weight: 700;
    padding: 0 40px;
    width: auto;
}

.feedback-form .b24-form-control-label {
    color: rgba(51, 51, 51, .7);
    font-size: 16px;
    padding: 0 !important;
    left: 20px !important;
    right: auto !important;
    width: auto;
    opacity: 1;
}

.feedback-form .b24-form-control {
    background: transparent !important;
}

.feedback-form .b24-form-control-select-label,
.feedback-form .b24-form-control:focus+.b24-form-control-label,
.feedback-form .b24-form-control-not-empty+.b24-form-control-label {
    font-size: 12px;
    top: -7px;
    background: #F3F5F7;
    left: 15px !important;
    padding: 0 5px !important;
    z-index: 2;
}

@media (max-width: 767px) {
    .feedback-form {
        display: flex;
        flex-wrap: wrap;
    }

    .feedback-form .b24-form-padding-side {
        width: auto;
        padding: 10px;
    }
}



.fly-subscribe {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 60px;
    background: #F3F5F7;
    z-index: 999;
}

.fly-subscribe__title {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.03em;
    color: #232B34;
}

.fly-subscribe__aciton {
    margin-left: 28px;
}

.subscribe-button {
    display: inline-flex;
    align-items: center;
    height: 36px;
    background: #FF474A;
    border-radius: 5px;
    padding: 0 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.03em;
    color: #fff;
}

.fly-subscribe__close {
    position: absolute;
    right: 16px;
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
    top: 50%;
    transform: translate(0, -50%);
    background: url(../i/close-button.svg) center no-repeat;
    overflow: hidden;
    font-size: 0;
    color: transparent;
    text-indent: -1000px;
}


@media (max-width: 992px) {
    .fly-subscribe {
        padding: 15px 60px 15px 30px;
    }
}

@media (max-width: 767px) {
    .fly-subscribe {
        display: block;
        padding: 15px 20px;
        text-align: center;
    }

    .fly-subscribe__aciton {
        margin: 20px 0 0;
    }

    .fly-subscribe__close {
        transform: none;
        top: auto;
        position: static;
        text-align: center;
        font-size: 14px;
        color: #777;
        text-indent: 0;
        background: none;
        margin-top: 15px;
        display: block;
        width: 100%;
    }

    .subscribe-button {
        justify-content: center;
        width: 100%;
    }
}

/* стиль select с ошибкой */
.field._error select {
    border-color: #c60440;
}


.container__section {
    margin-top: 35px;
}

@media (min-width: 1024px) {
    .container__section {
        width: 103.1rem;
        margin-top: 45px;
    }
}

@media (max-width: 767px) {
    .container__head {
        margin-bottom: 30px;
    }

    .section-intro {
        font-size: 20px;
        margin-bottom: 30px;
    }
}


.partners {
    display: flex;
    flex-wrap: wrap;
    margin: -14px;
}

.partners__item {
    width: 25%;
    padding: 14px;
}

.partner-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    height: 160px;
    border: 1px solid #D9DCE0;
    border-radius: 5px;
}

.partner-logo img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.container .section._inner._gray {
    margin-bottom: 0;
}


@media (max-width: 767px) {
    .partners {
        margin: -8px;
    }

    .partners__item {
        width: 50%;
        padding: 8px;
    }

    .partner-logo {
        height: 120px;
    }
}


.methods {
    display: flex;
    flex-wrap: wrap;
    margin: -14px;
}

.methods__item {
    width: 25%;
    padding: 14px;
}

.method-card {
    height: 160px;
    background: #F3F5F7;
    border-radius: 5px;
    padding: 30px;
}

.method-card__title {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: -0.03em;
    color: #C20440;
}

@media (max-width: 1400px) {
    .methods__item {
        width: 33.33%;
    }

    .method-card {
        padding: 25px;
    }
}

@media (max-width: 767px) {
    .methods {
        margin: -5px;
    }

    .methods__item {
        width: 50%;
        padding: 5px;
    }

    .method-card {
        padding: 15px;
        height: 120px;
    }

    .method-card__title {
        font-size: 14px;
        line-height: 20px;
    }

    .method-card__title br {
        display: none;
    }

    .object-fit .card-article__wrap-img img {
        object-position: center left;
    }

    .card-article__wrap-img {
        height: 200px;
    }

    ._visually-h4, h4 {
        line-height: 1.2;
    }

    .card-article._cours .card-article__info {
        margin-bottom: 20px;
    }


    .card-article__time,
    .card-article__tags {
        padding: 0 2.5rem 2rem;
    }

    .card-article__info {
        padding: 2rem 2.5rem 1rem;
    }

    .card-article__bottom-line {
        padding: 2.5rem;
    }

}

@media (max-width: 390px) {
    .card-article__wrap-img {
        height: 180px;
    }
}

.partners__form-link {
    margin-top: 22px;
    color: #C60440;
    display: inline-block;
}
.partners__more-link {
    margin-top: 11px;
    color: #7998B4;
    display: inline-block;
}
.partners__more-link:hover {
    color: #C60440;
}
.partners__form-link:hover {
    text-decoration: underline;
}

.sidebar {
    z-index: 1;
}

@media (min-width: 1024px) {
    .menu__lists {
        padding-bottom: 100px;
    }
    .menu__list li:not(:last-child) {
        margin-bottom: 2.7rem;
    }
    .menu__list li {
        font-size: 1.8rem;
    }
}

.decisions__test-back {
  margin-bottom: 3rem;
  margin-top: 0;
}
.decisions__test-title {
  margin-bottom: 2rem;
  font-size: 1.9rem;
  line-height: 130%;
}
.decisions__test-answer-items > span {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 19px;
  line-height: 130%;
  margin-right: 0;
  width: 100%;
}
.decisions__services-answer-items {
  margin: 0;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.decisions__services-answer-items .card-solution {
  width: -webkit-calc(50% - 2.8rem);
  width: -moz-calc(50% - 2.8rem);
  width: calc(50% - 2.8rem);
  height: 22rem;
  background: #ffffff;
  border: 1px solid #DADCE0;
}
@media (max-width: 767px) {
  .decisions__services-answer-items .card-solution {
    width: 100%;
  }
}
.decisions__services-answer-items .card-solution:hover {
  background: #C60440;
}

#save-release-new .form__bottom button[disabled]::after, #save-release .form__bottom button[disabled]::after {
    content: '';
    width: 26px;
    height: 26px;
    border: 3px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    position: absolute;
}

#save-release-new .form__bottom button[disabled], #save-release .form__bottom button[disabled] {
    text-indent: 2000px;
    color: transparent;
    position: relative;
    overflow: hidden;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.page__content .page__read-more-btn._primary {
  text-align: center;
}

.page__preview-text--p0 {
  padding: 0;
}

.page__content--fandd .article__description {
  font-size: 2rem;
  line-height: 120%;
}
@media (max-width: 1023px) {
  .page__content--fandd .article__description {
    font-size: 1.7rem;
  }
}

.statement-block {
  position: relative;
  background: #F3F5F7;
  height: 29.2rem;
  padding: 4.4rem 0 4.4rem 6rem;
  margin: 4.5rem 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1023px) {
  .statement-block {
    height: auto;
    padding: 3rem;
  }
}
@media (max-width: 767px) {
  .statement-block {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    padding-top: 2.4rem;
  }
}
.statement-block::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -4.4rem;
  width: 4.4rem;
  background: #F3F5F7;
}
@media (max-width: 10237px) {
  .statement-block::before {
    display: none;
  }
}
.statement-block::after {
  content: "";
  display: block;
  position: absolute;
  top: 1.4rem;
  bottom: -1.4rem;
  left: -4.4rem;
  width: 4.4rem;
  background: #ffffff;
  -webkit-transform: skew(0, 34deg);
     -moz-transform: skew(0, 34deg);
      -ms-transform: skew(0, 34deg);
       -o-transform: skew(0, 34deg);
          transform: skew(0, 34deg);
}
@media (max-width: 1023px) {
  .statement-block::after {
    display: none;
  }
}
.statement-block h3 {
  color: #232B34 !important;
  font-size: 2.5rem;
  line-height: 100%;
  margin-bottom: 1.3rem;
}
.statement-block span {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 130%;
  opacity: 0.7;
  margin-bottom: 2.3rem;
  letter-spacing: -0.45px;
}
.statement-block p {
  font-size: 2rem;
  font-style: italic;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.6px;
  margin: 0;
}
@media (max-width: 1023px) {
  .statement-block p {
    font-size: 1.7rem;
  }
}
.statement-block__photo {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 100%;
}
@media (max-width: 1023px) {
  .statement-block__photo {
    position: static;
    margin-bottom: 3rem;
  }
}
.statement-block__photo::after {
  content: "";
  display: block;
  position: absolute;
  top: 1.4rem;
  bottom: -1.4rem;
  left: 0;
  width: 4.4rem;
  background: #F3F5F7;
  -webkit-transform: skew(0, 34deg);
     -moz-transform: skew(0, 34deg);
      -ms-transform: skew(0, 34deg);
       -o-transform: skew(0, 34deg);
          transform: skew(0, 34deg);
}
@media (max-width: 1023px) {
  .statement-block__photo::after {
    display: none;
  }
}
.statement-block img {
  width: 32.3rem;
  height: 29.2rem;
  position: relative;
  display: block;
}
@media (max-width: 1023px) {
  .statement-block img {
    width: 30rem;
    height: 31rem;
    -o-object-position: top right;
       object-position: top right;
  }
}
@media (max-width: 767px) {
  .statement-block img {
    width: 110%;
    height: 25rem;
    max-height: none;
    -o-object-position: top right;
       object-position: top right;
    margin-left: -10%;
  }
}


.footer-menu {
  padding: 8rem 0;
  border-bottom: 1px solid #4f555d;
}
@media (max-width: 1023px) {
  .footer-menu {
    padding: 6rem 2.4rem 4rem;
  }
}
@media (max-width: 767px) {
  .footer-menu {
    padding: 6rem 1.9rem 4rem;
  }
}
.footer-menu__container {
  position: relative;
  width: 100%;
  max-width: 115rem;
  margin: 0 auto;
}
.footer-menu__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1023px) {
  .footer-menu__row {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow: hidden;
  }
}
@media (max-width: 767px) {
  .footer-menu__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer-menu__services {
  max-width: 35rem;
  -webkit-box-flex: 0;
  -webkit-flex: none;
     -moz-box-flex: 0;
      -ms-flex: none;
          flex: none;
  margin-right: 4rem;
}
@media (max-width: 1023px) {
  .footer-menu__services {
    margin-bottom: 4rem;
  }
}
@media (max-width: 767px) {
  .footer-menu__services {
    max-width: none;
    margin-right: 0;
  }
    .footer__soc>:not(:last-child) {
        margin-right: 3rem;
    }
}
.footer-menu__link {
  color: #FFF;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -0.51px;
  margin-bottom: 1.2rem;
  display: block;
}
.footer-menu__links {
  color: #FFF;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -0.51px;
  margin-bottom: 1.2rem;
  width: 100%;
}
.footer-menu__links:last-child {
  margin-bottom: 0;
}
.footer-menu__links a, .footer-menu__links button {
  display: block;
  margin-bottom: 3rem;
  color: #FFF;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -0.51px;
  background: transparent;
  border: 0;
  padding: 0;
}
.footer-menu__links:first-child {
  max-width: 37rem;
  margin-right: 4rem;
}
.footer-menu .accordion {
  border: none;
  margin-bottom: 0.8rem;
  -webkit-border-radius: 0.5rem;
     -moz-border-radius: 0.5rem;
          border-radius: 0.5rem;
}
.footer-menu .accordion._active {
  background: #26282b;
}
.footer-menu .accordion._active .accordion__toggle {
  -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
}
.footer-menu .accordion._active .accordion__toggle svg path {
  stroke: #fff;
}
.footer-menu .accordion._active .accordion__title {
  color: #fff;
}
.footer-menu .accordion._active .accordion__head {
  border-color: #1E252C;
}
.footer-menu .accordion__head {
  padding: 1rem;
  -webkit-border-radius: 0.5rem;
     -moz-border-radius: 0.5rem;
          border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.footer-menu .accordion__head h4 {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
@media (min-width: 1024px) {
  .footer-menu .accordion__head:hover {
    background: #26282b;
    border-color: #26282b;
  }
  .footer-menu .accordion__head:hover h4 {
    color: #fff;
  }
}
.footer-menu .accordion__title {
  color: #7B8085;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 130%;
  padding-top: 0.2rem;
}
.footer-menu .accordion__toggle {
  padding: 0;
  width: 2.4rem;
  height: 2.4rem;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.footer-menu .accordion__toggle::after, .footer-menu .accordion__toggle::before {
  display: none;
}
.footer-menu .accordion__toggle svg path {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.footer-menu .accordion__content {
  margin: 0 3.4rem 0 1rem !important;
}
.footer-menu .accordion__content nav {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.footer-menu .accordion__content a {
  color: #a1a1a3;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 130%;
  display: block;
  margin-bottom: 1.2rem;
}
.footer-menu .accordion__content a:hover {
  color: #fff;
}
.card-solution__title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    line-clamp: 5;
    box-orient: vertical;
}
.video[data-rutube-id] .video__iframe-wrap {
    padding-bottom: 55.7%;
}
.subscribe .btn._primary {
    background: #cbbfad;
    color: #121111;
    font-weight: 500;
}
.subscribe .btn._primary:hover {
    background: #a0978a;
}
.in-numbers__tile ._link-arrow {
	color: #CBBFAD;
}
.main-about__text {
	max-width: 100rem;
	margin-bottom: 4.5rem;
}
.search-wrap {
	background: rgba(18, 17, 17, 90%);
}

.card-solution__wrap-img svg._icon- {
	opacity: 0;
}
.card-solution__wrap-img svg._icon- > * {
	display: none;
}

/*FIX больших заголовков в старых инсайтах*/

.page .page__hero .page__bg {
    height: 100%;
}
.page .page__hero .page__hero-content {
    min-height: 35.3rem;
}
.page__hero {
    padding-bottom: 6rem;
}
@media (max-width: 1023px) {
    .page .page__hero .page__hero-content {
        min-height: unset;
    }
}