/*==============================CART==============================*/
.cart-table{
	th{
		height: 40px;
		padding: 5px 10px;
		font-size: 14px;
		vertical-align: middle;
		background: #F9F9F9;
	}
	td{
		vertical-align: top;
		padding: 10px;
		border-bottom: 1px solid #EFEFEF;
	}
}
th.ct-cell-product{
	padding: 0 110px 0 160px;
	div{
		display: flex;
		justify-content: space-between;
	}
}
th.ct-cell-quantity{
	text-align: center;
}
.ct-cell-quantity{
	width: 110px;
	text-align: left;
}
th.ct-cell-totalprice{
	text-align: right;
}
.ct-cell-totalprice{
	width: 220px;
	text-align: right;
}
.ct-cell-actions{
	width: 170px;
}
.cart-table-product{
	padding-right: 70px;
}
.cart-table-product-body{
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 120px;
}
.cart-table-product-content{
	display: flex;
	align-items: center;
	flex-grow: 1;
	padding-right: 20px;
}
.cart-table-product__image{
	flex: 0 0 150px;
	max-width: 150px;
	padding: 0 20px;
	text-align: center;
	a{
		display: inline-block;
	}
	img{
		max-width: 100%;
		max-height: 110px;
	}
}
.cart-table-product-info{
	flex-grow: 1;
}
.cart-table-product__category{
	margin-bottom: 5px;
	font-size: 12px;
	a{
		color: #444;
		&:hover{
			color: $base-color;
		}
	}
}
.cart-table-product__title{
	margin-bottom: 5px;
	font-weight: 600;
	line-height: 20px;
	a{
		color: #444;
		&:hover{
			color: $base-color;
		}
	}
}
.cart-table-product__material{
	display: inline-flex;
	align-items: center;
	font-size: 14px;
	span{
		margin-right: 8px;
		flex: 0 0 24px;
		max-width: 24px;
		height: 24px;
		border-radius: 50%;
		overflow: hidden;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
.cart-table-product__price{
	flex: 0 0 130px;
	max-width: 130px;
	font-size: 18px;
	font-weight: 600;
	text-align: right;
	white-space: nowrap;
	span{
		display: block;
		font-size: 14px;
		font-weight: normal;
		padding-top: 5px;
		text-decoration: line-through;
		color: #808080;
	}
}
.cart-table__price{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 120px;
	font-size: 18px;
	font-weight: 600;
	white-space: nowrap;
	span{
		display: block;
		font-size: 14px;
		font-weight: normal;
		padding-top: 5px;
		text-decoration: line-through;
		color: #808080;
	}
}
.cart-table-quantity{
	display: flex;
	align-items: center;
	height: 120px;
}
.cart-table-actions{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 120px;
	a{
		margin-left: 20px;
	}
}
.cart-table__wish{
	width: 18px;
	height: 16px;
	background-image: url(../images/icons/icon-wish-dark.svg);
}
.cart-table__edit{
	width: 18px;
	height: 18px;
	background-image: url(../images/icons/icon-edit.svg);
}
.cart-table__remove{
	width: 16px;
	height: 16px;
	background-image: url(../images/icons/icon-remove2.svg);
}
.cart-table-product-add{
	padding-left: 150px;
}
.cart-table-product-add__switcher{
	display: inline-block;
	font-size: 14px;
	color: $base-color;
	padding-bottom: 3px;
	border-bottom: 1px dashed $base-color;
	cursor: pointer;
}
.cart-table-product-add-content{
	display: none;
	padding-top: 8px;
}
.cart-table-product-add-list{
	display: table;
	width: 100%;	
}
.cart-table-product-add-item{
	display: table-row;
}
.cart-table-product-add-item__title{
	display: table-cell;
	padding-right: 30px;
	padding-bottom: 10px;
	width: 100%;
	font-size: 14px;
	line-height: 22px;
	span{
		padding-left: 5px;
		font-size: 12px;
		color: #808080;
	}
}
.cart-table-product-add-item__value{
	display: table-cell;
	padding-bottom: 10px;
	text-align: right;
	white-space: nowrap;
	font-weight: 600;
	line-height: 22px;
}
.cart-table-product-add-item_red{
	.cart-table-product-add-item__title,
	.cart-table-product-add-item__value{
		font-weight: 600;
		color: #C11B2F;
	}
}
.cart-bottom{
	display: flex;
	padding: 20px 0;
	background: rgba(249, 249, 249, 0.6);
}
.cart-bottom-leftside{
	flex-grow: 1;
	padding-left: 30px;
}
.cart-bottom-rightside{
	flex: 0 0 490px;
	max-width: 490px;
	padding-right: 180px;
}
.cart-table__print{
	display: inline-flex;
	align-items: center;
	color: $base-color;
	&:hover{
		svg{
			fill: $base-color-dark;
		}
	}
	svg{
		margin-right: 10px;
		fill: $base-color;
		transition: all 0.3s ease;
	}
}
.cart-table-discount{
	display: flex;
	justify-content: space-between;
	font-weight: 600;
	margin-bottom: 20px;
	color: #C11B2F;
}
.cart-table-discount__title{
	flex-grow: 1;
	font-weight: 600;
	color: #C11B2F;
	padding-right: 20px;
}
.cart-table-discount__price{
	font-size: 18px;
	font-weight: 600;
	color: #C11B2F;
}
.cart-table-total{
	display: flex;
	justify-content: space-between;
}
.cart-table-total__title{
	flex-grow: 1;
	padding-right: 20px;
	font-size: 20px;
	font-weight: 600;
}
.cart-table-total__price{
	font-size: 24px;
	font-weight: 600;
	color: $base-color;
}
.cart-order{
	display: flex;
	justify-content: flex-end;
	padding-top: 40px;
}
.cart-order-content{
	flex: 0 0 400px;
	max-width: 400px;
	margin-right: 40px;
}
a.cart-order-content__phone{
	display: inline-block;
	margin-bottom: 20px;
	font-size: 24px;
	font-weight: 600;
	color: $base-color;
}
.cart-order-form{
	flex: 0 0 490px;
	max-width: 490px;
}
.cart-order-form-item{
	margin-bottom: 20px;
	.select-title__value{
		padding-left: 10px;
	}
	.select-options__value{
		padding: 10px;
	}
}
.cart-order-form__btn{
	min-width: 200px;
}