/*==============================WORKS==============================*/
.works-list{
	.works-item{
		margin-bottom: 40px;
	}
}
.work-body{
	display: flex;
	padding-bottom: 60px;
	border-bottom: 1px solid #E5E5E5;
}
.work-media{
	flex: 0 0 510px;
	max-width: 510px;
}
.work-slider{
	margin-bottom: 15px;
}
.work-slider__item{
	height: 330px;
	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.work-thumbs__item{
	margin-right: 15px;
	padding: 10px;
	border: 1px solid transparent;
	cursor: pointer;
	&.slick-current{
		border-color: $base-color;
	}
	span{
		display: block;
		width: 70px;
		height: 70px;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
.works-content-info{
	padding-bottom: 5px;
}
.works-content-info-item{
	display: flex;
	margin-bottom: 10px;
	line-height: 24px;
	color: #444;
}
.works-content-info-item__title{
	flex: 0 0 220px;
	max-width: 220px;
}
.works-content-info-item__value{
	span{
		font-size: 18px;
		font-weight: 600;
		color: $base-color;
	}
}
.works-content-completed__title{
	margin-bottom: 5px;
	font-weight: 600;
	line-height: 1.5;
}
.works-content-completed-list{
	padding-bottom: 10px;
	li{
		margin-bottom: 5px;
		line-height: 26px;
	}
}
.work-content{
	flex-grow: 1;
	padding-left: 40px;
}
.work-review{
	padding-top: 60px;
}
.work-review__name{
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: 600;
}
.work-review__text{
	margin-bottom: 15px;
	font-size: 16px;
	line-height: 26px;
	p{
		margin: 0;
	}
}
.work-review__date{
	font-size: 14px;
	color: #808080;
}