@import "base/fonts.scss";
@import "base/reset.scss";
@import "base/plugins.scss";
@import "base/general.scss";
@import "base/forms.scss";
@import "base/modals.scss";

@import "partials/index.scss";
@import "partials/pages.scss";
@import "partials/cabinet.scss";

@import "partials/adaptive.scss";