/*==============================RESET==============================*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%; 
	vertical-align:baseline;
	background:transparent;
}
*{
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body{
	height: 100%;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,nav,section {
	display:block;
}
ul, ol {
	list-style:none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
hr, img {
	border: none; 
}
hr {
	border-bottom: 1px solid #ccc; 
}
img {
	vertical-align: middle; 
}
ol, ul {
	list-style-position: outside; 
}
table td,
table th {
	vertical-align: top; 
}
big {
	font-size: larger; 
}
small {
	font-size: smaller; 
}
sub, sup {
	font-size: smaller; 
	line-height: 0; 
}
sub {
	vertical-align: sub; 
}
sup {
	vertical-align: super; 
}
strong {
	font-family: "PT Sans Bold";
	font-weight: normal;
}
em {
	font-style: italic; 
}
a[href^=tel]{
    color:inherit;
    text-decoration:none;
}
a, a:hover, a:visited {
  text-decoration: none;
}
:focus, :active {
  outline: none;
}
button,
input,
optgroup,
select,
textarea {
	color: inherit; 
	font: inherit; 
	margin: 0; 
}
input, textarea{
	-webkit-appearance: none;
}
input, select {
	vertical-align:middle;
	border:0;
}
textarea{
	overflow: auto;
}
button{
	cursor: pointer;
	border: 0;
}
/*-----------------------------FONTS--------------------------------*/
@font-face {
	font-family: "PT Sans";
	src: url("../fonts/Pt_sans.eot");
	src: url("../fonts/Pt_sans.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/Pt_sans.woff") format("woff"), 
		 url("../fonts/Pt_sans.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "PT Sans Bold";
	src: url("../fonts/Pt_sans_bold.eot");
	src: url("../fonts/Pt_sans_bold.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/Pt_sans_bold.woff") format("woff"), 
		 url("../fonts/Pt_sans_bold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Bebas";
	src: url("../fonts/bebasneue_regular.eot");
	src: url("../fonts/bebasneue_regular.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/bebasneue_regular.woff") format("woff"), 
		 url("../fonts/bebasneue_regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Bebas Bold";
	src: url("../fonts/bebasneue_bold.eot");
	src: url("../fonts/bebasneue_bold.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/bebasneue_bold.woff") format("woff"), 
		 url("../fonts/bebasneue_bold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Myriad Condensed";
	src: url("../fonts/MyriadProCondBold.eot");
	src: url("../fonts/MyriadProCondBold.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/MyriadProCondBold.woff") format("woff"), 
		 url("../fonts/MyriadProCondBold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
/*-----------------------------COMMON--------------------------------*/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.clr:after {
	content: '';
	display: block;
	clear: both;
}
body {
	font-family: "PT Sans";
	line-height: 1;
}
.main{
	padding: 90px 0 70px 0;
	min-height: calc(100% - 105px);
}
.center-wrapper {
	position: relative;
	margin: 0 auto;
	width: 980px;
}
h1, .h1, h2, .h2, h3, .h3{
	font-family: "Bebas Bold";
	font-weight: normal;
	text-align: center;
	color: #5d6577;
}
h1, .h1{
	margin-bottom: 35px;
	font-size: 65px;
	text-align: center;
}
h2, .h2{
	margin-bottom: 20px;
	font-size: 55px;
}
h3, .h3{
	font-family: "PT Sans Bold";
	font-size: 20px;
}
/*-----------------------------HEADER--------------------------------*/
.header {
	background: #343838;
	width: 100%;
	padding: 5px 0;
	position: fixed;
	min-width: 980px;
	z-index: 100;
	height: 65px;
}
.header__logo{
	float: left;
	display: block;
	position: relative;
	margin-right: 25px;
	font-size: 18px;
	text-align: center;
	height: 30px;
	line-height: 35px;
	color: #FF5C21;
	padding: 0 10px 0 14px;
	margin-top: 10px;
	text-transform: uppercase;
	font-family: "PT Sans Bold";
	letter-spacing: 0.03em;
}
.header__logo:hover{
	color: #fff;
}
.header__logo::before,
.header__logo::after  {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 3px solid #FF5C21;
	content: '';
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
}
.header__logo::after  {
	border-color: #fff;
	opacity: 0;
	-webkit-transform: translateY(-7px) translateX(6px);
	-ms-transform: translateY(-7px) translateX(6px);
	transform: translateY(-7px) translateX(6px);
}
.header__logo:hover::before,
.header__logo:focus::before {
	opacity: 0;
	-webkit-transform: translateY(5px) translateX(-5px);
	-ms-transform: translateY(5px) translateX(-5px);
	transform: translateY(5px) translateX(-5px);
}
.header__logo:hover::after,
.header__logo:focus::after  {
	opacity: 1;
	-webkit-transform: translateY(0px) translateX(0px);
	-ms-transform: translateY(0px) translateX(0px);
	transform: translateY(0px) translateX(0px);
}
.top-menu {
	float: left;
	padding: 10px 0 8px 0;
}
.top-menu__link{
	position: relative;
	display: inline-block;
	margin-right: 7px;
	padding: 0 11px;
	height: 36px;
	line-height: 36px;
	position: relative;
	font-size: 17px;
	text-shadow: none;
	letter-spacing: 0.04em;
	font-family: "PT Sans Bold";
	text-transform: uppercase;
	color: #fff;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}
.top-menu__link:before,
.top-menu__link:after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: #FF5C21;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
	transition: opacity 0.2s, transform 0.2s;
	-webkit-transform: translateY(-10px);
	-ms-transform: translateY(-10px);
	transform: translateY(-10px);
}
.top-menu__link::before {
	top: 0;
	-webkit-transform: translateY(-10px);
	-ms-transform: translateY(-10px);
	transform: translateY(-10px);
}
.top-menu__link::after {
	bottom: 0;
	-webkit-transform: translateY(10px);
	-ms-transform: translateY(10px);
	transform: translateY(10px);
}
.top-menu__link:hover,
.top-menu__link.active {
	color: #FF5C21;
}
.top-menu__link:hover:before,
.top-menu__link.active:before,
.top-menu__link:hover:after,
.top-menu__link.active:after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
}
.header-contacts {
	float: right;
	padding-top: 8px;
}
.header-contacts p {
	font-size: 18px;
	color: #fff;
}
.header-contacts p span {
	color: #FF5C21;
}
/*-----------------------------INTRODUCTION--------------------------------*/
.introduction{
	padding: 114px 0 40px 0;
	min-width: 980px;
}
.introduction-content{
	float: left;
	padding-top: 20px;
	width: 420px;
	text-align: justify;
}
.introduction__title{
	margin-bottom: 15px;
	font-family: "Myriad Condensed";
	font-size: 24px;
	text-align: left;
	color: #5D6577;
}
.introduction__text p{
	line-height: 18px;
	color: #5D6577;
}
.introduction__text p{
	margin-bottom: 15px;
}
.introduction__text span {
	color: #333;
}
.introduction-image {
	float: right;
	width: 512px;
}
.introduction__contacts p {
	margin-bottom: 5px;
	font-family: "PT Sans Bold";
	color: #333;
}
.introduction__contacts span {
	color: #5D6577;
}

/*-----------------------------SKILLS--------------------------------*/
.skills {
	position: relative;
	padding: 45px 0 20px 0;
	min-width: 980px;
	background: #f5f5f5;
}
#skills{
	position: absolute;
	top: -50px;
}
.skills-image {
	float: left;
	margin-right: 55px;
	padding-top: 15px;
	width: 515px;
}
.skills-list {
	padding-top: 13px;
	margin-left: 560px;
}
.skills-list__title {
	margin-bottom: 10px;
}
.skills-list ul{
	padding-left: 10px;
}
.skills-list ul li {
	position: relative;
	margin-bottom: 3px;
	padding-left: 13px;
	color: #5D6577;
}
.skills-list ul li:before{
	content: '';
	display: block;
	position: absolute;
	background: #5D6577;
	left: 0;
	top: 50%;
	margin-top: -1px;
	width: 4px;
	height: 4px;
	border-radius: 100%;
}
/*-----------------------------BENFFITS--------------------------------*/
.benefits {
	position: relative;
	padding: 37px 0 40px 0;
	min-width: 980px;
	background: #fafafa;
}
#benefits{
	position: absolute;
	top: -50px;
}
.benefits-content{
	float: left;
	margin-right: 100px;
	padding-top: 10px;
	width: 330px;
}
.benefits__title{
	margin-bottom: 10px;
}
.benefits-content ul {
	margin-bottom: 25px;
}
.benefits-content li {
	position: relative;
	padding-left: 13px;
	margin-bottom: 3px;
	color: #5D6577;
}
.benefits-content ul li:before{
	content: '';
	display: block;
	position: absolute;
	background: #5D6577;
	left: 0;
	top: 50%;
	margin-top: -1px;
	width: 4px;
	height: 4px;
	border-radius: 100%;
}
.benefits-content__text {
	color: #5D6577;
	line-height: 18px;
	text-align: justify;
}
.benefits-image{
	float: right;
}
/*-----------------------------PORTFOLIO-------------------------------*/
.portfolio{
	position: relative;
	padding: 50px 0 70px 0;
	min-width: 980px;
	background-image: url(../images/backgorund.jpg);
}
#portfolio{
	position: absolute;
	top: -50px;
	margin-bottom: 50px;
}
.portfolio-types{
	margin-bottom: 30px;
}
.portfolio-types-row{
	font-size: 0;
	text-align: center;
}
.portfolio-types-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 24%;
	margin: 0 0.5% 2%;
	color: #282a2a;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.portfolio-types-item:hover{
	color: #FF5C21;
}
.portfolio-types-item:hover .portfolio-types-item__image{
	border-color: #FF5C21;
}
.portfolio-types-item__image{
	position: relative;
	display: block;
	margin-bottom: 10px;
	height: 250px;
	padding: 15px;
	vertical-align: middle;
	background: #fff;
	border: 4px solid #282a2a;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.portfolio-types-item__image img{
	position: relative;
	max-width: 100%;
	height: auto;
	top: 50%;
	-webkit-transform: translateY(-50%); 
	-ms-transform: translateY(-50%); 
	transform: translateY(-50%); 
}
.portfolio-types-item__title{
	font-family: "PT Sans Bold";
	font-size: 23px;
}
.portfolio-row{
	text-align: center;
	font-size: 0;
}
.portfolio-item {
	position: relative;
	display: inline-block;
	margin: 0 1px 15px 0;
	width: 24%;
	margin: 0 0.5% 1%;
	height: 250px;
	overflow: hidden;
	text-align: center;
	vertical-align: top;
	border: 4px solid #282a2a;
	background: #fff;
}
.portfolio-item_adaptive{
	background: #e8e8e8;
}
.portfolio-item img {
	max-width: 100%;
	height: auto;
   -webkit-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
.portfolio-item:hover img {
   -webkit-transform: scale(1.1,1.1);
   transform: scale(1.1,1.1);
}
.portfolio-item__image{
	position: relative;
	overflow: hidden;
	height: 250px;
	text-align: center;
}
.portfolio-item__image img{
	width: 100%;
	height: 250px;
	object-fit: contain;
}
.portfolio-item-content{
	position: absolute;
	padding-top: 15px;
	width: 100%;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	color: #fff;
	opacity: 0;
	background: rgba(52,52,56, 0.8);
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.portfolio-item-content:hover{
   opacity: 1;
}
.portfolio-item__title{
	padding: 8px 0;
	font-size: 17px;
	background: #282a2a;
	letter-spacing: 0.025em;
	text-transform: uppercase;
	margin-bottom: 10px;
	font-family: "PT Sans Bold";
	color: #fff;
	-webkit-transform: translateY(-100px);
	-ms-transform: translateY(-100px);
	transform: translateY(-100px);
	opacity: 0;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.portfolio-item:hover .portfolio-item__title{
	opacity: 1;
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
}
.portfolio-item__tech{
	font-family: "PT Sans Bold";
	
	font-size: 19px;
	line-height: 22px;
	-webkit-transform: translateY(100px);
	-ms-transform: translateY(100px);
	transform: translateY(100px);
	text-align: left;
	padding-left: 35px;
	opacity: 0;
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.portfolio-item:hover .portfolio-item__tech{
   -webkit-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
   -webkit-transition-delay: 0.1s;
   transition-delay: 0.1s;
   opacity: 1;
}
.portfolio-item__link{
	position: absolute;
	bottom: 20px;
	left: 50%;
	margin-left: -80px;
	width: 160px;
	height: 40px;
	line-height: 35px;
	text-align: center;
	font-size: 17px;
	font-family: "PT Sans Bold";
	opacity: 0;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-transition-delay: 0s !important;
	transition-delay: 0s !important;
	color: #282a2a;
	background:#fff;
	border: 3px solid #282a2a;
}
.portfolio-item__link:hover{
	color: #fff;
	background: #282a2a;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}
.portfolio-item:hover .portfolio-item__link{
   opacity: 1;
   -webkit-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
   -webkit-transition-delay: 0.2s;
   transition-delay: 0.2s;
}
.portfolio__show-btn{
	position: relative;
	display: block;
	width: 100%;
	height: 45px;
	line-height: 48px;
	text-align: center;
	text-decoration: none;
	font-family: "PT Sans Bold";
	background: #454848;
	color: #fff;
	border-radius: 5px;
	text-transform: uppercase;
	cursor: pointer;
	box-shadow: 0px 6px #343838;
}
.portfolio__show-btn:hover {
	box-shadow: 0 4px #343838;
	top: 2px;
}
.portfolio__show-btn:active {
	box-shadow: 0 0 #343838;
	top: 6px;
}
/*-----------------------------FOOTER-------------------------------*/
#contacts{
	position: absolute;
	top: -50px;
}
.footer{
	position: relative;
	min-width: 980px;
	padding: 20px 0;
	font-family: "Bebas Bold";
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0.025em;
	background: #171919;
	color: #fff;
	height: 105px;
}
.footer-content {
	float: left;
}
.footer-contacts {
	float: right;
}