/*==============================INDEX==============================*/
.main {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    @media (max-width: 1199px) { 
        max-width: 1170px;
        padding: 0;
    }
    @media (max-width: 767px) {
        padding: 0 15px;
    }
}
/*-------------------------header-------------------------*/
.header{
    border-bottom: 1px solid var(--main-border);
    &__top{
        padding: 10px 20px;
        border-bottom: 1px solid var(--main-border);
        @media (max-width: 1199px) { 
            padding: 10px 20px;
        }
    }
    &__bottom{
        padding: 9px 0;
        text-align: center;
    }
    &__row{
        display: flex;
        justify-content: space-between;
    }
    &__menu{
        ul{
            display: flex;
        }
        li{
            margin: 0 8px;
            a{
                display: inline-flex;
                font-size: 12px;
                text-transform: uppercase;
                &:hover{
                    color: var(--color-accent);
                }
                svg{
                    margin-left: 5px;
                }
            }
        }
    }
    &__city{
        display: none;
        font-size: 14px;
        text-transform: uppercase;
    }
    &__phone{
        font-size: 17px;
        a{
            color: #fff;
            &:hover{
                color: var(--color-accent);
            }
        }
    }
}
.header-social{
    display: none;
    align-items: center;
    &__btn{
        margin-left: 10px;
        img{
            height: 20px;
        }
    }
}
.content{
    padding: 0 65px;
    @media (max-width: 1199px) { 
        padding: 0 15px;
    }
    @media (max-width: 767px) {
        padding: 0;
    }
}
.section__title{
    margin: 0 -65px;
    font-weight: normal;
    padding: 23px 0;
    font-size: 36px;
    line-height: 1.2;
    border-top: 1px solid var(--main-border);
    border-bottom: 1px solid var(--main-border);
    text-transform: uppercase;
    text-align: center;
    @media (max-width: 1199px) { 
        margin-left: -15px;
        margin-right: -15px;
    }
}
@media (max-width: 767px) {
    .header__top{
        padding: 15px 0;
    }
    .header-social{
        display: flex;
    }
    .header__menu{
        display: none;
    }
    .header__bottom{
        display: flex;
        padding: 14px 0;
        justify-content: space-between;
        align-items: center;
    }
    .header__city{
        display: block;
    }
    .header__callback{
        display: none;
    }
}
@media (max-width: 574px) {
    .section__title{
        padding: 12px 0;
        font-size: 18px;
    }
}
/*-------------------------promo-------------------------*/
.promo{ 
    margin-right: -65px;
    padding: 55px 0 55px 40px;
    @media (max-width: 1199px) { 
        margin-right: 0;
        padding-left: 80px;
    }
    @media (max-width: 1023px) {
        padding-left: 15px;
    }
    &__body{
        display: flex;
    }
    &__leftside{
        flex-grow: 1;
    }
    &__rightside{
        flex: 0 0 405px;
        min-width: 0;
        padding-right: 20px;
        @media (max-width: 1199px) { 
            padding-right: 0;
        }
    }
    &__title{
        position: relative;
        margin-bottom: 64px;
        font-size: 48px;
        font-weight: 700;
        line-height: 1.1;
        font-family: var(--font-accent);
        letter-spacing: -0.04em;
        &:after{
            content: '';
            display: block;
            position: absolute;
            left: 0;
            bottom: -16px;
            width: 368px;
            border-bottom: 1px solid var(--main-border);
        }
    }
    &__subtitle{
        margin-bottom: 15px;
        font-size: 41px;
        line-height: 1.2;
        letter-spacing: -0.03em;
        font-family: var(--font-accent);
        span{
            position: relative;
            margin-left: -5px;
            display: inline-block;
            padding: 7px 14px 0 5px;
            background: var(--color-accent);
            color: var(--color-bg);
            &:before{
                content: '';
                display: block;
                position: absolute;
                left: -12px;
                bottom: 17px;
                transform: rotate(-18deg);
                width: 120px;
                z-index: -1;
                height: 100%;
                background: var(--color-accent);
            }
        }
    }
    &__note{
        margin-bottom: 12px;
        font-size: 11px;
        text-transform: uppercase;
        max-width: 230px;
        line-height: 1.15;
    }
    &__img{
        position: absolute;
        top: 95px;
        right: 0;
        img{
            max-width: none;
            @media (max-width: 1169px) { 
                max-width: 540px;
            }
        }
    }
    &__form{
        margin-top: 10px;
    }
    &__btn{
        font-size: 9px;
    }
}
.promo__btn_mob{
    display: none;
}
.promo-features{
    margin-top: 45px;
    position: relative;
    &:before{
        content: '';
        display: block;
        position: absolute;
        left: -12px;
        top: 0;
        bottom: 0;
        width: 2px;
        border-radius: 5px;
        background: var(--color-accent);
    }
    &__item{
        margin-bottom: 16px;
        font-size: 11px;
        text-transform: uppercase;
        &:last-child{
            margin-bottom: 0;
        }
    }
}
.mainform{
    position: relative;
    padding: 15px 20px 20px;
    border: 1px solid rgba(199, 230, 255, 0.3);
    backdrop-filter: blur(10.8px);
    background: rgba(56, 56, 56, 0.47);
    border-radius: 3px;
    z-index: 1;
    &__title{
        margin-bottom: 13px;
        font-size: 22.5px;
    }
    &__img{
        position: absolute;
        top: 0;
        z-index: -1;
        right: 0;
    }
}
@media (max-width: 1023px){
    .promo{
        &__body{
            flex-direction: column;
        }
        &__img{
            top: auto;
            right: -15px;
            bottom: -70px;
        }
        &__rightside{
            position: relative;
            padding-top: 50px;
        }
        &__img{
            img{
                max-width: 100%;
            }
        }
        &__form{
            max-width: 400px;
            margin: 0 auto;
        }
    }
}
@media (max-width: 767px) {
    .promo{
        padding: 20px 0 0 20px;
    }
    .promo__title{
        &:after{
            display: none;
        }
    }
    .promo__img{
        bottom: -20px;
    }
}
@media (max-width: 574px) {
    .promo__title{
        margin-bottom: 30px;
        font-size: 27px;
    }
    .promo__subtitle{
        font-size: 27px;
    }
    .promo__subtitle span:before{
        transform: rotate(-16deg);
        left: -8px;
        bottom: 11px;
        width: 90px;
    }
    .promo__note{
        text-transform: none;
        max-width: 100%;
    }
    .promo__btn_desk{
        display: none;
    }
    .promo-features{
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 12px;
    }
    .promo-features__item{
        text-transform: none;
        span{
            color: var(--color-accent);
        }
    }
    .promo__btn_mob{
        display: inline-flex;
    }
    .promo__mobwrap{
        text-align: center;
        padding-right: 20px;
    }
    .promo__rightside{
        padding-top: 25px;
    }
    .promo{
        padding-left: 0;
    }
    .promo__leftside{
        padding-left: 20px;
    }
    .mainform__img{
        width: 65px;
        height: 65px;
    }
    .mainform__title{
        text-align: center;
        font-size: 17px;
    }
    .mainform__inner{
        margin: 0 auto;
        max-width: 196px;
        input{
            max-width: 100%;
        }
    }
    .promo__img{
        bottom: 0;
    }
    .promo__body{
        display: block;
    }
    .promo{
        margin-bottom: 15px;
    }
}
/*-------------------------benefits-------------------------*/
.benefits{
    &__inner{
        padding: 36px 0;
        margin: 0 auto;
        max-width: 615px;
    }
}
.benefits-items{
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
    &__item{
        position: relative;
        flex: 0 0 calc((100% - 16px) / 3);
        min-width: 0;
        &:nth-child(2){
            img{
                filter: grayscale(0);
            }
        }
        img{
            filter: grayscale(100%);
        }
    }
    &__logo{
        position: absolute;
        top: 22px;
        left: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        z-index: 10;
    }
    &__text{
        position: absolute;
        font-size: 13px;
        left: 15px;
        bottom: 18px;
        text-transform: uppercase;
        z-index: 1;
    }
}
.benefits-faq{
    padding: 0 47px;
    @media (max-width: 1023px) {
        padding: 0;
    }
}
.benefits-faq-item{
    border-bottom: 1px solid var(--main-border);
    &.open{
        .benefits-faq-item__caption{
            background: var(--color-accent);
            color: var(--color-bg);
            path{
                fill: var(--color-bg);
            }
        }
        .benefits-faq-item__content{
            height: auto;
        }
    }
    &__caption{
        position: relative;
        padding: 12px 17px;
        font-size: 15px;
        line-height: 1.2;
        letter-spacing: -0.01em;;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.3s ease;
        svg{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 12px;
            z-index: 1;
        }
        path{
            fill: #C9C9C9;
            transition: all 0.4s ease;
        }
    }
    &__content{
        height:0;
        overflow:hidden;
        transition: height 0.3s ease;
    }
    &__text{
        padding: 7px 17px;
        max-width: 280px;
        font-size: 10px;
        line-height: 1.2;
    }
}
.benefits-items__logo{
    img{
        filter: grayscale(0);
    }
}
@media (max-width: 574px) {
    .benefits-items__text{
        font-size: 8px;
        bottom: 10px;
        left: 10px;
    }
    .benefits-items__logo{
        width: 90px;
        left: auto;
        right: 10px;
    }
    .benefits-faq-item__caption{
        font-size: 10px;
        padding: 10px 40px 10px 10px;
    }
    .benefits-faq-item__text{
        padding: 7px 10px;
    }
}
/*-------------------------programms-------------------------*/
.programms{
    &__inner{
        margin: 0 auto;
        padding: 90px 0 30px 10px;
        max-width: 1050px;
        @media (max-width: 1169px) { 
            max-width: 970px;
        }
    }
    &__row{
        display: flex;
        margin: 0 -10px;
        justify-content: space-between;
    }
    &__note{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 60px;
        font-size: 11px;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        img{
            margin-bottom: 20px;
        }
    }
}
.programms-item{
    flex: 0 0 33.333%;
    min-width: 0;    
    &:nth-child(1){
        .programms-item__img{
            left: 40px;
            @media (max-width: 1023px) {
                left: 0;
            }
        }
        .programms-item__info:after{
            background-image: url(../img/programms-shape1.svg);
        }
    }
    &:nth-child(2){
        .programms-item__info:after{
            background-image: url(../img/programms-shape3.svg);
        }
        .programms-item__category{
            span{
                margin-left: -5px;
            }
        }
    }
    &:nth-child(3){
        .programms-item__img{
            top: -20px;
        }
        .programms-item__info:after{
            background-image: url(../img/programms-shape2.svg);
        }
    }
    &__img{
        position: relative;
        display: flex;
        align-items: center;
        height: 200px;
        text-align: center;
        z-index: 10;
    }
    &__info{
        position: relative;
        margin: 0 auto;
        padding-bottom: 10px;
        padding-left: 30px;
        margin-top: -50px;
        width: 236px;
        @media (max-width: 1023px){
            width: 200px;
        }
        &:after{
            content: '';
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 312px;
            background-repeat: no-repeat;
            background-position: 50% bottom;
            background-size: contain;
            z-index: -1;
        }
    }
    &__category{
        color: var(--color-bg);
        font-family: var(--font-accent);
        font-size: 29px;
        letter-spacing: -0.03em;
        @media (max-width: 1023px){
            font-size: 25px;
        }
        span{
            display: block;
            line-height: 90px;
            font-size: 103px;
            font-weight: 700;
            @media (max-width: 1023px){
                font-size: 80px;
                line-height: 70px;
            }
        }
    }
    &__term{
        padding-top: 15px;
        font-size: 11px;
        text-transform: uppercase;
        line-height: 1.15;
        font-weight: 300;
        text-align: center;
    }
}
@media (max-width: 767px) {
    .programms__inner{
        padding: 30px 0;
    }
    .programms__row{
        flex-wrap: wrap;
        justify-content: center;
    }
    .programms-item{
        flex: 0 0 100%;
        margin-bottom: 10px;
        min-width: 0;
        &:last-child{
            margin-bottom: 0;
        }
        &__img{
            justify-content: center;
        }
    }
    .programms__note{
        padding-top: 30px;
    }
    .programms-item__info{
        padding-left: 15px;
        width: 170px;
    }
    .programms-item:nth-child(3) .programms-item__img{
        top: -10px;
        left: -10px;
    }
    .programms-item__info:after{
        height: 224px;
    }
    .programms-item__img{
        width: 230px;
        height: 180px;
        margin: 0 auto;
    }
    .programms-item__category{
        font-size: 22px;
        span{
            font-size: 70px;
            line-height: 60px;
        }
    }
    .programms-item:nth-child(1) .programms-item__info:after,
    .programms-item:nth-child(3) .programms-item__info:after{
        background-image: url(../img/programms-shape-mobile.svg);
    }
}
/*-------------------------tariffs-------------------------*/
.tariffs{
    &__body{
        margin: 0 auto;
        max-width: 772px;
    }
}
.tariffs-cars{
    position: relative;
    padding: 88px 0 105px 0;
    &__row{
        display: flex;
        justify-content: space-between;
    }
    &__star1{
        position: absolute;
        top: 35px;
        left: -90px;
    }
    &__star2{
        position: absolute;
        bottom: 35px;
        right: -160px;
        @media (max-width: 1169px) { 
            right: -120px;
        }
    }
}
.tariffs-cars-item{
    flex: 0 0 calc((100% - 32px) / 3);
    display: flex;
    flex-direction: column;
    color: var(--color-bg);
    align-items: center;
    min-width: 0;
    &:nth-child(1){
        .tariffs-cars-item__list{
            path{
                fill: #D9D9D9;
            }
        }
        .tariffs-cars-item__body{
            background: #fff;
        }
    }
    &:nth-child(2){
        color: #fff;
        .tariffs-cars-item__list{
            path{
                fill: var(--color-accent);
            }
        }
        .tariffs-cars-item__price,
        .tariffs-cars-item__title{
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        }
        .tariffs-cars-item__body{
            background-position: 50% 50%;
            background-image: url(../img/bg-tariffs-item.jpg);
            background-size: cover;
            &:before,
            &:after{
                display: block;
            }
        }
    }
    &:nth-child(3){
        .tariffs-cars-item__list{
            path{
                fill: #fff;
            }
        }
        .tariffs-cars-item__body{
            background: var(--color-accent);
        }
    }
    &__body{
        position: relative;
        flex-grow: 1;
        margin-bottom: 50px;
        padding: 25px 13px 25px;
        border-radius: 3px;
        &:before,
        &:after{
            content: '';
            display: none;
            position: absolute;
            right: 12px;
            width: 28px;
            height: 30px;
        }
        &:before{
            top: 17px;
            background-image: url(../img/tariffs-item-arrow1.svg);
        }
        &:after{
            bottom: 17px;
            background-image: url(../img/tariffs-item-arrow2.svg);
        }
    }
    &__title{
        display: inline-block;
        margin-bottom: 4px;
        padding-bottom: 5px;
        font-family: var(--font-accent);
        font-weight: 900;
        letter-spacing: -0.03em;
        border-bottom: 1px solid rgba(45, 45, 45, 0.3);
        font-size: 17px;
    }
    &__category{
        margin-bottom: 5px;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: 300;
    }
    &__price{
        margin-bottom: 20px;
        padding-bottom: 8px;
        font-family: var(--font-accent);
        font-weight: 900;
        letter-spacing: -0.03em;
        font-size: 34px;
        border-bottom: 1px solid rgba(45, 45, 45, 0.3);
    }
    &__list{
        li{
            position: relative;
            margin-bottom: 12px;
            padding-left: 23px;
            padding-right: 5px;
            font-size: 11px;
            letter-spacing: -0.03em;
            line-height: 1.1;
            &:last-child{
                margin-bottom: 0;
            }
            svg{
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}
.tariffs-info-item{
    padding-bottom: 27px;
    border-top: 1px solid var(--main-border);
    &__title{
        display: flex;
        align-items: center;
        min-height: 60px;
        padding: 8px 0;
        letter-spacing: -0.04em;
        font-family: var(--font-accent);
        border-bottom: 1px solid var(--main-border);
        font-size: 17px;
        font-weight: 900;
    }
    &__body{
        padding: 5px 0;
        display: flex;
    }
    &__price{
        flex: 0 0 205px;
        font-family: var(--font-accent);
        font-size: 34px;
        letter-spacing: -0.03em;
        font-weight: 900;
    }
    &__content{
        padding-top: 5px;
        letter-spacing: -0.025em;
        p{
            margin-bottom: 14px;
            font-size: 11px;
        }
    }
    &__text{
        position: relative;
        max-width: 490px;
        margin-bottom: 15px;
        padding-bottom: 1px;
        &:after{
            content: '';
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            border-bottom: 1px solid var(--main-border);
            width: 145px;
        }
    }
}
@media (max-width: 767px) {
    .tariffs-cars{
        padding: 40px 0;
    }
    .tariffs-cars__row{
        flex-direction: column;
    }
    .tariffs-cars-item{
        margin: 0 auto 45px;
        max-width: 290px;
    }
    .tariffs-cars-item__body{
        margin-bottom: 30px;
    }
}
@media (max-width: 574px) {
    .tariffs-cars-item__body{
        min-height: 390px;
    }
    .tariffs-cars-item__title{
        font-size: 20px;
    }
    .tariffs-cars-item__category{
        font-size: 13px;
    }
    .tariffs-cars-item__price{
        font-size: 40px;
    }
    .tariffs-cars-item__list li{
        font-size: 13px;
        padding-right: 0;
    }
    .tariffs-cars-item:nth-child(2) .tariffs-cars-item__price{
        color: var(--color-accent);
    }
    .tariffs-info-item__title{
        font-size: 20px;
        padding-left: 15px;
    }
    .tariffs-info-item__body{
        display: block;
        padding-left: 15px;
    }
    .tariffs-info-item__price{
        font-size: 36px;
    }
    .tariffs-info-item__content{
        text-align: center;
    }
    .tariffs-info-item__text{
        text-align: left;
    }
    .tariffs-info-item__text:after{
        width: 100%;
    }
    .tariffs-info-item{
        padding-bottom: 20px;
    }
}
/*-------------------------gift-------------------------*/
.gift{
    padding: 40px 20px 0 110px;
    border-top: 1px solid var(--main-border);
    margin: 0 -65px;
    @media (max-width: 1199px) { 
        margin: 0;
    }
    @media (max-width: 1169px) {
        padding-left: 50px;
    }
    &__inner{
        display: flex;
    }
    &__img{
        position: absolute;
        right: -23px;
        bottom: 0;
        img{
            max-width: none;
        }
        @media (max-width: 1169px) {
            right: -40px;
        }
    }
    &__content{
        flex-grow: 1;
        padding-bottom: 20px;
    }
    &__rightside{
        position: relative;
        flex: 0 0 385px;
        padding-top: 10px;
        padding-bottom: 62px;
        min-width: 0;
    }
    .mainform__title{
        margin-bottom: 20px;
    }
    &__title{
        position: relative;
        margin-bottom: 15px;
        font-size: 41px;
        font-family: var(--font-accent);
        font-weight: normal;
        letter-spacing: -0.03em;
        background-image: url(../img/gift-title-star.svg);
        background-repeat: no-repeat;
        background-position: 36px 14px
    }
    &__text{
        position: relative;
        margin-bottom: 25px;
        font-size: 11px;
        text-transform: uppercase;
    }
    &__stars{
        position: absolute;
        left: 255px;
        top: -5px;
    }
}
.gift-quote{
    position: relative;
    margin-top: 60px;
    padding-top: 20px;
    font-family: var(--font-main2);
    font-size: 11px;
    &:before{
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 13px;
        height: 11px;
        background-image: url(../img/quotes.svg);
        background-repeat: no-repeat;
    }
    &__desc{
        margin-bottom: 15px;
        letter-spacing: -0.02em;
    }
}
.gift__btnwrap{
    text-align: center;
    display: none;
}
.achievements__desc{
    p{
        margin: 0;
    }
}
@media (max-width: 1023px){
    .gift__inner{
        flex-direction: column;
    }
    .gift__form{
        max-width: 400px;
        margin: 0 auto;
    }
    .gift-quote{
        margin-top: 30px;
    }
}
@media (max-width: 574px) {
    .gift{
        padding: 25px 0;
    }
    .gift__title{
        font-size: 21px;
    }
    .gift-quote{
        margin-left: 15px;
    }
    .gift__inner{
        display: block;
    }
    .gift__rightside{
        padding-bottom: 0;
    }
    .gift__img{
        display: none;
    }
    .gift__btn_desk{
        display: none;
    }
    .gift__btnwrap{
        display: block;
        padding-bottom: 30px;
    }
    .achievements__desc{
        margin-bottom: 30px !important;
        p{
            margin-bottom: 15px;
        }
        span{
            color: var(--color-accent);
        }
    }
}
/*-------------------------achievements-------------------------*/
.achievements{
    &__inner{
        padding: 25px 0 20px;
        margin: 0 auto;
        max-width: 816px;
    }
    &__desc{
        margin-bottom: 40px;
        font-size: 15px;
        line-height: 1.5;
        text-transform: uppercase;
        letter-spacing: -0.015em;
        text-align: center;
        @media (max-width: 1023px) {
            br{
                display: none;
            }
        }
    }
}
.achievements-stats{
    margin-bottom: 60px;
    &__row{
        display: flex;
        justify-content: space-between;
    }
}
.achievements-stats-item{
    position: relative;
    text-align: center;
    flex: 0 0 200px;
    min-width: 0;
    &:last-child::after{
        display: none;
    }
    &:after{
        content: '';
        display: block;
        position: absolute;
        top: 24px;
        right: -112px;
        width: 120px;
        height: 3px;
        background-position: right 50%;
        background-image: url(../img/achiv-arrow.svg);
        background-repeat: no-repeat;
        @media (max-width: 1023px) {
            right: -48%;
        }
    }
    &__num{
        font-family: var(--font-accent);
        font-size: 41px;
        color: var(--color-accent);
    }
    &__desc{
        font-size: 12px;
        font-style: italic;
        letter-spacing: -0.03em;
    }
}
.achievements-events{
    display: flex;
    justify-content: space-between;
}
.achievements-events-item{
    position: relative;
    flex: 0 0 200px;
    min-width: 0;
    &:first-child{
        .achievements-events-item__img{
            &:after{
                content: '';
                display: block;
                position: absolute;
                left: -105px;
                top: 50%;
                width: 248px;
                height: 248px;
                background-image: url(../img/achievements-shape-left.svg);
                transform: translateY(-50%);
            }
        }
    }
    &:last-child{
        .achievements-events-item__img{
            &:after{
                content: '';
                display: block;
                position: absolute;
                right: -97px;
                top: 50%;
                width: 248px;
                height: 248px;
                background-image: url(../img/achievements-shape-right.svg);
                transform: translateY(-50%);
            }
        }
    }
    &__img{
        position: relative;
        margin-bottom: 20px;
        height: 190px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 3px;
        }
    }
    &__text{
        position: relative;
        padding-top: 20px;
        letter-spacing: -0.028em;;
        &:before{
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 2px;
            background: var(--color-accent);
            border-radius: 10px;
        }
        p{
            margin-bottom: 13px;
            font-size: 12px;
            line-height: 1.21;
        }
    }
}
.achievements-note{
    display: flex;
    margin-top: -32px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 11px;
    &__img{
        margin-bottom: 25px;
    }
    &__caption{
        margin-bottom: 20px;
    }
    p{
        margin-bottom: 15px;
    }
}
@media (max-width: 767px) {
    .achievements-stats__row{
        display: block;
    }
    .achievements-stats-item__num{
        font-size: 48px;
    }
    .achievements__desc{
        font-size: 11px;
        text-transform: none;
    }
    .achievements-stats{
        margin-bottom: 30px;
    }
    .achievements-stats-item{
        margin-bottom: 20px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    .achievements-events{
        display: block;
    }
    .achievements-events-item{
        margin: 0 auto 40px;
        max-width: 300px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    .achievements-events-item__img:after{
        display: none !important;
    }
}
/*-------------------------education-------------------------*/
.education{
    &__inner{
        padding: 35px 0 30px 0;
        margin: 0 auto;
        max-width: 782px;
    }
    &__row{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 35px;
        gap: 30px;
    }
}
.education-item{
    position: relative;
    min-height: 168px;
    padding: 25px 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    flex: 0 0 calc((100% - 60px) / 3);
    min-width: 0;
    border-radius: 4px;
    &:nth-child(3),
    &:nth-child(5){
        &:after{
            display: none;
        }
    }
    &:after{
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        right: -30px;
        transform: translateY(-50%);
        width: 28px;
        height: 30px;
        background-image: url(../img/tariffs-item-arrow1.svg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    &:last-child{
        background: var(--color-accent);
        color: var(--color-bg);
        border-color: var(--color-bg);
        background-image: url(../img/education-item-lines.svg);
        background-size: cover;
        .education-item__title{
            border-bottom: 1px solid var(--color-bg);
        }
    }
    &__title{
        display: inline-block;
        margin-bottom: 10px;
        padding-bottom: 5px;
        letter-spacing: -0.03em;
        font-family: var(--font-accent);
        border-bottom: 1px solid var(--main-border);
        font-size: 17px;
        font-weight: 900;
    }
    &__desc{
        font-size: 11px;
        padding-right: 30px;
    }
    &__num{
        position: absolute;
        bottom: 0;
        right: 5px;
    	font-family: "Sora";
        font-size: 62px;
        line-height: 1;
    }
}
.education-info{
    text-align: center;
    &__title{
        margin-bottom: 13px;
        font-size: 14px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }
    &__text{
        margin-bottom: 15px;
        letter-spacing: -0.02em;
        font-size: 11px;
    }
    &__note{
        font-size: 11px;
    }
}
@media (max-width: 574px) {
    .education__row{
        display: block;
    }
    .education-item{
        min-height: 200px;
        margin-bottom: 40px;
        &:last-child{
            &:after{
                display: none !important;
            }
        }
    }
    .education-item__num{
        font-size: 75px;
    }
    .education-item__title{
        font-size: 21px;
    }
    .education-item:after{
        display: block !important;
        top: 100%;
        left: 50%;
        margin-top: 5px;
        margin-left: -15px;
        right: auto;
        transform: translate(0, -50%);
        transform: rotate(90deg);
    }
}
/*-------------------------discounts-------------------------*/
.discounts{
    position: relative;
    padding-bottom: 20px;
    margin: 0 -65px;
    padding: 0 65px 20px;
    border-bottom: 1px solid var(--main-border);
    &:after{
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 100px;
        height: 430px;
        background-image: url(../img/discounts-lines.svg);
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: cover;
    }
    &__inner{
        padding: 10px 0 0;
        max-width: 782px;
        margin: 0 auto;
    }
    &__note{
        margin-bottom: 17px;
        font-size: 11px;
        font-weight: 300;
        letter-spacing: -0.03em;
        text-align: center;
    }
    &__row{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px;
    }
}
.discounts-item{
    margin-bottom: 30px;
    height: 408px;
    width: 183px;
    padding: 1px;
    background-image: url(../img/discount-item-shape.svg);
    background-repeat: no-repeat;
    background-size: contain;
    &__top{
        position: relative;
    }
    &__img{
        height: 220px;
        border-radius: 3px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__slogan{
        position: absolute;
        left: 0;
        right: 15px;
        bottom: 33px;
        display: flex;
        padding-left: 15px;
        align-items: center;
        color: var(--color-bg);
        height: 29px;
        font-style: italic;
        border-radius: 0 46px 46px 0;
        font-size: 11px;
        box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.25);
        background: #fff;
        &:after{
            content: '';
            display: block;
            position: absolute;
            top: -6px;
            left: -1px;
            height: 42px;
            right: -11px;
            border: 1px solid #fff;
            border-radius: 0 50px 50px 0;
            opacity: 0.5;
        }
    }
    &__title{
        display: flex;
        font-family: var(--font-accent);
        align-items: center;
        justify-content: center;
        text-align: center;
        letter-spacing: -0.03em;
        padding: 10px 5px;
        line-height: 17px;
        height: 90px;
    }
    &__price{
        display: flex;
        align-items: center;
        font-size: 35px;
        font-family: var(--font-accent);
        justify-content: center;
        text-align: center;
        height: 96px;
    }
}
/*-------------------------callback-------------------------*/
.section__title2{
    font-size: 41px;
    letter-spacing: -0.03em;
    font-family: var(--font-accent);
    font-weight: normal;
    @media (max-width: 1023px) {
        font-size: 30px;
    }
}
.callback{
    margin: 0 -65px; 
    @media (max-width: 1199px) {
        padding: 0 15px;
        margin: 0 -15px;
    }      
    &__inner{
        margin: 0 auto;
        padding-top: 25px;
        padding-right: 10px;
        max-width: 962px;
        display: flex;
        @media (max-width: 1023px) {
            align-items: flex-end;
        }
    }
    &__content{
        padding-top: 15px;
        padding-bottom: 20px;
        flex-grow: 1;
        @media (max-width: 1023px) {
            padding-left: 50px;
        }
    }
    &__title{
        margin-bottom: 10px;
    }
    &__choice{
        display: inline-flex;
        align-items: center;
        font-size: 11px;
        text-transform: uppercase;
        img{
            margin-left: 5px;
            width: 35px;
        }
    }
    &__img{
        @media (max-width: 1023px) {
            flex: 0 0 250px;
            min-width: 0;
        }          
    }
}
.callback-social{
    display: flex;
    margin-top: 55px;
    padding-left: 10px;
    @media (max-width: 1023px) {
        margin-top: 20px;
    }
    &__item{
        margin-right: 40px;
        text-align: center;
        &:first-child{
            img{
                transform: scale(1.2);
            }
        }
    }
    &__title{
        font-size: 13px;
    }
    &__logo{
        margin-bottom: 20px;
        @media (max-width: 1023px) {
            margin-bottom: 10px;
        }
        img{
            display: inline-block;
            width: 64px;
            height: 64px;
            @media (max-width: 1023px) {
                width: 35px;
                height: 35px;
            }            
        }
    }
}
@media (max-width: 767px) {
    .callback__inner{
        display: block;
    }
    .callback__content{
        padding-left: 0;
    }
    .callback__img{
        text-align: center;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    .callback-social{
        justify-content: center;
        padding: 0;
    }
    .callback-social__item{
        margin: 0 20px;
    }
}
@media (max-width: 574px) {
    .section__title2{
        font-size: 21px;
    }
    .callback-social__item{
        margin: 0 15px;
    }
    .callback-social__logo img {
        width: 44px;
        height: 44px;
    }
    .callback__content{
        padding-bottom: 25px;
    }
    .callback__choice{
        margin-bottom: 20px;
        text-transform: none;
        line-height: 1.4;
    }
}
/*-------------------------address-------------------------*/
.address{
    &__inner{
        margin: 0 -65px;
        padding: 0 65px;
        border-bottom: 1px solid var(--main-border);
        @media (max-width: 1199px) { 
            margin: 0;
        }
        @media (max-width: 1023px) {
            padding: 0;
        }        
    }
}
.address-acrd-item{
    border-bottom: 1px solid var(--main-border);
    cursor: pointer;
    &.open{
        .address-acrd-item__content{
            height: auto;
        }
    }
    &:last-child{
        border-bottom: 0;
    }
    &__title{
        display: flex;
        justify-content: space-between;
        padding: 11px 0;
        font-size: 15px;
        text-transform: uppercase;
        line-height: 1.2;
        span{
            font-size: 11px;
            font-weight: 300;
        }
        path{
            fill: #D9D9D9;
        }
    }
    &__content{
        height:0;
        overflow:hidden;
        transition: height 0.3s ease;
    }
    &__content-inner{
        padding-bottom: 20px;
    }
    &__phone{
        margin-bottom: 4px;
        text-align: center;
        color: var(--color-accent);
        letter-spacing: 0.03em;
        font-size: 14px;
    }
    &__timetable{
        text-align: center;
        li{
            letter-spacing: -0.02em;
            margin-bottom: 3px;
            line-height: 1.2;
            font-size: 11px;
        }
    }
}
@media (max-width: 767px) {
    .address-acrd-item__title{
        justify-content: center;
        span{
            display: none;
        }
        svg{
            display: none;
        }
    }
}
@media (max-width: 574px) {
    .address-acrd-item__title{
        font-size: 11px;
        text-align: center;
    }
}
/*-------------------------team-------------------------*/
.team{
    padding-bottom: 22px;
    &__row{
        padding-top: 35px;
        max-width: 1032px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }
}
.team-item{
    flex: 0 0 calc((100% - 32px) / 5);
    margin-bottom: 10px;
    min-width: 0;
    text-align: center;
    &__photo{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 11px;
        text-transform: uppercase;
        margin-bottom: 15px;
        height: 190px;
        border-radius: 3px;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        svg{
            width: 100%;
            height: 100%;
        }
    }
    &__name{
        margin-bottom: 4px;
        font-size: 13px;
        line-height: 1.2;
    }
    &__post{
        font-size: 11px;
        letter-spacing: -0.03em;
    }
    &__photo_2{
        background: var(--color-accent);
        color: var(--color-bg);
    }
}
@media (max-width: 767px) {
    .team-item{
        flex: 0 0 calc((100% - 16px) / 3);
        min-width: 0;
    }
}
@media (max-width: 574px) {
    .team-item{
        margin-bottom: 20px;
        flex: 0 0 calc((100% - 8px) / 2);
    }
}
/*-------------------------social-------------------------*/
.social{
    padding-bottom: 95px;
    &__inner{
        position: relative;
        margin: 0 auto;
        padding-top: 70px;
        max-width: 1032px;
    }
}
.social-top{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    &__title{
        font-size: 15px;
        line-height: 1.5;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
    &__row{
        display: flex;
        align-items: center;
    }
    &__btn{
        margin: 0 10px;
        display: flex;
        height: 35px;
        img{
            max-height: 100%;
        }
    }
    &__text{
        margin-top: 22px;
        @media (max-width: 1023px) {
            img{
                max-width: 180px;
            }
        }
    }
}
.social-gallery{
    &__row{
        display: flex;
        justify-content: space-between;
    }
    &__leftside{
        display: flex;
        align-items: flex-end;
        gap: 7px;
        @media (max-width: 1023px) {
            width: 45%;
        }
    }
    &__rightside{
        display: flex;
        align-items: flex-end;
        flex-direction: row-reverse;
        gap: 7px;
        @media (max-width: 1023px) {
            width: 45%;
        }
    }
    &__col{
        min-width: 0;
        flex: 1;
        &:first-child{
            flex: 0 0 196px;
            @media (max-width: 1023px) {
                flex: 0 0 45%;
            }
            .social-gallery__item{
                height: 236px;
            }
        }
    }
    &__item{
        margin-bottom: 8px;
        border-radius: 3px;
        overflow: hidden;
        height: 114px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.social-gallery-bottom{
    position: relative;
    &:before,
    &:after{
        content: '';
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    &:before{
        background-image: url(../img/social-shape2.svg);
        height: 85px;
        bottom: 100%;
        margin-bottom: 7px;
    }
    &:after{
        top: 100%;
        margin-top: 7px;
        height: 72px;
        background-image: url(../img/social-shape1.svg);
    }
    &__img{
        height: 160px;
        border-radius: 3px;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__title{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -70%);
        font-family: var(--font-main2);
        font-size: 32px;
        z-index: 10;
    }
    &__star{
        position: absolute;
        z-index: 10;
    }
    &__star_1{
        left: 265px;
        bottom: 27px;
        @media (max-width: 1023px) {
            left: 20%;
        }
    }
    &__star_2{
        top: 2px;
        right: 220px;
        @media (max-width: 1023px) {
            right: 10%;
        }
    }
}
@media (max-width: 767px) {
    .social__inner{
        padding-top: 25px;
    }
    .social-top{
        margin-bottom: 30px;
        padding: 0;
        position: static;
    }
    .social-gallery-bottom{
        display: none;
    }
    .social-gallery__row{
        display: block;
        margin: 0 auto;
        max-width: 300px;
    }
    .social-gallery__leftside,
    .social-gallery__rightside{
        width: 100%;
    }
    .social-gallery__col{
        &:nth-child(3){
            display: none;
        }
    }
    .social-gallery__col:first-child {
        flex: 0 0 60%;
    }
}
@media (max-width: 574px) {
    .social{
        padding-bottom: 20px;
    }
}
/*-------------------------reviews-------------------------*/
.reviews{
    &__inner{
        margin: 0 auto;
        padding: 35px 0;
        max-width: 780px;
    }
    &__row{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    &__bottom{
        padding-top: 38px;
        text-align: center;
    }
}
.reviews-item{
    position: relative;
    padding: 25px 10px;
    flex: 0 0 calc((100% - 60px) / 3);
    min-width: 0;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--main-border);
    background: var(--color-bg);
    border-radius: 3px;
    &:first-child{
        &:before{
            content: '';
            display: block;
            position: absolute;
            left: -150px;
            top: 50%;
            z-index: -1;
            transform: translateY(-50%);
            width: 274px;
            height: 404px;
            background-position: 0 50%;
            background-image: url(../img/reviews-left.svg);
            background-repeat: no-repeat;
        }
    }
    &:last-child{
        &:before{
            content: '';
            display: block;
            position: absolute;
            right: -150px;
            top: 50%;
            z-index: -1;
            transform: translateY(-50%);
            width: 274px;
            height: 404px;
            background-position: 100% 50%;
            background-image: url(../img/reviews-right.svg);
            background-repeat: no-repeat;
        }
    }
    &__name{
        margin-bottom: 15px;
        padding-bottom: 4px;
        font-family: var(--font-accent);
        font-size: 17px;
        font-weight: 900;
        border-bottom: 1px solid var(--main-border2);
        letter-spacing: -0.03em;
    }
    &__rating{
        margin-bottom: 15px;
    }
    &__text{
        font-size: 11px;
        p{
            margin-bottom: 12px;
        }
    }
    &__date{
        font-size: 11px;
    }
    &__arrow{
        position: relative;
        right: -10px;
        bottom: -10px;
        margin-top: auto;
        margin-left: auto;
    }
}
@media (max-width: 767px) {
    .reviews__row{
        flex-direction: column;
    }
    .reviews-item::before{
        display: none !important;
    }
}
@media (max-width: 574px) {
    .reviews-item__name{
        font-size: 21px;
    }
    .reviews__row{
        gap: 20px;
    }
}
/*-------------------------footer-------------------------*/
.footer{
    padding: 42px 0 0;
    border-top: 1px solid var(--main-border);
    &__inner{
        display: flex;
        margin: 0 auto;
        max-width: 1032px;
        @media (max-width: 1169px) { 
            padding: 0 15px;
        }
    }
    &__leftside{
        flex: 0 0 260px;
        display: flex;
        padding-bottom: 15px;
        flex-direction: column;
        padding-right: 10px;
        min-width: 0;
        @media (max-width: 1169px) { 
            flex: 0 0 190px;
        }
    }
    &__center{
        padding-bottom: 30px;
        flex-grow: 1;
    }
    &__row{
        display: flex;
        justify-content: space-around;
    }
    &__col{
        padding-right: 35px;
        @media (max-width: 1169px) { 
            padding-right: 10px;
        }
    }
    &__bottom{
        border-top: 1px solid var(--main-border);
        text-align: center;
    }
    &__copy{
        padding: 15px 0;
        font-size: 9px;
        font-weight: 300;
    }
    &__caption{
        margin-bottom: 16px;
        font-size: 8px;
        line-height: 1.5;
        text-transform: uppercase;
    }
    &__list{
        li{
            margin-bottom: 4px;
            a{
                font-size: 11px;
                font-weight: 300;
                color: #888888;
                &:hover{
                    color: #fff;
                }
            }
        }
    }
    &__logo{
        display: inline-block;
        margin-left: 5px;
    }
}
.footer-contacts{
    margin-top: 80px;
    display: flex;
    padding-left: 32px;
    flex-direction: column;
    &__mail{
        font-size: 9px;
        margin-bottom: 5px;
    }
    &__phone{
        margin-bottom: 8px;
    }
}
.footer-social{
    display: flex;
    &__btn{
        margin-right: 10px;
        img{
            width: auto;
            height: 10px;
        }
    }
}
@media (max-width: 767px) {
    .footer__inner{
        padding: 0;
        display: block;
    }
    .footer__leftside{
        margin-bottom: 15px;
    }
    .footer-contacts{
        margin-top: 40px;
        padding-left: 30px;
    }
    .footer__center{
        padding-left: 30px;
    }
    .footer__row{
        display: block;
    }
    .footer__col{
        margin-bottom: 30px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    .footer{
        position: relative;
        border: 0;
        &:after{
            content: '';
            display: block;
            position: absolute;
            right: -90px;
            bottom: 450px;
            width: 181px;
            height: 658px;
            background-image: url(../img/footer-shape.svg);
        }
    }
}
@media (max-width: 574px) {
    .footer__copy{
        padding: 10px 0;
    }
    .btn_5::after{
        background: #383838;
    }
}