/*==============================FORM ELEMENTS==============================*/
.btn{
	position: relative;
	display: inline-flex;
	align-items: center;
	padding: 0 50px;
	justify-content: center;
	text-align: center;
	height: 87px;
    min-width: 235px;
    font-size: 26px;
	font-weight: 600;
	background-color: #faca2a;
	color: #232121;
	border-radius: 50px;
	transition: all 0.3s ease;
	cursor: pointer;
    &:hover{
    	background-color: #fbd968;
    }
    &_small{
        height: 60px;
        font-size: 18px;
    }
    &_full{
        width: 100%;
    }
	&_transparent{
		background-color: #fff;
		color: #4c6fbf;
		border: 1px solid #4c6fbf;
		&:hover{
			background-color: #4c6fbf;
			color: #fff;
		}
	}
	&_gradient{
		overflow: hidden;
        z-index: 1;
		&:hover{
            color: #fff;
        }
		&:hover::after{
			opacity: 1;
		}
		&:before,
		&:after{
		  content: '';
		  display: block;
		  position: absolute;
		  left: 0;
		  top: 0;
		  width: 100%;
		  height: 100%;
		  transition: all 0.3s ease;
		}
		&:before{
			background-color: transparent;
			background-image: linear-gradient(180deg, rgba(249,199,21,1) 0%, rgba(251,143,17,1) 98%);
			z-index: -2;
			opacity: 1;
		}
		&:after{
			background-color: transparent;
			background-image: linear-gradient(180deg, rgba(255,168,5,1) 0%, rgba(255,104,3,1) 100%);
			z-index: -1;
			opacity: 0;
		}
	}
}
.input{
	width: 100%;
	height: 50px;
	padding: 0 20px;
	color: rgb(76, 111, 191);
    background: #fff;
	border: 1px solid rgb(182, 201, 242);
    font-size: 18px;
	font-weight: 300;
	border-radius: 90px;
    transition: all 0.3s ease;
    &:focus{
        border-color: #1b56de;
    }
    &_big{
        height: 80px;
        padding: 0 30px;
        font-size: 25px;
    }
}
.textarea{
	width: 100%;
	height: 100px;
	padding: 20px;
    background: #fff;
	color: rgb(76, 111, 191);
	border: 1px solid rgb(182, 201, 242);
	font-weight: 300;
	border-radius: 90px;
}