/*==============================GENERAL==============================*/
html, body{
    position: relative;
    min-width: 320px;
}
body{ 
    font-family: 'TildaSans', Arial, sans-serif;
    line-height: 1;
    background: #FEF8FD;
} 
.wrapper{
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}
.center-wrapper{
	position: relative;
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1190px;
    //border: 1px solid #f00;
}
.center-wrapper_big{
    max-width: 1600px;
}
h1, h2, h3, h4, h5, h6, .title_1, .title_2, .title_3, .title_4, .title_5, .title_6{
	margin-bottom: 30px;
    font-weight: 700;
    line-height: 1.07;
    color: #333131;
}
h1, .title_1{
    font-size: 66px;
}
h2, .title_2{
    margin-bottom: 40px;
    font-size: 56px;
}
h3, .title_3{
    font-size: 37px;
}
p{
    margin-bottom: 25px;
    font-size: 25px;
    line-height: 1.3;
}
a{
	outline: none;
	text-decoration: none;
	transition: all 0.3s ease;
}
ul, ol{
	list-style: none;
}
strong{
    font-weight: 700;
}
em{
    font-style: italic;
}
img{
	height: auto;
	vertical-align: top;
}
table{
	width: 100%;
}
blockquote{
    position: relative;
    margin: 0 auto 70px;
    padding: 50px 30px;
    max-width: 90%;
    padding-left: 200px;
    background: #fff;
    border: 2px solid #B6C9F2;
    border-radius: 30px;
    &:before{
        content: '';
        display: block;
        position: absolute;
        top: 40px;
        left: 30px;
        width: 100px;
        height: 100px;
        background-image: url(../img/icon-quotes.svg);
        background-size: cover;
    }
    &:after{
        content: '';
        display: block;
        position: absolute;
        left: 160px;
        top: 40px;
        bottom: 40px;
        width: 6px;
        background: #ffa808;
    }
    footer{
        font-size: 24px;
        a{

        }
    }
}
.center_text{
    text-align: center;
}
.text{
	ul{
		padding-bottom: 15px;
        color: #333131;
		li{
			position: relative;
            margin-bottom: 10px;
            padding-left: 30px;
            font-size: 26px;
            line-height: 1.3;
			&:before{
				content: '';
				display: block;
				position: absolute;
				top: 12px;
				left: 0;
                width: 15px;
                height: 15px;
                background: #ffb83b;
                border-radius: 50%;
			}
		}
	}
	ol{
		padding-bottom: 15px;
		counter-reset: myCounter;
        color: #333131;
		li{
			position: relative;
            margin-bottom: 10px;
            font-size: 26px;
            line-height: 1.3;
			&:before{
				content: '';
                display: inline;
                font-weight: 700;
				counter-increment: myCounter;
				content: counters(myCounter, ".") ". ";			
			}
		}
	}
    a{
        display: inline-block;
        color: rgb(25, 111, 224);
        border-bottom: 1px solid rgb(25, 111, 224);
        &:hover{
            border-color: transparent;
        }
    }
}
.bg{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #232121;
    transition: all 0.3s ease;
    z-index: 40;
    visibility: hidden;
    opacity: 0;
    &.active{
        opacity: 0.70;
        visibility: visible;
    }
}