/*====================================NEW====================================*/
body{
    padding-top: 128px;
}
.indexpage{
    padding-top: 150px;
}
h2, .title_2{
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: -0.01em;
}
.btn_full{
    width: 100%;
}
.section__title{
    font-size: 40px;
}
.center-wrapper_big {
    max-width: 1350px;
}
.accent_color{
    color: #38AA70;
}
.btn{
    border-radius: 10px;
}
.header{
    padding: 15px 0 10px 0;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.08);
}
.header-phone{
    align-items: flex-end;
    &__callback{
        font-size: 14px;
    }
}
.header-social{
    padding-left: 45px;
}
.header-social__btn{
    margin-left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #E9EBEF;
    flex: 0 0 40px;
    height: 40px;
    padding: 11px;
    &:hover{
        background: #E9EBEF;
    }
    &_mobile{
        display: none;
    }
    img{
        max-width: 100%;
        max-height: 100%;
    }
}
.header-menu__list > li.current{
    a{
        color: #38AA70;
    }
}
.footer{
    padding-top: 60px;
    border-top: 1px solid #E9EBEF;
}
.footer__col_social{
    display: none;
}
.footer-social__btn{
    margin-left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #E9EBEF;
    flex: 0 0 40px;
    height: 40px;
    padding: 10px;
    &:hover{
        background: #E9EBEF;
    }
}
.tg{
    position: relative;
    margin: -15px 0 15px 0;
    padding: 10px 0;
    background: linear-gradient(90deg, #040d14 0%, #016a3e 100%);
    &__body{
        display: flex;
        justify-content: center;
        padding: 0 50px;
        align-items: center;
    }
    &__text{
        display: flex;
        align-items: center;
        margin-right: 24px;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        color: #fff;
        svg{
            margin-right: 16px;
            flex: 0 0 20px;
            margin-top: -2px;
        }
    }
    &__btn{
        border-radius: 8px;
        padding: 0 16px;
        height: 32px;
        font-size: 15px;
    }
    &__close{
        position: absolute;
        top: 50%;
        right: 18px;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 20;
    }
}
.callback{
    &_bottom{
        padding: 0 0 100px;
    }
    &__title{
        margin-bottom: 32px;
        line-height: 1.2;
        font-size: 48px;
    }
    &__text{
        margin-bottom: 60px;
        font-weight: 500;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.8);
        line-height: 1.75;
    }
    &__btn{
        padding: 0 25px;
    }
}
.callback__body{
    padding: 80px;
    background-image: url(../img/callback-image.jpg);
    background-size: cover;
    background-position: 50% 50%;
}
.promo{
    padding: 0;
    background: transparent;
    &__main{
        display: flex;
        align-items: center;
        padding: 48px;
        background-image: url(../img/bg-promo-service.jpg);
        background-size: cover;
        border-radius: 20px;
    }
    &__title {
        margin-bottom: 10px;
        color: #fff;
    }
    &__text {
        margin-bottom: 42px;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.46;
        color: rgba(255, 255, 255, 0.8);
    }
    &__leftside{
        flex-grow: 1;
        padding-right: 30px;
    }
    &__rightside{
        padding-right: 50px;
    }
    &__callback{
        padding: 0 24px;
    }
    &__img img{
        max-width: 650px;
    }
}
.promo-tags {
    display: flex;
    gap: 4px;
    margin-bottom: 16px;
    &__item{
        padding: 7px 12px;
        background: #232B31;
        font-size: 13px;
        font-weight: 600;
        color: #fff;
        border-radius: 50px;
    }
}
.reason-item__top{
    margin-bottom: 20px;
}
.reason-item__desc{
    line-height: 1.5;
}
.tariffs .section__title{
    margin-bottom: 40px;
}
.tariffs-item__title{
    margin-bottom: 22px;
    padding-bottom: 23px;
}
.tariffs-item__price{
    padding: 24px 0;
}
.tariffs-item__social{
    border: 1px solid #E9EBEF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    min-width: 0;
}
.capabilities-tabs__btn{
    border-radius: 50px;
}
.capabilities-block__list li{
    margin-bottom: 20px;
}
.benefits-item__caption{
    font-size: 18px;
}
.benefits-item__desc{
    line-height: 1.5;
}
.demonstration__body{
    display: flex;
    flex-direction: row-reverse;
    padding: 40px 95px 40px 40px;
    border-radius: 20px;
    background: #2AABEE;
    background-repeat: no-repeat;
}
.demonstration__content{
    flex-grow: 1;
    padding-right: 20px;
}
.demonstration__title{
    margin-bottom: 32px;
    font-size: 28px;
}
.stages-item{
    padding-right: 16px;
    padding-bottom: 4px;
}
@media (max-width: 1299px) {
    .indexpage{
        padding-top: 140px;
    }
    .callback__title{
        font-size: 40px;
    }
    .promo__rightside{
        padding-right: 0;
    }
    .promo__img{
        display: block;
        img{
            max-width: 450px;
        }
    }
    .promo__mobile{
        display: none;
    }
}
@media (max-width: 991px) {
    .indexpage{
        padding-top: 155px;
    }
    .promo__leftside{
        padding-right: 0;
    }
    .promo__rightside{
        display: none;
    }
    .promo__mobile{
        display: block;
    }
    .promo__title{
        margin-bottom: 40px;
        br{
            display: none;
        }
    }
    .promo__img{
        img{
            width: 100%;
            max-width: 600px;
        }
    }
    .callback__body{
        padding: 60px 40px;
        background-position: 62% 50%;
    }
    .callback__title{
        font-size: 32px;
    }
    .callback__text{
        max-width: 380px;
        br{
            display: none;
        }
    }
    .footer__col_social{
        display: block;
    }
    .reason__row_3 .reason__col{
        flex: 0 0 100%;
    }
    .benefits-item__caption{
        font-size: 15px;
    }
    .benefits-item__desc{
        font-size: 14px;
    }
    .demonstration__body{
        display: block;
    }
    .demonstration__img {
        margin-bottom: 40px;
        img{
            max-width: 300px;
        }
    }
}
@media (max-width: 767px) {
    .tg__body{
        padding-left: 30px;
    }
    .tg__text{
        font-size: 14px;
        line-height: 1.4;
    }
    .header-social__btn_mobile{
        display: inline-flex;
    }
    .footer{
        padding-top: 35px;
    }
    .callback__body{
        margin: 0;
        border-radius: 16px;
        padding: 20px;
        background-position: 50% 30%;
        background-image: url(../img/callback-image-mobile.jpg);
    }
    .callback__content{
        display: flex;
        height: 480px;
        flex-direction: column;
    }
    .callback__text{
        margin: auto 0 40px;
    }
    .section__title{
        font-size: 22px;
    }
}
@media (max-width: 575px) {
    body{
        padding-top: 175px;
    }
    .indexpage{
        padding-top: 192px;
    }
    .tg{
        padding: 15px 0;
    }
    .tg__body{
        display: block;
        padding-left: 20px;
    }
    .tg__text{
        margin: 0 0 12px;
        font-size: 13px;
    }
    .tg__close{
        top: 15px;
        transform: none;
    }
    .header-social{
        padding-left: 0;
    }
    .header-contacts{
        align-items: center;
    }
    .reviews-carousel__slide{
        padding: 0 6px;
    }
    .reviews-carousel{
        margin-left: -6px;
    }
    .promo__text{
        br{
            display: none;
        }
    }
    .section{
        padding: 30px 0;
    }
    .demonstration__body {
        border-radius: 0;
        padding: 20px;
        margin-left: -15px;
        margin-right: -15px;
    }
    .demonstration__img {
        margin-bottom: 30px;
    }
    .demonstration__content {
        padding-right: 0;
    }
    .demonstration__body .section__title {
        margin-bottom: 24px;
        font-size: 20px;
    }
    .demonstration__btn {
        width: 100%;
    }
    .demonstration__img img {
        max-width: 100%;
    }
}
/*-------------------------common-------------------------*/
.breadcrumbs{
    padding: 32px 0 20px 0;
    &__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
    }
    &__list li {
        position: relative;
        margin: 0 18px 10px 0;
        padding: 0 2px;
        font-size: 14px;
        line-height: 1.2;
        color: #232323;
    }
    &__list li:last-child:after {
        display: none;
    }
    &__list li:after {
        content: '-';
        display: block;
        position: absolute;
        right: -12px;
        top: 0;
        color: #868686;
    }
    &__list li a {
        text-decoration: none;
        color: #868686;
    }
    &__list li a:hover {
        color: #38AA70;
    }
}
.main{
    padding-bottom: 100px;
    &__title{
        margin-bottom: 45px;
        font-size: 52px;
        line-height: 1.23;
    }
}
.section-block{
    margin-bottom: 100px;
    &:last-child{
        margin-bottom: 0;
    }
    &__title{
        margin-bottom: 40px;
        font-size: 40px;
        font-weight: 600;
        line-height: 1.4;
    }
}
@media (max-width: 991px) {
    .main__title{
        font-size: 40px;
    }
    .section-block__title{
        font-size: 26px;
    }
}
@media (max-width: 767px) {
    .main{
        padding-bottom: 60px;
    }
}
@media (max-width: 575px) {
    .main__title{
        margin-bottom: 30px;
        font-size: 32px;
    }
    .section-block{
        margin-bottom: 64px;
    }
    .section-block__title{
        margin-bottom: 24px;
    }
    .breadcrumbs__list li{
        font-size: 13px;
    }
}
/*-------------------------reviews-------------------------*/
.reviews{
    &__row{
        display: flex;
        flex-wrap: wrap;
        gap: 24px 20px;
    }
    .reviews-item{
        flex: 0 0 calc((100% - 60px) / 4);
        min-width: 0;
    }
}
.reviews-item{
    padding: 22px 20px;
    &__img{
        display: block;
        border-radius: 12px;
        overflow: hidden;
    }
    &__info{
        height: 85px;
    }
    &__post{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        line-height: 1.4;
    }
    &__author{
        font-size: 18px;
        line-height: 1.2;
    }
}
@media (max-width: 1299px) {
    .reviews .reviews-item{
        flex: 0 0 calc((100% - 40px) / 3);
    }
}
@media (max-width: 991px) {
    .reviews .reviews-item {
        flex: 0 0 calc((100% - 20px) / 2);
    }
    .reviews-item__img {
        height: 420px;
    }
}
@media (max-width: 767px) {
    .reviews-item__img {
        height: 300px;
    }
}
@media (max-width: 575px) {
    .reviews .reviews-item{
        flex: 0 0 100%;
        margin: 0 auto;
        max-width: 290px;
    }
    .reviews .reviews-item__img{
        height: 345px;
    }
}
/*-------------------------contacts-------------------------*/
.contacts-section{
    display: flex;
    gap: 24px;
    margin-bottom: 100px;
    &__leftside{
        flex: 0 0 380px;
        min-width: 0;
    }
    &__rightside{
        flex-grow: 1;
    }
}
.contacts-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    background: #F5F5F5;
    border-radius: 16px;
    height: 100%;
    &__phone{
        margin-bottom: 16px;
        font-size: 28px;
        font-weight: 600;
        line-height: 1.28;
        text-align: center;
        color: #232323;
        &:hover{
            color: #38AA70;
        }
    }
    &__mail{
        margin-bottom: 40px;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.33;
        text-align: center;
        color: #38AA70;
    }
}
.contacts-info-address{
    &__item{
        margin-bottom: 16px;
    }
    &__caption{
        margin-bottom: 8px;
        font-size: 16px;
        line-height: 1.5;
        color: #868686;
    }
    &__value{
        font-size: 18px;
        font-weight: 600;
        line-height: 1.33;
        color: #232323;
    }
}
.contacts-info-social{
    display: flex;
    margin-top: 24px;
    &__btn{
        margin-right: 12px;
        &:hover{
            opacity: 0.7;
        }
    }
}
.contacts-map{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20px;
    &__btns{
        display: flex;
    }
    &__btn{
        margin-right: 8px;
        padding: 0 24px;
        background: #fff;
        color: #38AA70;
        font-weight: 600;
        border: 1px solid #38AA70;
        border-radius: 50px;
        &.active{
            background: #38AA70;
            color: #fff;
        }    
    }
    &__body{
        min-height: 338px;
        flex-grow: 1;
    }
    &__section{
        display: none;
        height: 100%;
        border-radius: 20px;
        overflow: hidden;
        &.active{
            display: block;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.contacts-form{
    padding: 40px;
    background: #F5F5F5;
    border-radius: 20px;
    &__title{
        margin-bottom: 40px;
    }
    &__row{
        display: flex;
        margin-bottom: 24px;
        gap: 24px;
    }
    &__col{
        flex: 1;
    }
    &__input{
        width: 100%;
        height: 48px;
        padding: 0 20px;
        color: #232323;
        background: #fff;
        border-radius: 8px;
    }
    &__area{
        padding: 15px 20px;
        width: 100%;
        height: 124px;
        resize: vertical;
        color: #232323;
        background: #fff;
        border-radius: 8px;
    }
    &__file{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    &__bottom{
        display: flex;
        align-items: center;
        gap: 40px;
    }
    &__send{
        flex: 0 0 338px;
    }
    &__agreement{
        flex-grow: 1;
        font-size: 16px;
        line-height: 1.4;
        color: #868686;
        a{
            color: #868686;
            border-bottom: 1px solid #868686;
            &:hover{
                border-color: transparent;
            }
        }
    }
}
.file-upload{
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover{
        color: #38AA70;
        path{
            stroke: #38AA70;
        }
    }
    svg{
        margin-right: 10px;
    }
    path{
        transition: all 0.3s ease;
    }
}
@media (max-width: 991px) {
    .contacts-section{
        display: block;
        &__leftside{
            margin-bottom: 40px;
        }
    }
    .contacts-map__body{
        min-height: auto;
    }
    .contacts-map__section{
        height: 300px;
    }
    .contacts-form{
        &__row{
            flex-wrap: wrap;
        }
        &__col{
            flex: 0 0 100%;
        }
    }
    .contacts-form__bottom{
        display: block;
    }
    .contacts-form__send{
        margin-bottom: 20px;
    }
}
@media (max-width: 767px) {
    .main{
        padding-bottom: 60px;
    }
    .contacts-section{
        margin-bottom: 64px;
    }
}
@media (max-width: 575px) {
    .contacts-form{
        padding: 20px;
        &__title{
            margin-bottom: 24px;
            font-size: 20px;
        }
        &__row{
            margin-bottom: 16px;
            gap: 16px;
        }
    }
    .contacts-form__file{
        margin: 24px 0;
    }
    .contacts-form__agreement{
        font-size: 12px;
    }
    .contacts-map__btn{
        font-size: 14px;
    }
    .contacts-info{
        padding: 20px;
    }
    .contacts-info__phone{
        font-size: 20px;
    }
    .contacts-info__mail{
        font-size: 16px;
    }
    .contacts-info-address__caption{
        margin-bottom: 4px;
        font-size: 14px;
    }
    .contacts-info-address__value{
        font-size: 16px;
    }
}
/*-------------------------works-------------------------*/
.works{
    display: flex;
    flex-wrap: wrap;
    gap: 24px 20px;
    .projects-item{
        flex: 0 0 calc((100% - 40px) / 3);
        min-width: 0;
    }
}
.projects-item{
    position: relative;
    height: 100%;
    border: 1px solid #E9EBEF;
    border-radius: 16px;
    &__labels{
        display: flex;
        position: absolute;
        top: 12px;
        left: 12px;
        gap: 6px;
        z-index: 20;
    }
    &__label{
        padding: 0 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 28px;
        font-size: 13px;
        font-weight: 600;
        color: #fff;
        border-radius: 30px;
    }
    &__img{
        margin: 0;
        border-radius: 16px;
    }
    &__content{
        padding: 24px 20px;
    }
    &__title{
        margin-bottom: 8px;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.4;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2; 
        overflow: hidden;
    }
    &__text{
        font-size: 14px;
        line-height: 1.42;
        color: #868686;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2; 
        overflow: hidden;
    }
}
.label_orange{
    background: #FDCB00;
    color: #232323;
}
.label_blue{
    background: linear-gradient(92deg, #029cde 0%, #006fc3 100%);
}
.label_green{
    background: #38AA70;
}
.label_red{
    background: #E71010;
}
@media (max-width: 1299px) {
    .works .projects-item__img{
        height: 300px;
    }
}
@media (max-width: 991px) {
    .works .projects-item {
        flex: 0 0 calc((100% - 20px) / 2);
    }
    .works .projects-item__img{
        height: 340px;
    }
}
@media (max-width: 575px) {
    .works .projects-item {
        flex: 0 0 100%;
    }
    .works .projects-item__img{
        height: 340px;
    }
    .works .projects-item__content{
        padding: 20px;
    }
    .works .projects-item__title{
        font-size: 16px;
    }
}
/*-------------------------services-------------------------*/
.mainservices{
    &__row{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
}
.mainservices-item{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 0 0 calc((100% - 20px) / 2);
    min-width: 0;
    padding: 28px;
    min-height: 394px;
    border-radius: 16px;
    overflow: hidden;
    z-index: 1;
    &__image{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__icon{
        margin-bottom: 32px;
        border-radius: 12px;
        padding: 20px;
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__icon_1{
        background: #fece07;
    }
    &__icon_2{
        background-image: linear-gradient(90deg, #07a7e5 0%, #0869a8 100%);
    }
    &__icon_3{
        background: #fff;
    }
    &__icon_4{
        background: #38AA70;
    }
    &__title{
        margin-bottom: 12px;
        font-weight: 600;
        font-size: 24px;
        line-height: 1.33;
        color: #fff;
    }
    &__text{
        margin-bottom: 30px;
        font-weight: 500;
        font-size: 15px;
        line-height: 1.46;
        color: #fff;
    }
    &__more{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-top: auto;
        padding: 0 20px 0 28px;
        height: 50px;
        color: #fff;
        font-weight: 600;
        border-radius: 10px;
        background: rgba(255,255,255, 0.12);
        &:hover{
            background: #38AA70;
        }
        svg{
            margin-left: 10px;
        }
    }
}
@media (max-width: 991px) {
    .mainservices__row{
        display: block;
    }
    .mainservices-item{
        margin-bottom: 20px;
    }
}
@media (max-width: 575px) {
    .mainservices-item{
        padding: 20px;
        min-height: 350px;
    }
    .mainservices-item__icon{
        width: 60px;
        height: 60px;
        padding: 10px;
        img{
            max-width: 100%;
            max-height: 100%;
        }
    }
    .mainservices-item__title{
        font-size: 20px;
        br{
            display: none;
        }
    }
    .mainservices-item__text{
        font-size: 14px;
        br{
            display: none;
        }
    }
}
/*-------------------------about-------------------------*/
.team{
    &__row{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
}
.team-item{
    flex: 0 0 calc((100% - 60px) / 4);
    min-width: 0;
    padding: 0 12px;
    &__photo{
        margin: 0 -12px 24px;
        height: 282px;
        border-radius: 16px;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__name{
        margin-bottom: 6px;
        font-size: 20px;
        font-weight: 600;
        line-height: 1.2;
    }
    &__post{
        margin-bottom: 6px;
        font-size: 14px;
        line-height: 1.57;
        color: #868686;
    }
    &__desc{
        font-size: 14px;
        line-height: 1.57;
    }
}
.certificates-carousel-wrap{
    position: relative;
    .swiper-button-disabled{
        cursor: default;
        opacity: 0;
    }
}
.certificates-carousel{
    &__arrow{
        position: absolute;
        display: block;
        top: 108px;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        font-size: 0;
        background-color: #232323;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        z-index: 20;
        &:hover{
            background: #38AA70;
        }
    }
    &__prev{
        left: -24px;
    }
    &__next{
        right: -24px;
    }
}
.certificates-item{
    width: 185px;
    &_big{
        width: 373px;
    }
    &__img{
        margin-bottom: 16px;
        height: 264px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__title{
        margin-bottom: 8px;
        font-weight: 600;
        line-height: 1.4;
    }
    &__text{
        font-size: 16px;
        font-weight: 400;
        line-height: 1.4;
    }
}
.features{
    &__list{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    &__item{
        font-size: 16px;
        line-height: 1.75;
    }
}
@media (max-width: 1299px) {
    .team-item__photo{
        height: 230px;
    }
    .team-item__name{
        font-size: 18px;
    }
    .team-item__desc{
        font-size: 13px;
    }
    .certificates-item{
        width: 176px;
    }
    .certificates-item_big{
        width: 352px;
    }
    .certificates-item__text{
        font-size: 14px;
    }
}
@media (max-width: 991px) {
    .promo__main{
            background: radial-gradient(307.19% 122.26% at 54.48% 56.91%, #016a3e 0%, #040d14 100%);
    }
    .team-item{
        flex: 0 0 calc((100% - 40px) / 3);
    }
    .certificates-item{
        width: 160px;
    }
    .certificates-item_big{
        width: 321px;
    }
    .certificates-item__img{
        height: 235px;
    }
}
@media (max-width: 767px) {
    .team-item {
        flex: 0 0 calc((100% - 20px) / 2);
    }
    .certificates-item{
        width: 165px;
    }
    .certificates-item_big{
        width: 335px;
    }
}
@media (max-width: 575px) {
    .promo__main{
        padding: 20px;
    }
    .promo__title{
        font-size: 32px;
        br{
            display: none;
        }
    }
    .team__row{
        gap: 12px;
    }
    .team-item{
        flex: 0 0 calc((100% - 12px) / 2);
    }
    .team-item__photo{
        margin-bottom: 15px;
        height: 170px;
    }
    .team-item__name{
        font-size: 16px;
    }
    .team-item__desc{
        font-size: 12px;
    }
    .certificates-carousel{
        margin-right: -15px;
        padding-right: 15px;
    }
    .certificates-item{
        width: 220px;
    }
    .certificates-item_big{
        width: calc((100vw - 50px));
    }
    .certificates-item__img{
        height: 300px;
    }
}
/*-------------------------project-------------------------*/
.project{
    padding-bottom: 70px;
    &__body{
        display: flex;
        gap: 48px;
    }
    &__content{
        flex-grow: 1;
    }
    &__rightside{
        position: relative;
        flex: 0 0 288px;
        width: 288px;
        min-width: 0;
        z-index: 30;
    }
}
.project-info{
    transition: all 0.3s ease;
    &.is-active{
        transform: translateY(140px);
    }
    &__block{
        margin-bottom: 12px;
        padding: 20px;
        border-radius: 12px;
        border: 1px solid #E9EBEF;
        box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.08);
    }
    &__caption{
        margin-bottom: 6px;
        font-weight: 400;
        font-size: 15px;
        line-height: 1.6;
        color: #868686;
    }
    &__text{
        margin-bottom: 12px;
        font-size: 15px;
        line-height: 1.46;
        &:last-child{
            margin-bottom: 0;
        }
        a{
            font-size: 16px;
            font-weight: 600;
            color: #38AA70;
            &:hover{
                opacity: 0.7;
            }
        }
    }
}
.project-info-free{
    text-align: center;
    &__title{
        margin-bottom: 4px;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
    }
    &__desc{
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 1.57;
        color: #868686;
    }
    &__btn{
        height: 40px;
        font-size: 15px;
    }
}
.project-img{
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
    background-image: url(../img/project-img-bg.jpg);
    background-size: cover;
    background-position: 50% 50%;
    padding: 45px;
    border-radius: 20px;
    overflow: hidden;
    img{
        max-width: 100%;
        max-height: 100%;
    }
}
.project-stat{
    display: flex;
    margin-bottom: 64px;
    gap: 20px;
    &__item{
        flex: 1 1 0;
        min-width: 0;
        padding: 20px;
        box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.08);
        border: 1px solid #E9EBEF;
        border-radius: 12px;
    }
    &__caption{
        margin-bottom: 8px;
        font-weight: 600;
        font-size: 20px;
        line-height: 1.2;
    }
    &__desc{
        font-size: 14px;
        line-height: 1.57;
    }
}
.project-section{
    margin-bottom: 64px;
    &__img{
        margin-top: 32px;
        padding: 20px;
        border-radius: 16px;
        background: #F5F5F5;
        img{
            border-radius: 12px;
            width: 100%;
        }
    }
    p{
        line-height: 1.75;  
        letter-spacing: -0.01em;
    }
    ul{
        padding-top: 5px;
        li{
            position: relative;
            margin-bottom: 8px;
            padding-left: 18px;
            line-height: 1.75;  
            letter-spacing: -0.01em;
            &:before{
                content: '';
                display: block;
                position: absolute;
                top: 10px;
                left: 0;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background: #38AA70;
            }
        }
    }
}
.project-steps{
    display: flex;
    flex-wrap: wrap;
    gap: 20px 16px;
    padding-top: 20px;
    &__item{
        flex: 0 0 calc((100% - 32px) / 3);
        min-width: 0;
        padding: 24px;
        box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.08);
        border-radius: 12px;
    }
    &__num{
        margin-bottom: 24px;
        border-radius: 8px;
        padding: 10px 15px;
        width: 56px;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(56, 170, 112, 0.1);
        font-weight: 600;
        font-size: 24px;
        line-height: 1.4;
        color: #38AA70;
        letter-spacing: -0.01em;
    }
    &__desc{
        line-height: 1.5;
    }
}
.project-scheme{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0 0;
    &__item{
        border-radius: 12px;
        padding: 40px;
        flex: 0 0 206px;
        width: 206px;
        height: 206px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #F5F5F5;
        img{
            max-width: 100%;
            max-height: 100%;
        }
    }
}
.project-review{
    padding: 30px 0;
    &__title{
        margin-bottom: 40px;
        font-size: 40px;
    }
    &__body{
        display: flex;
        gap: 40px;
        padding: 40px;
        border-radius: 16px;
        background: #F5F5F5;
    }
    &__img{
        flex: 0 0 280px;
        height: 395px;
        min-width: 0;
        border-radius: 12px;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__content{
        flex-grow: 1;
    }
    &__name{
        margin-bottom: 8px;
        font-size: 20px;
        font-weight: 600;
        line-height: 1.4;
    }
    &__post{
        margin-bottom: 20px;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.46;
    }
    &__desc{
        p{
            margin-bottom: 12px;
            line-height: 1.5;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}
@media (max-width: 1299px) {
    .project__body{
        gap: 20px;
    }
    .project__rightside{
        flex: 0 0 260px;
        width: 260px;  
    }
    .project-stat__caption{
        font-size: 17px;
    }
    .project-scheme__item{
        flex: 0 0 180px;
        width: 180px;
        height: 180px;
    }
    .project-scheme__arrow{
        img{
            max-width: 25px;
        }
    }
    .project-steps__item{
        flex: 0 0 calc((100% - 16px) / 2);
    }
}
@media (max-width: 991px) {
    .project__body{
        display: block;
    }
    .project-review__body{
        gap: 20px;
    }
    .project__rightside{
        width: 100%;
    }
    .project-review__img{
        flex: 0 0 220px;
        height: 320px;
    }
}
@media (max-width: 767px) {
    .project{
        padding-bottom: 40px;
    }
    .project-section p{
        font-size: 14px;
    }
    .project-section ul li{
        padding-left: 15px;
        font-size: 14px;
        &:before{
            top: 8px;
        }
    }
    .project-stat{
        flex-direction: column;
        gap: 12px;
    }
    .project-stat__caption{
        font-size: 20px;
    }
    .project-steps__desc{
        font-size: 14px;
    }
    .project-scheme__item{
        flex: 0 0 140px;
        width: 140px;
        height: 140px;
        padding: 30px;
    }
    .project-info__text{
        font-size: 14px;
    }
    .project-review__body{
        display: block;
        padding: 20px;
    }
    .project-review__img{
        display: block;
        width: 220px;
        margin-bottom: 20px;
    }
    .project-review__desc p{
        font-size: 14px;
    }
}
@media (max-width: 575px) {
    .main__title{
        font-size: 28px;
    }
    .project-review__title{
        margin-bottom: 20px;
        font-size: 28px;
    }
    .project-img{
        padding: 20px;
        height: 300px;
    }
    .project-steps{
        display: block;
        &__item{
            margin-bottom: 16px;
            padding: 20px;
        }
    }
    .project-scheme{
        flex-direction: column;
        &__item{
            width: 100%;
        }
        &__arrow{
            padding: 15px 0;
            img{
                transform: rotate(-90deg);
                max-width: 38px;
            }
        }
    }
}